<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>大井保育园</title>

    <!--<link type="text/css" href="./css/jquery.jslides.css" rel="stylesheet" media="screen">-->

    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.SuperSlide.2.1.2.js"></script>

    <!--header right footer-->
    <script type="text/javascript" src="js/nav.js"></script>
    <link type="text/css" href="css/base.css" rel="stylesheet">
    <link type="text/css" href="css/page.css" rel="stylesheet">
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <!--header right footer-->

    <link type="text/css" href="css/commercial3_css.css" rel="stylesheet">
    <link type="text/css" href="css/comm3.banner.css" rel="stylesheet">


    <style type="text/css">
        .top_switch ul li{
            width: 480px;
            height: 80px;
            list-style: none;
            float: left;
        }

        /*---------*/
        .comm3_show_pic ul li{
            width:960px;
            /*height:400px;*/
            /*padding-left: 20px;*/
            list-style: none;
            float: left;
        }

        .comm3_show_pic ul li img{
            width:200px;
            height:200px;
            clear: both;
            display: block;
            margin:0px auto;
        }

        .comm3_xinghao{
            font-size: 16px;
            margin-top: 15px;
            margin-left: 500px;
        }
        .comm3_price{
            font-size: 12px;
            margin-left: 500px;
        }
    </style>

</head>


<body>
<!---------------------------header-------------------------------->
<div th:include="layout/header::header"></div>

<p class="spacegap"></p>
<p class="spacegap"></p>


<!------------------------------顶部标题------------------------------------->
<p class="comm3_title">大井保育园</p>

<div class="comm3_desc">
    这是一个在福冈县福冈市新设的保育园的例子。
    在练习场上，使用以“鸟笼”为主题的墙灯，展现出清新时尚的氛围。
    多功能大厅的天花板上，因考虑到隔音、音响设计等，采用倾斜天花板用的LED筒灯。
</div>


<!------------------------------轮播------------------------------------->
<div class="comm3_banner" id="comm2_switch">
    <div class="top_switch">
        <ul>
            <li id="top_switch01">
                <div>外观</div>
            </li>
            <li id="top_switch02">
                <div>教师走廊</div>
            </li>
        </ul>
    </div>


    <div class="content_banner">
        <div class="content1" id="content1">
            <div class="content_banner1" id="content_banner1">
                <div id="content_banner1_div">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo01.jpg" style="display: block">
                    <img class="banner1_vert" src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo02.jpg">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo03.jpg">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo04.jpg">
                    <img class="banner1_vert" src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo05.jpg">
                    <img class="banner1_vert" src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo06.jpg">
                    <img class="banner1_vert" src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo07.jpg">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo01.jpg">
                </div>
            </div>
            <ul>
                <li style="background: #CC0000">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_s_photo01.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_s_photo02.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_s_photo03.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_s_photo04.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_s_photo05.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_s_photo06.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_s_photo07.jpg">
                </li>
            </ul>
        </div>

        <div class="content2" id="content2">
            <div class="content_banner2" id="content_banner2">
                <div id="content_banner2_div">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_photo01.jpg" style="display: block">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_photo02.jpg">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_photo03.jpg">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_photo04.jpg">
                    <img class="banner2_vert" src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_photo05.jpg">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_photo06.jpg">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_photo01.jpg">
                </div>
            </div>
            <ul>
                <li style="background: #CC0000">
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_s_photo01.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_s_photo02.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_s_photo03.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_s_photo04.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_s_photo05.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/6学校/1大井保育园/图片/2教室走廊/02_s_photo06.jpg">
                </li>
            </ul>
        </div>


    </div>

</div>

<!---------------------------展示图-------------------------->
<p class="spacegap"></p>
<div class="comm3_show_pic">
    <div class="comm3_title">采用产品</div>
    <p class="spacegap"></p>
    <ul>
        <li>
            <img src="./images/商用案例/6学校/1大井保育园/采用的产品/MAIN_OG042127LD.jpg">
            <div class="comm3_xinghao">型号：OG042127LD</div>
            <!--<div class="comm3_price">价格：498,000</div>-->
        </li>
    </ul>
</div>


<div class="comm3_contact">
    <a href="http://wpa.qq.com/msgrd?v=3&uin=806015080&site=qq&menu=yes" target="_blank"><img src="./images/comm3_buy.png"></a>
</div>


<p class="spacegap"></p>
<p class="spacegap"></p>



<!--------------------------right---------------------->
<div th:include="layout/right::right"></div>


<!-------------------------footer------------------------------>
<div th:include="layout/footer::footer"></div>






<!------------------------------顶部轮播图布局JS------------------------------------->
<script type="text/javascript">

    function sendParam1(c1) {
        document.getElementById('content_banner1_div').style.width = ((c1+1) * 960)+"px";
        var c = 0;

        function autorun() {
            c = c + 1;
            if (c == (c1 + 1)) {
                c = 1;
                $("#content_banner1 div").css({"left": 0})
            }
            console.log(c);
            $("#content_banner1 div").animate({"left": c * -960}, 300)

            for (var i = 0; i < c1; i++) {
                document.getElementById('content1').getElementsByTagName("li")[i].style.background = "#DDDDDD";
            }

            if (c == c1) {
                document.getElementById('content1').getElementsByTagName("li")[0].style.background = "#CC0000";
            } else {
                document.getElementById('content1').getElementsByTagName("li")[c].style.background = "#CC0000";
            }

        }

        var timer = setInterval(autorun, 2500)

        $("#content1").mouseleave(function () {
            timer = setInterval(autorun, 2500);
        });
        $("#content1").mouseenter(function () {
            clearInterval(timer);
        });

        $("#content1 ul li").mouseenter(function () {
            c = $(this).index();
            $("#content_banner1 div").css({"left": c * -960})

            for (var i = 0; i < c1; i++) {
                document.getElementById('content1').getElementsByTagName("li")[i].style.background = "#DDDDDD";
            }

            if (c == c1) {
                document.getElementById('content1').getElementsByTagName("li")[0].style.background = "#CC0000";
            } else {
                document.getElementById('content1').getElementsByTagName("li")[c].style.background = "#CC0000";
            }
        });
    }


    function sendParam2(c1) {
        document.getElementById('content_banner2_div').style.width=((c1+1) * 960)+"px";
        var c=0;

        function autorun() {
            c=c+1;
            if(c==(c1+1)){
                c=1;
                $("#content_banner2 div").css({"left":0})
            }
            console.log(c);
            $("#content_banner2 div").animate({"left":c*-960},300)

            for(var i=0; i<c1;i++){
                document.getElementById('content2').getElementsByTagName("li")[i].style.background="#DDDDDD";
            }

            if(c==c1){
                document.getElementById('content2').getElementsByTagName("li")[0].style.background="#CC0000";
            }else {
                document.getElementById('content2').getElementsByTagName("li")[c].style.background="#CC0000";
            }

        }

        var timer =setInterval(autorun,2500)

        $("#content2").mouseleave(function () {
            timer =setInterval(autorun,2500);
        });
        $("#content2").mouseenter(function ( ) {
            clearInterval(timer);
        });

        $("#content2 ul li").mouseenter(function () {
            c=$(this).index();
            $("#content_banner2 div").css({"left":c*-960})

            for(var i=0; i<c1;i++){
                document.getElementById('content2').getElementsByTagName("li")[i].style.background="#DDDDDD";
            }

            if(c==c1){
                document.getElementById('content2').getElementsByTagName("li")[0].style.background="#CC0000";
            }else {
                document.getElementById('content2').getElementsByTagName("li")[c].style.background="#CC0000";
            }
        });
    }



    sendParam1(7);
    sendParam2(6);



    function initView(){
        document.getElementById('top_switch01').style.background="#666666";
        document.getElementById('top_switch02').style.background="#999999";
        document.getElementById('content1').style.display="block";
        document.getElementById('content2').style.display="none";
    };
    initView();


    $("#top_switch01").click(function () {
        document.getElementById('top_switch01').style.background="#666666";
        document.getElementById('top_switch02').style.background="#999999";
        document.getElementById('content1').style.display="block";
        document.getElementById('content2').style.display="none";
    });
    $("#top_switch02").click(function () {
        document.getElementById('top_switch01').style.background="#999999";
        document.getElementById('top_switch02').style.background="#666666";
        document.getElementById('content1').style.display="none";
        document.getElementById('content2').style.display="block";
    });


</script>

</body>
</html>