<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>客户案例</title>




    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.SuperSlide.2.1.2.js"></script>



    <!--header right footer-->
    <script type="text/javascript" src="js/nav.js"></script>
    <link type="text/css" href="css/base.css" rel="stylesheet">
    <link type="text/css" href="css/page.css" rel="stylesheet">
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <!--header right footer-->

    <link type="text/css" href="css/commercial2_css.css" rel="stylesheet">


</head>


<body>

<!---------------------------header-------------------------------->
<div th:include="layout/header::header"></div>



<!------------------------------顶部banner布局------------------------------------->
<div class="comm2_banner">
    <img src="./images/comm_banner.jpg" >
</div>
<p class="spacegap"></p>

<!----------------------------------标题选项栏------------------------------------------------>
<p class="spacegap"></p>
<div class="comm2_switch" id="comm2_switch">
    <ul>
        <li id="comm2_switch01">
            <img src="images/comm2/comm2_icon_01.png">
            <div>酒店</div>
        </li>
        <li id="comm2_switch02">
            <img src="images/comm2/comm2_icon_02.png">
            <div>商场店铺</div>
        </li>
        <li id="comm2_switch03">
            <img src="images/comm2/comm2_icon_03.png">
            <div>餐厅</div>
        </li>
        <li id="comm2_switch04">
            <img src="images/comm2/comm2_icon_04.png">
            <div>办公室</div>
        </li>
        <li id="comm2_switch05">
            <img src="images/comm2/comm2_icon_05.png">
            <div>展厅</div>
        </li>
        <li id="comm2_switch06">
            <img src="images/comm2/comm2_icon_06.png">
            <div>学校</div>
        </li>
        <li id="comm2_switch07">
            <img src="images/comm2/comm2_icon_07.png">
            <div>宴会厅</div>
        </li>
    </ul>
</div>


<!--------------------------------案例展示------------------------------------------------->

<div class="comm2_anli">
    <p class="spacegap"></p>
    <!--1酒店-->
    <div class="comm2_anli_content" id="comm2_jiudian">
        <ul >
            <li class="img_left">
                <a href="comm311" target="_blank">
                    <div>
                        <img  src="./images/商用案例/1酒店/1金谷箱根度假村/图片/1室内/01_photo01.jpg" >
                    </div>
                </a>
                <div >金谷箱根度假村</div>
            </li>
            <li class="img_right">
                <a href="comm312" target="_blank">
                    <div>
                        <img  src="./images/商用案例/1酒店/2鬼怒川大酒店/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >鬼怒川大酒店</div>
            </li>
            <li class="img_left">
                <a href="comm313" target="_blank">
                    <div>
                        <img  src="./images/商用案例/1酒店/3定山溪万世阁酒店/图片/1咖啡馆/01_photo01.jpg" >
                    </div>
                </a>
                <div >定山溪万世阁酒店</div>
            </li>
            <li class="img_right">
                <a href="comm314" target="_blank">
                    <div>
                        <img  src="./images/商用案例/1酒店/4宴会住宿花园/图片/1宴会厅/01_photo01.jpg" >
                    </div>
                </a>
                <div >宴会住宿花园</div>
            </li>
            <li class="img_left">
                <a href="comm315" target="_blank">
                    <div>
                        <img  src="./images/商用案例/1酒店/5男鹿温泉别邸/图片/1.入口大堂/01_photo01.jpg" >
                    </div>
                </a>
                <div >男鹿温泉别邸</div>
            </li>

        </ul>
    </div>

    <!--2商场店铺-->
    <div class="comm2_anli_content" id="comm2_dianpu">
        <ul >
            <li class="img_left">
                <a href="comm321" target="_blank">
                    <div>
                        <img  src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >东京Yukizaki主店</div>
            </li>
            <li class="img_right">
                <a href="comm322" target="_blank">
                    <div>
                        <img  src="./images/商用案例/2商场店铺/2凯迪拉克雪佛兰高崎店/图片/1陈列室/01_photo01.jpg" >
                    </div>
                </a>
                <div >凯迪拉克雪佛兰高崎店</div>
            </li>
            <li class="img_left">
                <a href="comm323" target="_blank">
                    <div>
                        <img  src="./images/商用案例/2商场店铺/3丰田汽车有限公司天童店/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >丰田汽车有限公司天童店</div>
            </li>
            <li class="img_right">
                <a href="comm324" target="_blank">
                    <div>
                        <img  src="./images/商用案例/2商场店铺/4Yukisaki名古屋店/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >Yukisaki名古屋店</div>
            </li>
            <li class="img_left">
                <a href="comm325" target="_blank">
                    <div>
                        <img  src="./images/商用案例/2商场店铺/5THEATER美发沙龙/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >THEATER美发沙龙</div>
            </li>
            <li class="img_right">
                <a href="comm326" target="_blank">
                    <div>
                        <img  src="./images/商用案例/2商场店铺/6BarneysNewYork六本木店/图片/1.外观入口/01_photo01.jpg" >
                    </div>
                </a>
                <div >BarneysNewYork六本木店</div>
            </li>

        </ul>
    </div>

    <!--3餐厅-->
    <div class="comm2_anli_content" id="comm2_canting">
        <ul >
            <li class="img_left">
                <a href="comm331" target="_blank">
                    <div>
                        <img  src="./images/商用案例/3餐厅/1常盘木咖啡店/图片/1内部/01_photo01.jpg" >
                    </div>
                </a>
                <div >常盘木咖啡店</div>
            </li>
            <li class="img_right">
                <a href="comm332" target="_blank">
                    <div>
                        <img  src="./images/商用案例/3餐厅/2海萤Pororifu咖啡厅/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >海萤Pororifu咖啡厅</div>
            </li>
            <li class="img_left">
                <a href="comm333" target="_blank">
                    <div>
                        <img  src="./images/商用案例/3餐厅/3高井戸麻婆/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >高井戸麻婆</div>
            </li>
            <li class="img_right">
                <a href="comm334" target="_blank">
                    <div>
                        <img  src="./images/商用案例/3餐厅/4SolisGrande/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >SolisGrande</div>
            </li>
            <li class="img_left">
                <a href="comm335" target="_blank">
                    <div>
                        <img  src="./images/商用案例/3餐厅/5鱼游寿司银座店/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >鱼游寿司银座店</div>
            </li>
            <li class="img_right">
                <a href="comm336" target="_blank">
                    <div>
                        <img  src="./images/商用案例/3餐厅/6日式涮涮锅三鹰野崎店/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >日式涮涮锅三鹰野崎店</div>
            </li>

        </ul>
    </div>

    <!--4办公室-->
    <div class="comm2_anli_content" id="comm2_bangongsi">
        <ul >
            <li class="img_left">
                <a href="comm341" target="_blank">
                    <div>
                        <img  src="./images/商用案例/4办公室/1TBWAHAKUHODO广告公司/图片/1细节1/01_photo01.jpg" >
                    </div>
                </a>
                <div >TBWAHAKUHODO广告公司</div>
            </li>
            <li class="img_right">
                <a href="comm342" target="_blank">
                    <div>
                        <img  src="./images/商用案例/4办公室/2Nabekawi新办公室/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >Nabekawi新办公室</div>
            </li>
            <li class="img_left">
                <a href="comm343" target="_blank">
                    <div>
                        <img  src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >中西NAKANISHI新总部研发中心</div>
            </li>

        </ul>
    </div>


    <!--5展厅-->
    <div class="comm2_anli_content" id="comm2_zhanting">
        <ul >
            <li class="img_left">
                <a href="comm351" target="_blank">
                    <div>
                        <img  src="./images/商用案例/5展厅/1轻井泽现代美术馆/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >轻井泽现代美术馆</div>
            </li>
            <li class="img_right">
                <a href="comm352" target="_blank">
                    <div>
                        <img  src="./images/商用案例/5展厅/2中冈慎太郎馆/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >中冈慎太郎馆</div>
            </li>

        </ul>
    </div>

    <!--6学校-->
    <div class="comm2_anli_content" id="comm2_xuexiao">
        <ul >
            <li class="img_left">
                <a href="comm361" target="_blank">
                    <div>
                        <img  src="./images/商用案例/6学校/1大井保育园/图片/1外观/01_photo01.jpg" >
                    </div>
                </a>
                <div >大井保育园</div>
            </li>
            <li class="img_right">
                <a href="comm362" target="_blank">
                    <div>
                        <img  src="./images/商用案例/6学校/2樱花保育园/图片/1教室/01_photo01.jpg" >
                    </div>
                </a>
                <div >樱花保育园</div>
            </li>
            <li class="img_left">
                <a href="comm363" target="_blank">
                    <div>
                        <img  src="./images/商用案例/6学校/3MaryPoppinsEspal仙台室/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >MaryPoppinsEspal仙台室</div>
            </li>
            <li class="img_right">
                <a href="comm364" target="_blank">
                    <div>
                        <img  src="./images/商用案例/6学校/4花园幼儿园/图片/1图书馆/01_photo01.jpg" >
                    </div>
                </a>
                <div >花园幼儿园</div>
            </li>
            <li class="img_left">
                <a href="comm365" target="_blank">
                    <div>
                        <img  src="./images/商用案例/6学校/5米泽市立南小学体育馆/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >米泽市立南小学体育馆</div>
            </li>
            <li class="img_right">
                <a href="comm366" target="_blank">
                    <div>
                        <img  src="./images/商用案例/6学校/6凤鸣保育园/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >凤鸣保育园</div>
            </li>

        </ul>
    </div>

    <!--7宴会厅-->
    <div class="comm2_anli_content" id="comm2_yanhuiting">
        <ul >
            <li class="img_left">
                <a href="comm371" target="_blank">
                    <div>
                        <img  src="./images/商用案例/7宴会厅/1PalazzoDucale麻布/图片/1派对场所/01_photo01.jpg" >
                    </div>
                </a>
                <div >PalazzoDucale麻布</div>
            </li>
            <li class="img_right">
                <a href="comm372" target="_blank">
                    <div>
                        <img  src="./images/商用案例/7宴会厅/2奄美之乡南维尔花园/图片/1宴会场地/01_photo01.jpg" >
                    </div>
                </a>
                <div >奄美之乡南维尔花园</div>
            </li>
            <li class="img_left">
                <a href="comm373" target="_blank">
                    <div>
                        <img  src="./images/商用案例/7宴会厅/3CASA_D'_ANGELA/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >CASA_D'_ANGELA</div>
            </li>
            <li class="img_right">
                <a href="comm374" target="_blank">
                    <div>
                        <img  src="./images/商用案例/7宴会厅/4奄美之乡南部维拉花园/图片/1教堂/01_photo01.jpg" >
                    </div>
                </a>
                <div >奄美之乡南部维拉花园</div>
            </li>
            <li class="img_left">
                <a href="comm375" target="_blank">
                    <div>
                        <img  src="./images/商用案例/7宴会厅/5厚木伦勃朗酒店/图片/01_photo01.jpg" >
                    </div>
                </a>
                <div >厚木伦勃朗酒店</div>
            </li>
        </ul>
    </div>

</div>


<p class="spacegap"></p>


<!--模板选项卡-->


<!--------------------------right---------------------->
<div th:include="layout/right::right"></div>


<!-------------------------footer------------------------------>
<div th:include="layout/footer::footer"></div>



<script >
    //1酒店
    function initShow(){
        document.getElementById('comm2_jiudian').style.display="block";
        document.getElementById('comm2_dianpu').style.display="none";
        document.getElementById('comm2_canting').style.display="none";
        document.getElementById('comm2_bangongsi').style.display="none";
        document.getElementById('comm2_zhanting').style.display="none";
        document.getElementById('comm2_xuexiao').style.display="none";
        document.getElementById('comm2_yanhuiting').style.display="none";
    }
    initShow();


    $("#comm2_switch ul #comm2_switch01").click(function () {
        console.log("酒店")

        document.getElementById('comm2_jiudian').style.display="block";
        document.getElementById('comm2_dianpu').style.display="none";
        document.getElementById('comm2_canting').style.display="none";
        document.getElementById('comm2_bangongsi').style.display="none";
        document.getElementById('comm2_zhanting').style.display="none";
        document.getElementById('comm2_xuexiao').style.display="none";
        document.getElementById('comm2_yanhuiting').style.display="none";


    });
    //2商场店铺
    $("#comm2_switch ul #comm2_switch02").click(function () {
        console.log("商场店铺")

        document.getElementById('comm2_jiudian').style.display="none";
        document.getElementById('comm2_dianpu').style.display="block";
        document.getElementById('comm2_canting').style.display="none";
        document.getElementById('comm2_bangongsi').style.display="none";
        document.getElementById('comm2_zhanting').style.display="none";
        document.getElementById('comm2_xuexiao').style.display="none";
        document.getElementById('comm2_yanhuiting').style.display="none";
    });
    //3餐厅
    $("#comm2_switch ul #comm2_switch03").click(function () {
        console.log("餐厅")
        document.getElementById('comm2_jiudian').style.display="none";
        document.getElementById('comm2_dianpu').style.display="none";
        document.getElementById('comm2_canting').style.display="block";
        document.getElementById('comm2_bangongsi').style.display="none";
        document.getElementById('comm2_zhanting').style.display="none";
        document.getElementById('comm2_xuexiao').style.display="none";
        document.getElementById('comm2_yanhuiting').style.display="none";
    });
    //4办公室
    $("#comm2_switch ul #comm2_switch04").click(function () {
        console.log("办公室")
        document.getElementById('comm2_jiudian').style.display="none";
        document.getElementById('comm2_dianpu').style.display="none";
        document.getElementById('comm2_canting').style.display="none";
        document.getElementById('comm2_bangongsi').style.display="block";
        document.getElementById('comm2_zhanting').style.display="none";
        document.getElementById('comm2_xuexiao').style.display="none";
        document.getElementById('comm2_yanhuiting').style.display="none";
    });
    //5展厅
    $("#comm2_switch ul #comm2_switch05").click(function () {
        console.log("展厅")
        document.getElementById('comm2_jiudian').style.display="none";
        document.getElementById('comm2_dianpu').style.display="none";
        document.getElementById('comm2_canting').style.display="none";
        document.getElementById('comm2_bangongsi').style.display="none";
        document.getElementById('comm2_zhanting').style.display="block";
        document.getElementById('comm2_xuexiao').style.display="none";
        document.getElementById('comm2_yanhuiting').style.display="none";
    });
    //6学校
    $("#comm2_switch ul #comm2_switch06").click(function () {
        console.log("学校")
        document.getElementById('comm2_jiudian').style.display="none";
        document.getElementById('comm2_dianpu').style.display="none";
        document.getElementById('comm2_canting').style.display="none";
        document.getElementById('comm2_bangongsi').style.display="none";
        document.getElementById('comm2_zhanting').style.display="none";
        document.getElementById('comm2_xuexiao').style.display="block";
        document.getElementById('comm2_yanhuiting').style.display="none";
    });
    //7宴会厅
    $("#comm2_switch ul #comm2_switch07").click(function () {
        console.log("宴会厅")
        document.getElementById('comm2_jiudian').style.display="none";
        document.getElementById('comm2_dianpu').style.display="none";
        document.getElementById('comm2_canting').style.display="none";
        document.getElementById('comm2_bangongsi').style.display="none";
        document.getElementById('comm2_zhanting').style.display="none";
        document.getElementById('comm2_xuexiao').style.display="none";
        document.getElementById('comm2_yanhuiting').style.display="block";
    });

</script>


</body>

</html>