<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>中西NAKANISHI新总部研发中心</title>

    <!--<link type="text/css" href="./css/jquery.jslides.css" rel="stylesheet" media="screen">-->

    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.SuperSlide.2.1.2.js"></script>

    <!--header right footer-->
    <script type="text/javascript" src="js/nav.js"></script>
    <link type="text/css" href="css/base.css" rel="stylesheet">
    <link type="text/css" href="css/page.css" rel="stylesheet">
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <!--header right footer-->

    <link type="text/css" href="css/commercial3_css.css" rel="stylesheet">
    <link type="text/css" href="css/comm3.banner.css" rel="stylesheet">


    <style type="text/css">
        .top_switch ul li{
            width: 240px;
            height: 50px;
            list-style: none;
            float: left;
        }

        /*---------*/
        .comm3_show_pic ul li{
            width:600px;
            /*height:400px;*/
            /*padding-left: 20px;*/
            list-style: none;
            float: left;
        }

        .comm3_show_pic ul li img{
            width:200px;
            height:200px;
            clear: both;
            display: block;
            margin:0px auto;
        }

        .comm3_xinghao{
            font-size: 16px;
            margin-top: 15px;
            margin-left: 200px;
        }
        .comm3_price{
            font-size: 12px;
            margin-left: 200px;
        }
    </style>

</head>


<body>
<!---------------------------header-------------------------------->
<div th:include="layout/header::header"></div>

<p class="spacegap"></p>
<p class="spacegap"></p>


<!------------------------------顶部标题------------------------------------->
<p class="comm3_title">中西NAKANISHI新总部研发中心</p>

<div class="comm3_desc">美丽的光线，闪耀进步和创造
    这是在牙科医疗设备领域拥有全球市场份额的制造商Nakanishi的新总部和研发中心。
    一个4层的中心大厅，可以进行多元化交流，是这座建筑的象征性存在。其倒锥形空间具有螺旋斜面，与周围的研究设施，展示厅，办公室等相连。
    为了使其与先进、科技、创意的形象同步，多使用间接照明，大厅内使用可根据用途场合切换色温并照亮墙面的聚光灯。
</div>


<!------------------------------轮播------------------------------------->
<div class="comm3_banner" id="comm2_switch">
    <div class="top_switch">
        <ul>
            <!--<li id="top_switch01">-->
                <!--<div>咖啡馆</div>-->
            <!--</li>-->
        </ul>
    </div>


    <div class="content_banner">
        <div class="content1" id="content1">
            <div class="content_banner1" id="content_banner1">
                <div id="content_banner1_div">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo01.jpg" style="display: block">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo02.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo03.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo04.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo05.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo06.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo07.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo08.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo09.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo10.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo11.jpg">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo12.jpg">
                    <img class="banner1_vert" src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo13.jpg">
                    <img class="banner1_vert" src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo14.jpg">
                    <!--<img class="banner1_vert" src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo15.jpg">-->
                    <!--<img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo16.jpg">-->
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_photo01.jpg">
                </div>
            </div>
            <ul>
                <li style="background: #CC0000">
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo01.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo02.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo03.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo04.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo05.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo06.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo07.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo08.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo09.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo10.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo11.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo12.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo13.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo14.jpg">
                </li>
                <!--<li>-->
                    <!--<img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo15.jpg">-->
                <!--</li>-->
                <!--<li>-->
                    <!--<img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/图片/01_s_photo16.jpg">-->
                <!--</li>-->
            </ul>
        </div>



    </div>

</div>

<!---------------------------展示图-------------------------->
<p class="spacegap"></p>
<div class="comm3_show_pic">
    <div class="comm3_title">采用产品</div>
    <p class="spacegap"></p>
    <ul>
        <li>
            <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/采用的产品/MAIN_OL251957.jpg">
            <div class="comm3_xinghao">型号：OC257 130BC</div>
            <!--<div class="comm3_price">价格：498,000</div>-->
        </li>
        <li>
            <img src="./images/商用案例/4办公室/3中西NAKANISHI新总部研发中心/采用的产品/MAIN_XD403188.jpg">
            <div class="comm3_xinghao">型号：OC257 130BC</div>
            <!--<div class="comm3_price">价格：498,000</div>-->
        </li>
    </ul>
</div>


<div class="comm3_contact">
    <a href="http://wpa.qq.com/msgrd?v=3&uin=806015080&site=qq&menu=yes" target="_blank"><img src="./images/comm3_buy.png"></a>
</div>


<p class="spacegap"></p>
<p class="spacegap"></p>



<!--------------------------right---------------------->
<div th:include="layout/right::right"></div>


<!-------------------------footer------------------------------>
<div th:include="layout/footer::footer"></div>






<!------------------------------顶部轮播图布局JS------------------------------------->
<script type="text/javascript">

    function sendParam1(c1) {
        document.getElementById('content_banner1_div').style.width = ((c1+1) * 960)+"px";
        var c = 0;

        function autorun() {
            c = c + 1;
            if (c == (c1 + 1)) {
                c = 1;
                $("#content_banner1 div").css({"left": 0})
            }
            console.log(c);
            $("#content_banner1 div").animate({"left": c * -960}, 300)

            for (var i = 0; i < c1; i++) {
                document.getElementById('content1').getElementsByTagName("li")[i].style.background = "#DDDDDD";
            }

            if (c == c1) {
                document.getElementById('content1').getElementsByTagName("li")[0].style.background = "#CC0000";
            } else {
                document.getElementById('content1').getElementsByTagName("li")[c].style.background = "#CC0000";
            }

        }

        var timer = setInterval(autorun, 2500)

        $("#content1").mouseleave(function () {
            timer = setInterval(autorun, 2500);
        });
        $("#content1").mouseenter(function () {
            clearInterval(timer);
        });

        $("#content1 ul li").mouseenter(function () {
            c = $(this).index();
            $("#content_banner1 div").css({"left": c * -960})

            for (var i = 0; i < c1; i++) {
                document.getElementById('content1').getElementsByTagName("li")[i].style.background = "#DDDDDD";
            }

            if (c == c1) {
                document.getElementById('content1').getElementsByTagName("li")[0].style.background = "#CC0000";
            } else {
                document.getElementById('content1').getElementsByTagName("li")[c].style.background = "#CC0000";
            }
        });
    }

    sendParam1(16);


    function initView(){
        document.getElementById('top_switch01').style.background="#c2c2c2";
    };
    initView();


</script>

</body>
</html>