<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>东京Yukizaki主店</title>

    <!--<link type="text/css" href="./css/jquery.jslides.css" rel="stylesheet" media="screen">-->

    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/jquery.SuperSlide.2.1.2.js"></script>

    <!--header right footer-->
    <script type="text/javascript" src="js/nav.js"></script>
    <link type="text/css" href="css/base.css" rel="stylesheet">
    <link type="text/css" href="css/page.css" rel="stylesheet">
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <!--header right footer-->

    <link type="text/css" href="css/commercial3_css.css" rel="stylesheet">
    <link type="text/css" href="css/comm3.banner.css" rel="stylesheet">


    <style type="text/css">
        .top_switch ul li{
            width: 240px;
            height: 50px;
            list-style: none;
            float: left;
        }

        /*---------*/
        .comm3_show_pic ul li{
            width:300px;
            height:400px;
            /*padding-left: 20px;*/
            list-style: none;
            float: left;
        }

        .comm3_show_pic ul li img{
            width:200px;
            height:200px;
            clear: both;
            display: block;
            margin:0px auto;
        }

        .comm3_xinghao{
            font-size: 16px;
            margin-top: 30px;
            margin-left: 50px;
        }
        .comm3_price{
            font-size: 12px;
            margin-left: 50px;
        }
    </style>

</head>


<body>
<!---------------------------header-------------------------------->
<div th:include="layout/header::header"></div>

<p class="spacegap"></p>

<!------------------------------顶部标题------------------------------------->
<p class="comm3_title">商场店铺-东京Yukizaki主店</p>

<div class="comm3_desc">用更衬托珠宝美感的灯光，演绎闪耀空间
    Yukizaki集团专门从事手表，珠宝，箱包等，作为珠宝的专业经销商，其总部于2016年2月开业。
    从高高的天花板上，高演色性的光局部照射在玻璃罩内的珠宝饰物上，使商品的魅力最大化。
    照亮整个商店的筒灯在突出商品的同时，通过间接照明突出墙壁周围的格子图案，使这个空间更为华丽。
</div>


<!------------------------------轮播------------------------------------->
<div class="comm3_banner" id="comm2_switch">
    <div class="top_switch">
        <ul>
            <!--<li id="top_switch01">-->
                <!--<div>咖啡馆</div>-->
            <!--</li>-->
        </ul>
    </div>


    <div class="content_banner">
        <div class="content1" id="content1">
            <div class="content_banner1" id="content_banner1">
                <div id="content_banner1_div">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo01.jpg" style="display: block">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo02.jpg">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo03.jpg">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo04.jpg">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo05.jpg">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo06.jpg">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_photo01.jpg">
                </div>
            </div>
            <ul>
                <li style="background: #CC0000">
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_s_photo01.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_s_photo02.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_s_photo03.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_s_photo04.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_s_photo05.jpg">
                </li>
                <li>
                    <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/图片/01_s_photo06.jpg">
                </li>
            </ul>
        </div>


    </div>

</div>

<!---------------------------展示图-------------------------->
<p class="spacegap"></p>
<div class="comm3_show_pic">
    <div class="comm3_title">采用产品</div>
    <ul>
        <li>
            <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/采用的产品/MAIN_OL251915.jpg">
            <div class="comm3_xinghao">型号：OL251915</div>
            <div class="comm3_price">价格：498,000</div>
        </li>
        <li>
            <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/采用的产品/MAIN_XD401303H.jpg">
            <div class="comm3_xinghao">型号：XD401303H</div>
            <div class="comm3_price">价格：498,000</div>
        </li>
        <li>
            <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/采用的产品/MAIN_XD401309H.jpg">
            <div class="comm3_xinghao">型号：XD401309H</div>
            <div class="comm3_price">价格：498,000</div>
        </li>
        <li>
        <img src="./images/商用案例/2商场店铺/1东京Yukizaki主店/采用的产品/MAIN_XD401312H.jpg">
        <div class="comm3_xinghao">型号：XD401312H</div>
        <div class="comm3_price">价格：498,000</div>
        </li>
    </ul>
</div>
<p class="spacegap"></p>
<div class="comm3_xiadan">我要下单</div>

</div>

<p class="spacegap"></p>
<p class="spacegap"></p>


<!--------------------------right---------------------->
<div th:include="layout/right::right"></div>


<!-------------------------footer------------------------------>
<div th:include="layout/footer::footer"></div>


<!------------------------------顶部轮播图布局JS------------------------------------->
<script type="text/javascript">

    function sendParam1(c1) {
        document.getElementById('content_banner1_div').style.width = ((c1+1) * 1200)+"px";
        var c = 0;

        function autorun() {
            c = c + 1;
            if (c == (c1 + 1)) {
                c = 1;
                $("#content_banner1 div").css({"left": 0})
            }
            console.log(c);
            $("#content_banner1 div").animate({"left": c * -1200}, 300)

            for (var i = 0; i < c1; i++) {
                document.getElementById('content1').getElementsByTagName("li")[i].style.background = "#DDDDDD";
            }

            if (c == c1) {
                document.getElementById('content1').getElementsByTagName("li")[0].style.background = "#CC0000";
            } else {
                document.getElementById('content1').getElementsByTagName("li")[c].style.background = "#CC0000";
            }

        }

        var timer = setInterval(autorun, 2500)

        $("#content1").mouseleave(function () {
            timer = setInterval(autorun, 2500);
        });
        $("#content1").mouseenter(function () {
            clearInterval(timer);
        });

        $("#content1 ul li").mouseenter(function () {
            c = $(this).index();
            $("#content_banner1 div").css({"left": c * -1200})

            for (var i = 0; i < c1; i++) {
                document.getElementById('content1').getElementsByTagName("li")[i].style.background = "#DDDDDD";
            }

            if (c == c1) {
                document.getElementById('content1').getElementsByTagName("li")[0].style.background = "#CC0000";
            } else {
                document.getElementById('content1').getElementsByTagName("li")[c].style.background = "#CC0000";
            }
        });
    }



    sendParam1(6);



    function initView(){
        document.getElementById('top_switch01').style.background="#c2c2c2";
    };
    initView();




</script>

</body>
</html>