*{
    webkit-box-sizing:unset!important;
    -moz-box-sizing: unset!important;
    box-sizing:unset!important;

}

.nav {
    float: right;
    _display: inline;
}
/*b {*/
    /*font-weight: 700;*/
/*}*/
.newFooter{background:#828485!important;}
.nyBanner01 .hd{position:absolute;z-index:10;bottom:15px;text-align:center;width:100%;}

.bannerbox {
    margin: 0 auto;
    position:relative;
    overflow:hidden;
    height:700px;
}
.banner {
    width:2000px; /*图片宽度*/
    position:absolute;
    left:50%;
    margin-left:-1000px; /*图片宽度的一半*/
    height: 700px;
}
.cirl{
    display: block;
    width: 30px;
    height: 30px;
    background: #227AF1;
    -moz-border-radius: 15px;/**兼容火狐浏览器*/
    -webkit-border-radius: 15px;/**兼容苹果；谷歌，等一些浏览器认*/
    -o-border-radius: 15px;/**兼容opera浏览器*/
    border-radius: 15px;
    margin-left: -15px;
    margin-top: -10px;
    position: relative;
    left: 50%;
    top: 50%;
}


