* {
    box-sizing: unset !important;
}
body{overflow-x:hidden;}

a:active{star:expression(this.onFocus=this.blur());}
a:focus,button:focus{outline:none; -moz-outline:none;}
:focus{outline:none;}
/*Reset Css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img,area,param{margin:0; padding:0;}
html,body{margin:0; padding:0; height: 100%; font-family:"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; -webkit-text-size-adjust:none;/*Google Chrome*/}
input,button,select,textarea{font-family:"Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
select{*behavior: url("select.htc");}/*IE6,IE7select*/
ol,ul{padding-left:0; list-style:none;}
img{border:none; display:inline-block; vertical-align:middle;}
th{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
input{display:inline-block; vertical-align:middle;}

fieldset{border:none;}
legend{display:none;}
/*Clear Css*/
.clearfix:after{content:'\20';display:block;clear:both;visibility:hidden;line-height:0;height:0;}
/*.clearfix{display:block;zoom:1;}*/
.clearfix{zoom:1;}
html[xmlns] .clearfix{display:block;}
html[xmlns] .wtcmm.clearfix{display:none;}
html[xmlns] .wtcm.on .wtcmm{display:block;}
* html .clearfix{height:1%;}
/*Common Css*/
body{font-size:12px;}
a{ text-decoration:none!important;}
a:focus,a:hover{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;}
img{max-width:100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;}
/*bootstrap 图文排列*/
.media {
    margin-left: 20%;
    margin-right: 10%;
    /*height: 100%;*/
    /*margin: auto;*/
}
.media .media-left > img, .media .media-right > img {
    max-width: none !important;
}
/****end*****/

/*图文排列*/
.parents {
    margin-left: 10%;
    /*margin-bottom: 3%;*/
    /*margin-top: 10%;*/
    margin-right: 10%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*padding-bottom: 10%;*/
}

.childImg {
    width: 50%;
    float: right;
    transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    padding-top: 10%;
}

.childImg > img {
    width: 100%;
    height: 100%;

}

.childTxt {
    position: absolute;
    /*right: 5%;*/
    right: 50%;
    /*top: 50%;*/
    /*top: 10%;*/
    width: 35%;
    /*transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    padding-top: 10%;
}
/*end*/

.header_b {
    background: black;
}

.nav {
    float: right;
    _display: inline;
}

b {
    font-weight: 700;
}
/*Banner*/
.bannerbox {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 200px;
}

.banner {

    width: 2000px; /*图片宽度*/
    -position: fixed;
    left: 50%;
    margin-left: -1000px; /*图片宽度的一半*/
    height: 200px;
    bottom: 0;
}
/*end*/
/*footer {*/
    /*height: 25%;*/
/*}*/
html, body {
    margin: 0!important;
    padding: 0!important;
    height: 100%!important;
}
/*footer{*/
    /*position: fixed!important;*/
    /*!*bottom: 0px!important;*!*/
    /*!*right: 0px!important;*!*/
    /*left:0;right:0;bottom:0;*/
    /*!*top:1000px;*!*/
    /*z-index:999;*/
/*}*/
