* {
    box-sizing: unset !important;
}
/*bootstrap 图文排列*/
.media {
    margin-left: 20%;
    margin-right: 10%;
    /*height: 100%;*/
}
.media .media-left > img, .media .media-right > img {
    max-width: none !important;
}
/****end*****/

/*图文排列*/
.parents {
    margin-left: 10%;
    /*margin-bottom: 3%;*/
    /*margin-top: 10%;*/
    margin-right: 10%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /*padding-bottom: 10%;*/
}

.childImg {
    width: 50%;
    float: right;
    transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    padding-top: 10%;
}

.childImg > img {
    width: 80%;
    height: 80%;

}

.childTxt {
    position: absolute;
    /*right: 5%;*/
    right: 50%;
    /*top: 50%;*/
    /*top: 10%;*/
    width: 35%;
    /*transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-webkit-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -webkit-transform: translate(-20%, -20%);
    -o-transform: translate(-20%, -20%);
    padding-top: 10%;
}
/*end*/

.header_b {
    background: black;
}

.nav {
    float: right;
    _display: inline;
}

b {
    font-weight: 700;
}
/*Banner*/
.bannerbox {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 20%;
}

.banner {

    width: 2000px; /*图片宽度*/
    -position: fixed;
    left: 50%;
    margin-left: -1000px; /*图片宽度的一半*/
    height: 20%;
    bottom: 0;
}
/*end*/
/*footer {*/
    /*height: 25%;*/
/*}*/