<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="zh" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if gt IE 7]><!-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>关于我们</title>
    <link rel="stylesheet" href="/static/mj/cs/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/static/mj/cs/style.css"> <!-- Resource style -->
    <link href="/static/mj/css/base2.css" rel="stylesheet" type="text/css"/>
    <!--<link type="text/css" href="../css/base.css" rel="stylesheet"> &lt;!&ndash;导航&ndash;&gt;-->
    <!--<link type="text/css" href="../css/page.css" rel="stylesheet"> &lt;!&ndash;导航&ndash;&gt;-->
    <link href="/static/mj/css/page.css" rel="stylesheet" type="text/css"/>
    <link href="/static/mj/css/dh.css" rel="stylesheet" type="text/css"/>
    <link href="/static/mj/css/inside.css" rel="stylesheet" type="text/css"/>
    <link href="/static/mj/css/style.css" rel="stylesheet" type="text/css"/><!--时间轴-->
    <link href="/static/mj/css/aboutus.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/mj/daohang/js/jquery.min.js"></script>
    <style>
        /*.nav {*/
            /*float: right;*/
            /*_display: inline;*/
        /*}*/
        /*b {*/
            /*font-weight: 700;*/
        /*}*/
        /*.newFooter{background:#828485!important;}*/
        /*.nyBanner01 .hd{position:absolute;z-index:10;bottom:15px;text-align:center;width:100%;}*/
    </style>
    <script src="/static/mj/js/jquery-1.8.3.js"></script>
    <script>

//        $(function(){
//            var start=$(".p_start").offset().top;
//            var end=$(".p_end").offset().top;
//            var line=(end-start);
//            var style='';
//            if ($("style").hasClass("myStyle")){
//                $(".myStyle").html('#cd-timeline::before{height: '+line+'px;}');
//            }else {
//                style = '<style class="myStyle">#cd-timeline::before{height: '+line+'px;}</style>';
//                $("head").append(style);
//            }
//            //监听 浏览器窗口大小的变化事件
//            $(window).resize(function () {
//                start=$(".start").offset().top;
//                end=$(".end").offset().top;
//                line=((end-start)+200);
//                $(".myStyle").html('#cd-timeline::before{height: '+line+'px;}');
//            });
//        });
    </script>
</head>
<body>

<div th:include="layout/header::header"></div>

<!--<div class="banner" data-image-lg="./static/img/banner02.jpg"></div>-->
<style>

    /*.bannerbox {*/
        /*margin: 0 auto;*/
        /*position:relative;*/
        /*overflow:hidden;*/
        /*height:600px;*/
    /*}*/
    /*.banner {*/
        /*width:2000px; !*图片宽度*!*/
        /*position:absolute;*/
        /*left:50%;*/
        /*margin-left:-1000px; !*图片宽度的一半*!*/
        /*height: 600px;*/
    /*}*/
</style>

<div class="bannerbox" style="font-family: none;">
    <div class="banner">
        <img src="/static/mj/img/aboutus_01.png">
    </div>
</div>

<!--<div class="banner" data-image-lg="./static/img/banner02.jpg"-->
     <!--data-image-xs="./static/img/phoneBanner04.jpg"></div>-->

<!--<div class="ny-banner pro-banner bckBanner" style="background:url(./static/img/aboutus_01.png) no-repeat center center;background-size:cover;">-->
<!--<div class="ny-banner pro-banner bckBanner" style="background:url(./static/img/banner02.jpg) no-repeat center center;background-size:cover;">-->
<div th:include="layout/right::right"></div>
<div class="about" id="aboutUs" style="margin-top: -8%">
    <div class="wrapper">
        <!--<h2 class="f30" style="margin-top: 1%">企业介绍</h2>-->
        <h2 class="f30"><strong style="font-weight: bolder">|</strong>&nbsp;企业介绍</h2>
    </div>
    <div class="aboutBox">
        <div class="aboutCon01 aboutCon" id="item1">
            <div class="wrapper">
                <ul>
                    <li class="clearfix" style="display: block">
                        <div class="con clearfix">
                            <!--<div class="pic">-->
                                <!--<img src="./static/img/about01.jpg">-->
                            <!--</div>-->
                            <div class="wenz">
                                <div class="table">
                                    <div class="table-cell">
                                        <h4 class="f16">ODELIC 照明(欧德立克)——生活品味创造者。<br>以究极创新与您诚恳温馨对话，点亮家居生活，让“光”照亮全家。</h4>
                                        <p>ODELIC (欧德立克) 于1951年创立于日本东京，初期为荧光灯及照明灯具销售，创业初期以“大山照明”行销全日本。1996年1月变更社名为“ODELIC”，以期展望，拓展海外发展事业。1996年11月，日本证券协会登录上市股票公司。目前ODELIC于日本设置有：羽村工厂、兵库县西官物流中心、山形生产工厂、山形物流中心，其取得认证与环境保护认证如下：<br>1998年 本社、山形工厂 ｢ ISO – 9001 ｣ 认证取得。<br>2000年 山形工厂｢ ISO – 14001 ｣ 环境保护认证取得。<br>2002年 羽村工厂 ｢ ISO – 9001 ｣认证取得。<br>2003年 羽村工厂｢ ISO – 14001 ｣ 环境保护认证取得。<br>六十多年照明器具生产销售经验，不断在灯饰领域中，淘汰旧有款式，日本设计师的创新与新潮流的时代，引领日本照明器具创新的先驱，朝向绿能环保、节能低碳的世界潮流，像灯塔般，照亮着每一位心中足够的亮能，让自我发光发热，成为“光”的领航者。全系列照明灯具销售有：吊灯、餐吊灯、间接照明、商业照明、LED光源开发。结合灯光、视觉与听觉艺术，创造美好的工作环境与家居生活。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="pic">
                                <!--<img src="./static/img/about01.jpg">-->
                                <img src="/static/mj/img/aboutus_04.png">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="wrapper">
        <h2 class="f30"><strong style="font-weight: bolder">|</strong>&nbsp;发展历程</h2>
    </div>
</div>
    <div id="timeSec"></div>
    <section id="cd-timeline" class="cd-container" style="overflow-y: scroll;height: 80%;margin-bottom: 1%" data-attr=0>
        <p class="p_start"></p>
        <div class="cd-timeline-block" th:each="timeShaftList:${timeShaftLists}">
            <div class="cd-timeline-img">
                <!--<img src="./static/img/cd-icon-location.svg" alt="Location">-->
                <p class="cirl start"></p>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 th:text="${timeShaftList.year}+'年'+${timeShaftList.month}+'月'"></h2>
                <p th:text="${timeShaftList.intro}"></p>
                <!--<a href="#0" class="cd-read-more">查看详情</a>-->
                <!--<span class="cd-date">1月28日</span>-->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <!--<div class="cd-timeline-block">-->
            <!--<div class="cd-timeline-img cd-picture">-->
                <!--&lt;!&ndash;<img src="./static/img/cd-icon-location.svg" alt="Location">&ndash;&gt;-->
                <!--<p class="cirl start"></p>-->
            <!--</div> &lt;!&ndash; cd-timeline-img &ndash;&gt;-->

            <!--<div class="cd-timeline-content">-->
                <!--<h2>2013年7月1日</h2>-->
                <!--<p>继大阪证券交易所和东京证券交易所合并后，在东京证券交易所（JASDAQ市场）上市</p>-->
                <!--&lt;!&ndash;<a href="#0" class="cd-read-more">查看详情</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<span class="cd-date">1月28日</span>&ndash;&gt;-->
            <!--</div> &lt;!&ndash; cd-timeline-content &ndash;&gt;-->
        <!--</div> &lt;!&ndash; cd-timeline-block &ndash;&gt;-->
        <p class="p_end"></p>
    </section> <!-- cd-timeline -->
<style>
    /*.cirl{*/
        /*display: block;*/
        /*width: 14px;*/
        /*height: 14px;*/
        /*background: #227AF1;*/
        /*-moz-border-radius: 7px;!**兼容火狐浏览器*!*/
        /*-webkit-border-radius: 7px;!**兼容苹果；谷歌，等一些浏览器认*!*/
        /*-o-border-radius: 7px;!**兼容opera浏览器*!*/
        /*border-radius: 7px;*/
        /*margin-left: -7px;*/
        /*margin-top: -10px;*/
        /*position: relative;*/
        /*left: 50%;*/
        /*top: 50%;*/
    /*}*/
</style>
<!--<div class="content">-->
    <!--<div class="wrapper">-->
        <!--&lt;!&ndash;<h2 class="f30" style="margin-left: 2%">发展历程</h2>&ndash;&gt;-->
        <!--<div class="light"><i></i></div>-->
        <!--&lt;!&ndash;<hr class="line-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<hr class="line-right">&ndash;&gt;-->
        <!--<div class="main">-->
            <!--<h1 class="title">发展历程</h1>-->
            <!--<div class="year" th:each="yearlist:${years}">-->
                <!--<h2 th:if="${yearlist}>2012"><a href="#"  th:text="${yearlist}+'年'"><i></i></a></h2>-->
                <!--<h2 th:if="${yearlist}<=2012"><a href="#"  th:text="2012年以前"><i></i></a></h2>-->
                <!--<div class="list">-->
                    <!--<ul>-->
                        <!--<li class="cls highlight"-->
                            <!--th:each="lastDays:${lastDays}"-->
                            <!--th:if="${yearlist}==${lastDays.year}">-->
                            <!--<p class="date" th:if="${lastDays.day}==null"-->
                               <!--th:text="${lastDays.month}+'月'"></p>-->
                            <!--<p class="date" th:if="${lastDays.day}!=null"-->
                               <!--th:text="${lastDays.month}+'月'+${lastDays.day}+'日'"></p>-->
                            <!--<p class="intro"-->
                               <!--th:text="${lastDays.intro}"></p>-->
                            <!--<p class="version">&nbsp;</p>-->
                            <!--<div class="more">-->
                                <!--<p th:text="${lastDays.more}"></p>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li class="cls"-->
                            <!--th:each="timeShaftLists:${timeShaftLists}"-->
                            <!--th:if="${yearlist}==${timeShaftLists.year}">-->
                            <!--<p class="date" th:if="${timeShaftLists.day}==null"-->
                               <!--th:text="${timeShaftLists.month}+'月'"></p>-->
                            <!--<p class="date" th:if="${timeShaftLists.day}!=null"-->
                               <!--th:text="${timeShaftLists.month}+'月'+${timeShaftLists.day}+'日'"></p>-->
                            <!--<p class="intro"-->
                               <!--th:text="${timeShaftLists.intro}"></p>-->
                            <!--<p class="version">&nbsp;</p>-->
                            <!--<div class="more">-->
                                <!--<p th:text="${timeShaftLists.more}"></p>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div th:include="layout/footer::footer"></div>


<!--<script type="text/javascript" src="./static/js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="./static/js/aboutus2.js"></script>-->

<!--<script>-->

    <!--$(function () {-->
        <!--$(".year").toggleClass("close");-->
        <!--$(".main .year h2 a").append("<i></i>");-->
    <!--});-->
    <!--$(".main .year .list").each(function (e, target) {-->
        <!--var $target = $(target),-->
                <!--$ul = $target.find("ul");-->
        <!--$target.height($ul.outerHeight()), $ul.css("position", "absolute");-->
    <!--});-->
    <!--$(".main .year>h2>a").click(function (e) {-->
        <!--e.preventDefault();-->
        <!--$(this).parents(".year").toggleClass("close");-->
    <!--});-->
<!--</script>-->
<script src="/static/mj/js/jquery.min.js"></script>
<script src="/static/mj/js/main.js"></script> <!-- Resource jQuery -->
<script src="/static/mj/daohang/js/nav.js"></script>
<script src="/static/mj/js/aboutus.js"></script>
</body>
</html>
