<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie7" lang="zh" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if gt IE 7]><!-->
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>关于我们</title>
    <link rel="stylesheet" href="/static/mj/cs/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/static/mj/cs/style.css"> <!-- Resource style -->
    <link href="/static/mj/css/base2.css" rel="stylesheet" type="text/css"/>
    <link href="/static/mj/css/page.css" rel="stylesheet" type="text/css"/>
    <link href="/static/mj/css/dh.css" rel="stylesheet" type="text/css"/>
    <link href="/static/mj/css/inside.css" rel="stylesheet" type="text/css"/>
    <link href="/static/mj/css/style.css" rel="stylesheet" type="text/css"/>
    <script src="/static/mj/js/modernizr.js"></script> <!-- Modernizr -->
    <!--<script type="text/javascript" src="./static/js/jquery.min.js"></script>-->
    <script type="text/javascript" src="/static/mj/daohang/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/mj/daohang/js/jquery.SuperSlide.2.1.2.js"></script>
    <script type="text/javascript" src="/static/mj/daohang/js/swiper.min.js"></script>
    <style>
    </style>
    <style>
        .nav {
            float: right;
            _display: inline;
        }
        b {
            font-weight: 700;
        }
    </style>
</head>
<body>

<div th:include="layout/header::header"></div>

<!--<header>-->
    <!--<div class="header">-->
        <!--<div class="header_b clearfix">-->
            <!--<div class="wrapper">-->
                <!--<div class="header-l">-->
                    <!--<a class="navbar-brand" href="index.html"><b-->
                            <!--class="header-logo">ODELIC</b></a>-->
                <!--</div>-->
                <!--<div class="nav">-->
                    <!--<ul id="aaa">-->
                        <!--<li class="item"><a href="index.html" class="nav_small">首页</a>-->
                        <!--</li>-->
                        <!--<li class="item"><a-->
                                <!--href="http://www.opple.com.cn/newhome/"-->
                                <!--class="nav_small">家居照明</a>-->
                            <!--<ul class="dl-list">-->
                                <!--&lt;!&ndash;<div class="clearfix">&ndash;&gt;-->
                                <!--<li class="xy_item"><a-->
                                        <!--href="http://www.opple.com.cn/solution/"-->
                                        <!--class="xy_snav"-->
                                        <!--target="_blank">一站式解决方案</a></li>-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="clearfix">&ndash;&gt;-->
                                <!--<li class="xy_item"><a-->
                                        <!--href="http://www.opple.com.cn/home/homelight/skill"-->
                                        <!--class="xy_snav"-->
                                        <!--target="_blank">明星产品推荐</a></li>-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="item"><a-->
                                <!--href="http://www.opple.com.cn/commercial/"-->
                                <!--class="nav_small">商用照明</a>-->
                            <!--<ul class="dl-list">-->
                                <!--<div class="clearfix">-->
                                    <!--<li class="xy_item"><a-->
                                            <!--href="http://www.opple.com.cn/commercial/"-->
                                            <!--class="xy_snav"-->
                                            <!--target="_blank">客户服务</a></li>-->
                                <!--</div>-->
                                <!--<div class="clearfix">-->
                                    <!--<li class="xy_item"><a-->
                                            <!--href="http://www.opple.com.cn/businesscase/"-->
                                            <!--class="xy_snav"-->
                                            <!--target="_blank">客户案例</a></li>-->
                                <!--</div>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="item"><a-->
                                <!--href="/mySpringBoot2X/opjm"-->
                                <!--class="nav_small">产品中心</a>-->
                            <!--<ul class="dl-list">-->
                                <!--<div class="clearfix">-->
                                    <!--<li class="xy_item"><a-->
                                            <!--href="/mySpringBoot2X/opjm"-->
                                            <!--class="xy_snav">家居灯具</a></li>-->
                                <!--</div>-->
                                <!--<div class="clearfix">-->
                                    <!--<li class="xy_item"><a-->
                                            <!--href="/mySpringBoot2X/opjm"-->
                                            <!--class="xy_snav"-->
                                            <!--&gt;商用灯具</a></li>-->
                                <!--</div>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="item">-->
                            <!--<a href="/mySpringBoot2X/aboutus2"-->
                               <!--class="nav_small">关于我们</a>-->
                            <!--<ul class="dl-list">-->
                                <!--<div class="clearfix">-->
                                    <!--<li class="xy_item"><a-->
                                            <!--href="/mySpringBoot2X/aboutus2#aboutUs"-->
                                            <!--class="xy_snav"-->
                                            <!--&gt;企业简介</a></li>-->
                                <!--</div>-->
                                <!--<div class="clearfix">-->
                                    <!--<li class="xy_item"><a-->
                                            <!--href="/mySpringBoot2X/aboutus2#timeSec"-->
                                            <!--class="xy_snav"-->
                                            <!--&gt;发展历程</a></li>-->
                                <!--</div>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <!--<li class="item"><a href="/mySpringBoot2X/callus3"-->
                                            <!--class="nav_small">联系我们</a>-->
                        <!--</li>-->
                        <!--<li class="item"><img width="14"-->
                                              <!--style="cursor: pointer;"-->
                                              <!--class="header_store"-->
                                              <!--src="./static/daohang/images/header_icon02.png"-->
                                              <!--onclick="window.open('http://www.opplestore.com/')">-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</header>-->

<!--<div class="banner" data-image-lg="./static/img/banner02.jpg"></div>-->
<style>

    .bannerbox {
        margin: 0 auto;
        position:relative;
        overflow:hidden;
        height:600px;
    }
    .banner {
        width:2000px; /*图片宽度*/
        position:absolute;
        left:50%;
        margin-left:-1000px; /*图片宽度的一半*/
        height: 600px;
    }
</style>

<div class="bannerbox">
    <div class="banner">
        <img src="/static/mj/img/aboutus_01.png">
    </div>
</div>

<!--<div class="banner" data-image-lg="./static/img/banner02.jpg"-->
     <!--data-image-xs="./static/img/phoneBanner04.jpg"></div>-->

<!--<div class="ny-banner pro-banner bckBanner" style="background:url(./static/img/aboutus_01.png) no-repeat center center;background-size:cover;">-->
<!--<div class="ny-banner pro-banner bckBanner" style="background:url(./static/img/banner02.jpg) no-repeat center center;background-size:cover;">-->


<!--<div class="fixed_right">-->
    <!--<ul>-->
        <!--<li class="pos_re qq">-->
            <!--<div class='side-tools-tips'>-->
                <!--<p><a target='_blank'-->
                      <!--href='http://wpa.qq.com/msgrd?v=3&uin=806015080&site=qq&menu=yes'><img-->
                        <!--src='./static/daohang/images/qq_ff0df34.png' alt=''/></a></p>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="fixed_right_hover">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="zhichiBtn" style="cursor: pointer;" id="zhichiBtn" target="blank"><img src="images/right_icon011.png" width="22">联系客服</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="table">-->
                <!--<div class="table-cell" style="cursor: pointer;">-->
                    <!--<img src="./static/daohang/images/right_icon01.png" width="22">-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="pos_re">-->
            <!--&lt;!&ndash;<div class="fixed_right_hover">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="http://www.opple.com.cn/service/store"><img src="images/right_icon077.png" width="18">APP下载</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="table">-->
                <!--<div class="table-cell" style="cursor: pointer;" title="APP下载">-->
                    <!--<img src="./static/daohang/images/right_icon07.png" width="18">-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->

        <!--<li class="pos_re totop">-->
            <!--&lt;!&ndash;<div class="fixed_right_hover">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="javascript:;"><img src="images/right_icon066.png" width="20">回到顶部</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="table">-->
                <!--<div class="table-cell" style="cursor: pointer;" title="回到顶部">-->
                    <!--<img src="./static/daohang/images/right_icon06.png" width="20">-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!--<script>-->

    <!--$(function () {-->
        <!--//返回顶部-->
        <!--var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body'); //operaFix-->
        <!--$(".totop").hide();-->
        <!--$(".totop").click(function () {-->
            <!--$body.animate({scrollTop: 0});-->
        <!--});-->
        <!--window.onscroll = function () {-->
            <!--if ((document.documentElement.scrollTop + document.body.scrollTop) > 200) {-->
                <!--$(".totop").show();-->
            <!--} else {-->
                <!--$(".totop").hide();-->
            <!--}-->
        <!--};-->
    <!--})-->

<!--</script>-->
<div class="about" id="aboutUs">
    <div class="wrapper">
        <!--<h2 class="f30" style="margin-top: 1%">企业介绍</h2>-->
        <h2 class="f30"><strong style="font-weight: bolder">|</strong>&nbsp;企业介绍</h2>
    </div>
    <div class="aboutBox">
        <div class="aboutCon01 aboutCon" id="item1">
            <div class="wrapper">
                <ul>
                    <li class="clearfix" style="display: block">
                        <div class="con clearfix">
                            <!--<div class="pic">-->
                                <!--<img src="./static/img/about01.jpg">-->
                            <!--</div>-->
                            <div class="wenz">
                                <div class="table">
                                    <div class="table-cell">
                                        <h4 class="f16">
                                            照明行业标杆的整体照明解决方案提供者为消费者<br>提供差异化整体照明解决方案
                                        </h4>
                                        <p>

                                            欧普照明始于1996年，是一家集研发、生产、销售、服务于一体的综合型照明企业。欧普照明于2016年8月19日成功登陆上海证券交易所主板，正式挂牌上市。股票简称“欧普照明”，股票代码：603515.SH。<br><br>
                                            公司现有员工6000多人，拥有上海总部及中山工业园、吴江工业园等多个生产基地；公司产品涵盖LED及传统光源、灯具、电工电器、厨卫吊顶产品等领域。
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="pic">
                                <!--<img src="./static/img/about01.jpg">-->
                                <img src="/static/mj/img/aboutus_04.png">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="wrapper">
        <h2 class="f30"><strong style="font-weight: bolder">|</strong>&nbsp;发展历程</h2>
    </div>
</div>
    <div id="timeSec"></div>
    <!--<link rel="stylesheet" href="./static/cs/style.css">-->
    <section id="cd-timeline" class="cd-container" style="overflow-y: scroll;height: 40%;margin-bottom: 1%">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <!--<img src="./static/img/cd-icon-location.svg" alt="Location">-->
                <!--<img ><p id="cirl"></p></img>-->
                <p class="cirl"></p>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>1973年11月</h2>
                <p>公司名称更改为Oyama Lighting Co.，Ltd</p>
                <!--<a href="#0" class="cd-read-more">查看详情</a>-->
                <!--<span class="cd-date">1月28日</span>-->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <!--<img src="./static/img/cd-icon-location.svg" alt="Location">-->
                <p class="cirl"></p>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>1961年10月</h2>
                <p>羽村工厂在东京羽村市开业</p>
                <!--<a href="#0" class="cd-read-more">查看详情</a>-->
                <!--<span class="cd-date">2月</span>-->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <!--<img src="./static/img/cd-icon-picture.svg" alt="Picture">-->
                <p class="cirl"></p>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>1958年5月3日</h2>
                <p>开始制造白炽灯具</p>
                <!--<a href="#0" class="cd-read-more">Read more</a>-->
                <!--<span class="cd-date">2月</span>-->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <!--<img src="./static/img/cd-icon-location.svg" alt="Location">-->
                <p class="cirl"></p>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>1956年5月7日</h2>
                <p>将公司名称更改为Oyama Electric Industry Co.，Ltd</p>
                <!--<a href="#0" class="cd-read-more">Read more</a>-->
                <!--<span class="cd-date">3月</span>-->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <!--<img src="./static/img/cd-icon-location.svg" alt="Location">-->
                <p class="cirl"></p>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>1954年11月</h2>
                <p>开始制造荧光灯放电灯（辉光灯）</p>
                <!--<a href="#0" class="cd-read-more">Read more</a>-->
                <!--<span class="cd-date">4月</span>-->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <!--<img src="./static/img/cd-icon-movie.svg" alt="Movie">-->
                <p class="cirl"></p>
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>1951年5月6日</h2>
                <p>成立制造和销售各类照明设备有限公司，在三鹰市，东京大山有限公司金属工程的目的，同时三鹰工厂安装荧光灯照明设备的制造，开始销售</p>
                <!--<span class="cd-date">8月16号</span>-->
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section> <!-- cd-timeline -->
<style>
    .cirl{
        display: block;
        width: 14px;
        height: 14px;
        background: #227AF1;
        border-radius: 7px;
        margin-left: -7px;
        margin-top: -10px;
        position: relative;
        left: 50%;
        top: 50%;
    }
</style>

<!--<div class="content">-->
    <!--<div class="wrapper">-->
        <!--&lt;!&ndash;<h2 class="f30" style="margin-left: 2%">发展历程</h2>&ndash;&gt;-->
        <!--<div class="light"><i></i></div>-->
        <!--&lt;!&ndash;<hr class="line-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<hr class="line-right">&ndash;&gt;-->
        <!--<div class="main">-->
            <!--<h1 class="title">发展历程</h1>-->
            <!--<div class="year" th:each="yearlist:${years}">-->
                <!--<h2 th:if="${yearlist}>2012"><a href="#"  th:text="${yearlist}+'年'"><i></i></a></h2>-->
                <!--<h2 th:if="${yearlist}<=2012"><a href="#"  th:text="2012年以前"><i></i></a></h2>-->
                <!--<div class="list">-->
                    <!--<ul>-->
                        <!--<li class="cls highlight"-->
                            <!--th:each="lastDays:${lastDays}"-->
                            <!--th:if="${yearlist}==${lastDays.year}">-->
                            <!--<p class="date" th:if="${lastDays.day}==null"-->
                               <!--th:text="${lastDays.month}+'月'"></p>-->
                            <!--<p class="date" th:if="${lastDays.day}!=null"-->
                               <!--th:text="${lastDays.month}+'月'+${lastDays.day}+'日'"></p>-->
                            <!--<p class="intro"-->
                               <!--th:text="${lastDays.intro}"></p>-->
                            <!--<p class="version">&nbsp;</p>-->
                            <!--<div class="more">-->
                                <!--<p th:text="${lastDays.more}"></p>-->
                            <!--</div>-->
                        <!--</li>-->

                        <!--<li class="cls"-->
                            <!--th:each="timeShaftLists:${timeShaftLists}"-->
                            <!--th:if="${yearlist}==${timeShaftLists.year}">-->
                            <!--<p class="date" th:if="${timeShaftLists.day}==null"-->
                               <!--th:text="${timeShaftLists.month}+'月'"></p>-->
                            <!--<p class="date" th:if="${timeShaftLists.day}!=null"-->
                               <!--th:text="${timeShaftLists.month}+'月'+${timeShaftLists.day}+'日'"></p>-->
                            <!--<p class="intro"-->
                               <!--th:text="${timeShaftLists.intro}"></p>-->
                            <!--<p class="version">&nbsp;</p>-->
                            <!--<div class="more">-->
                                <!--<p th:text="${timeShaftLists.more}"></p>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div th:include="layout/footer::footer"></div>

<!--<footer style="margin-bottom: -1%">-->
    <!--<div class="newFooter pc">-->
        <!--<div class="newFooterTop">-->
            <!--<div class="wrapper clearfix">-->
                <!--<ul class="clearfix">-->
                    <!--<li>-->
                        <!--<dl>-->
                            <!--<dt>-->
                                <!--<a href="http://www.opple.com.cn/newhome/">家居照明</a>-->
                            <!--</dt>-->
                            <!--<dd><a href="http://www.opple.com.cn/solution/">一站式解决方案</a>-->
                            <!--</dd>-->
                            <!--<dd>-->
                                <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79">明星产品推荐</a>-->
                            <!--</dd>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<dl>-->
                            <!--<dt><a href="http://www.opple.com.cn/commercial/">商用照明</a>-->
                            <!--</dt>-->
                            <!--<dd><a href="http://www.opple.com.cn/commercial/">客户服务</a>-->
                            <!--</dd>-->
                            <!--<dd><a href="http://www.opple.com.cn/businesscase/">客户案例</a>-->
                            <!--</dd>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<dl>-->
                            <!--<dt>-->
                                <!--<a href="/mySpringBoot2X/opjm">产品中心</a>-->
                            <!--</dt>-->
                            <!--<dd>-->
                                <!--<a href="/mySpringBoot2X/opjm">家居灯具</a>-->
                            <!--</dd>-->
                            <!--<dd>-->
                                <!--<a href="/mySpringBoot2X/opjm">商用灯具</a>-->
                            <!--</dd>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<dl>-->
                            <!--<dt>-->
                                <!--<a href="/mySpringBoot2X/aboutus2">关于我们</a>-->
                            <!--</dt>-->
                            <!--<dd>-->
                                <!--<a href="/mySpringBoot2X/aboutus2#aboutUs">企业简介</a>-->
                            <!--</dd>-->
                            <!--<dd><a href="/mySpringBoot2X/aboutus2#timeSec">发展历程</a>-->
                            <!--</dd>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<dl>-->
                            <!--<dt><a href="/mySpringBoot2X/callus3">联系我们</a>-->
                            <!--</dt>-->
                            <!--<dd>-->
                                <!--<a href="http://www.opple.com.cn/about">地址：xxxx</a>-->
                            <!--</dd>-->
                            <!--<dd>-->
                                <!--<a href="http://www.opple.com.cn/about/shsubcom">QQ:xxxxx</a>-->
                            <!--</dd>-->
                            <!--<dd>-->
                                <!--<a href="http://www.opple.com.cn/about/responsibility">E-MAIL:xxxxx</a>-->
                            <!--</dd>-->
                        <!--</dl>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<div class="line"></div>-->
                <!--<div class="code">-->
                    <!--<dl class="clearfix">-->
                        <!--<dd>-->
                            <!--<img src="./static/daohang/images/code02.jpg">-->
                            <!--扫码关注公众号-->
                        <!--</dd>-->
                    <!--</dl>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

<!--</footer>-->
<!--<script type="text/javascript" src="./static/js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="./static/js/aboutus2.js"></script>-->

<!--<script>-->

    <!--$(function () {-->
        <!--$(".year").toggleClass("close");-->
        <!--$(".main .year h2 a").append("<i></i>");-->
    <!--});-->
    <!--$(".main .year .list").each(function (e, target) {-->
        <!--var $target = $(target),-->
                <!--$ul = $target.find("ul");-->
        <!--$target.height($ul.outerHeight()), $ul.css("position", "absolute");-->
    <!--});-->
    <!--$(".main .year>h2>a").click(function (e) {-->
        <!--e.preventDefault();-->
        <!--$(this).parents(".year").toggleClass("close");-->
    <!--});-->
<!--</script>-->
<script src="/static/mj/js/jquery.min.js"></script>
<script src="/static/mj/js/main.js"></script> <!-- Resource jQuery -->
<script>
//    var h3 = document.documentElement.getElementsByTagName('h3')[0];
//
//    function fontS() {
//        var hw = h3.offsetWidth;
//        var hs = hw/40;
//        h3.style.fontSize = hs+ "px";
//    }
//    window.onresize = function () {fontS();}
</script>
<script type="text/javascript" src="/static/mj/daohang/js/jquery.min.js"></script>
<script src="/static/mj/daohang/js/nav.js"></script>
<script src="/static/mj/daohang/js/hm.js"></script>
<script src="/static/mj/daohang/js/hm.js"></script>
<script type="text/javascript" src="/static/mj/daohang/js/jquery.SuperSlide.2.1.2.js"></script>
<script type="text/javascript" src="/static/mj/daohang/js/swiper.min.js"></script>
<script>
    $(function () {
        jQuery(".slideBox").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            autoPlay: true,
            interTime: 5000,
            mouseOverStop: true,
            autoPage: true,
            trigger: "click",
            delayTime: 800,
            effect: "fold"
        });
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false
        });

        var w = $(window).width();
        $('.nyBanner01 .bd li,.nyBanner01 .bd').css('height', w * (480 / 1440));
        $(window).resize(function () {
            var w = $(window).width();
            $('.nyBanner01 .bd li,.nyBanner01 .bd').css('height', w * (480 / 1440));
        })
    })
</script>

</body>
</html>
