<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>联系我们</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<link href="/static/mj/css/base2.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="/static/mj/css/page.css" rel="stylesheet" type="text/css"/>-->
    <link type="text/css" href="../css/base.css" rel="stylesheet"> <!--导航-->
    <link type="text/css" href="../css/page.css" rel="stylesheet"> <!--导航-->
    <!--<link href="/static/mj/css/dh.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="/static/mj/css/inside.css" rel="stylesheet" type="text/css"/>-->
    <!--<link href="/static/mj/css/style.css" rel="stylesheet" type="text/css"/>-->
    <link href="/static/mj/css/callus.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript"
            src="/static/mj/daohang/js/jquery.min.js"></script>
    <script src="/static/mj/daohang/js/nav.js"></script>
</head>

<body style="height: 100%;font-family: none;">

<div th:replace="layout/header::header"></div>

<div class="bannerbox">
</div>

<div th:include="layout/right::right"></div>
<!--<div class="about" id="aboutUs" style="margin-bottom: 10%;">-->
<!--<div class="aboutBox">-->
<!--<div class="aboutCon01 aboutCon" id="item1">-->
<!--<div class="wrapper">-->
<!--<ul>-->
<!--<li class="clearfix" style="display: block">-->
<!--<div class="con clearfix">-->
<!--&lt;!&ndash;<div class="pic">&ndash;&gt;-->
<!--&lt;!&ndash;<img src="./static/img/about01.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="wenz" style="float: left;left: 0;margin-left: 10%">-->
<!--<div class="table">-->
<!--<div class="table-cell">-->
<!--<h3 class="f16"><strong style="font-weight: bolder">商务合作（可联系订单）</strong></h3>-->
<!--<h3 class="f16">公司：XXXXXXXXX</h3>-->
<!--<h3 class="f16">地址：XXXXXXXXXXXX</h3>-->
<!--<h3 class="f16">E-MAIL：XXXX@tpadsz.com</h3>-->
<!--<h3 class="f16">QQ：XXXXXXXXXX</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="pic" style="float: right;width: 50%;margin-right: 10%">-->
<!--<img src="/static/mj/img/callus_03.png">-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div style="clear: both"></div>-->
<!--<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"-->
      <!--rel="stylesheet">-->
<!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
<!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<link rel="stylesheet" href="/static/mj/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/static/mj/js/jquery.min.js"></script>
<script src="/static/mj/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="media" style="height: 65%;">

    <div class="media-body media-top">
        <h3 class="media-heading"><strong style="font-weight: bolder">
            商务合作（可联系订单）</strong>
        </h3><br>
        <h3 class="media-heading">
            公司：XXXXXXXXX
        </h3>
        <h3 class="media-heading">
            地址：XXXXXXXXXXXX
        </h3>
        <h3 class="media-heading">
            E-MAIL：XXXX@tpadsz.com
        </h3>
        <h3 class="media-heading">
            QQ：XXXXXXXXXX
        </h3>
    </div>
    <div class="media-right">
        <img src="/static/mj/img/callus_03.png" class="media-object">
    </div>
</div>


<!--<div class="parents">-->
<!--<div class="childTxt">-->
<!--<h3 class="f24"><strong style="font-weight: bolder">-->
<!--商务合作（可联系订单）</strong>-->
<!--</h3><br>-->
<!--<h3 class="f24">-->
<!--公司：XXXXXXXXX-->
<!--</h3>-->
<!--<h3 class="f24">-->
<!--地址：XXXXXXXXXXXX-->
<!--</h3>-->
<!--<h3 class="f24">-->
<!--E-MAIL：XXXX@tpadsz.com-->
<!--</h3>-->
<!--<h3 class="f24">-->
<!--QQ：XXXXXXXXXX-->
<!--</h3>-->
<!--</div>-->
<!--<div class="childImg">-->
<!--<img src="/static/mj/img/callus_03.png">-->
<!--</div>-->
<!--<div style="clear: both"></div>-->
<!--</div>-->

<!--<div class="parents" style="margin-bottom: 10%;margin-left: 20%">-->
<!--<div class="childTxt" style="float: left;">-->
<!--<h3 class="f24"><strong style="font-weight: bolder">-->
<!--商务合作（可联系订单）</strong>-->
<!--</h3><br>-->
<!--<h3 class="f24">-->
<!--公司：XXXXXXXXX-->
<!--</h3>-->
<!--<h3 class="f24">-->
<!--地址：XXXXXXXXXXXX-->
<!--</h3>-->
<!--<h3 class="f24">-->
<!--E-MAIL：XXXX@tpadsz.com-->
<!--</h3>-->
<!--<h3 class="f24">-->
<!--QQ：XXXXXXXXXX-->
<!--</h3>-->
<!--</div>-->
<!--<div class="childImg" style="float:right;margin-right: 20%">-->
<!--&lt;!&ndash;<img src="img/ditu.png" alt="" style="width: 60%;height: 60%;">&ndash;&gt;-->
<!--<img src="/static/mj/img/callus_03.png" alt="" style="width: 80%;height: 80%;">-->
<!--</div>-->
<!--<div style="clear: both"></div>-->
<!--</div>-->
<script src="/static/mj/daohang/js/nav.js"></script>
<style>
    /*footer {*/
    /*height: 25%;*/
    /*}*/
</style>

<div th:replace="layout/footer::footer"></div>
<style>
    footer{
        margin-bottom: -2%;
    }
</style>
</body>
<script src="/static/mj/js/callus.js"></script>
<script>

    //中间内容自动填充屏幕
    var body = $(window).height() + $(window).scrollTop();//屏幕的高，包括滚动距离
    if (body>=1200){
        var banner = $(".bannerbox").outerHeight(true);//banner高度
        var footer = $("footer").outerHeight(true);//footer高度
        var height = body - (banner + footer);
        $(".media").height(height);
        $(window).resize(function () {
            body = $(window).height() + $(window).scrollTop();//屏幕的高，包括滚动距离
            banner = $(".bannerbox").outerHeight(true);//banner高度
            footer = $("footer").outerHeight(true);//footer高度
            height = body - (banner + footer);
            $(".media").height(height);
        });
    }
</script>
</html>