<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--用最新版ie-->
    <meta name="format-detection" content="telephone=no"><!--禁止ios自动识别数字为手机号-->
    <meta name="renderer" content="webkit"><!--让360双核浏览器用webkit内核渲染页面-->
    <title>
        连接照明</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/nav.js"></script>
    <link type="text/css" href="css/base.css" rel="stylesheet">
    <link type="text/css" href="css/page.css" rel="stylesheet">
    <link type="text/css" href="css/inside.css" rel="stylesheet">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.2.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <style></style></head>
<body>
<div th:include="layout/header::header"></div>
<div class="nyBanner01 syBanner pc">
    <div id="slideBox" class="slideBox">
        <div class="hd">
            <ul></ul>
        </div>
        <div class="bd">
            <ul>
                <li ><a href="#" title=""><img width="100%" height="100%" src="connectedlighting/images/banner1.jpg"></a>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h3>连接照明</h3>
                                <div class="banner-line"></div>
                                <p>从枝形吊灯到吸顶灯/筒灯，您可以控制空间的照明，一个遥控器批量控制多个LDK灯</p>
                            </div>
                        </div>
                    </div>
                </li>

                <li ><a href="#" title=""><img width="100%" height="100%" src="connectedlighting/images/banner2.jpg"></a>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h3>连接照明</h3>
                                <div class="banner-line"></div>
                                <p>从枝形吊灯到吸顶灯/筒灯，您可以控制空间的照明，一个遥控器批量控制多个LDK灯</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li ><a href="#" title=""><img width="100%" height="100%" src="connectedlighting/images/banner3.jpg"></a>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h3>连接照明</h3>
                                <div class="banner-line"></div>
                                <p>从枝形吊灯到吸顶灯/筒灯，您可以控制空间的照明，一个遥控器批量控制多个LDK灯</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li ><a href="#" title=""><img width="100%" height="100%" src="connectedlighting/images/banner4.jpg"></a>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h3>连接照明</h3>
                                <div class="banner-line"></div>
                                <p>从枝形吊灯到吸顶灯/筒灯，您可以控制空间的照明，一个遥控器批量控制多个LDK灯</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="tit wrapper"><span>特点</span><span style="font-size: 18px;">/Characteristic</span></div>
<div class="solum connect-de1">
    <p>不需要任何特殊的布线工作，所有的灯都是无线连接，可以根据需要自由控制使得房间里的灯光调节很方便</p>
</div>
<div class="lx cowrapper clearfix">
    <div class="lxr fl"><img src="connectedlighting/images/网页ODELIC_04.png"></div>
    <div class="lxl fr lxl1"><div class="table"><div class="table-cell">
        <div class="sertit">1.智能控制</div>
        <div class="lxlm">通过遥控器，智能手机或平板电脑，您可以控制所有灯光</div>
    </div></div></div>
</div>
<div class="lx cowrapper clearfix">
    <div class="lxr fr"><img src="connectedlighting/images/网页ODELIC_08.png"></div>
    <div class="lxl fl"><div class="table"><div class="table-cell">
        <div class="sertit">2.调光调色</div>
        <div class="lxlm">通过遥控器，智能手机应用等，根据生活节奏和心情轻松操作灯光，你可以随心享受各种灯</div>
    </div></div></div>
</div>
<div class="lx cowrapper clearfix">
    <div class="lxr fl"><img src="connectedlighting/images/网页ODELIC_11.png"></div>
    <div class="lxl fr lxl1"><div class="table"><div class="table-cell">
        <div class="sertit">3.无线连接</div>
        <div class="lxlm">您只需要相应的仪器和控制器，我们不需要任何特殊的布线工作，只需照常计划，建议更新和新建</div>
    </div></div></div>
</div>
<div class="sertit design"><span>室内设计</span><span style="font-size: 18px;">/Interior design</span></div>
<div class="solum connect-de1">
    <br>
    <p>适合室内的理想灯具，用一个遥控器自由发光</p>
    <br>
    <p>连接照明是一项先进技术，可通过一个遥控器控制空间光线，如果不选择室内设计，它可以为任何<br>
        <br>
        空间设计提供各种照明计划，请用自由光的制作创造一个新的生活场景</p>
</div>

<article id="contents">
    <section class="sec-pickup">
        <ul class="lst-product">
            <li class="item">
                <a href="/japanese-style">
                    <div class="a">
                        <img src="connectedlighting/images/网页ODELIC_15.png" alt="AQUA シリーズ">
                    </div>
                    <div class="b">
                        <p class="txt-title">DESIGN-1</p>
                        <p class="txt-info">日式风格</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/modern-concise-style">
                    <div class="a">
                        <img src="connectedlighting/images/网页ODELIC_17.png" alt="T-Line シリーズ">
                    </div>
                    <div class="b">
                        <p class="txt-title">DESIGN-2</p>
                        <p class="txt-info">简约风格</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/natural-style">
                    <div class="a">
                        <img src="connectedlighting/images/网页ODELIC_20.png" alt="ライティングダクトレール">
                    </div>
                    <div class="b">
                        <p class="txt-title">DESIGN-3</p>
                        <p class="txt-info">自然风格</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/fashion-style">
                    <div class="a">
                        <img src="connectedlighting/images/网页ODELIC_25.png" alt="蓄電池ユニット">
                    </div>
                    <div class="b">
                        <p class="txt-title">DESIGN-4</p>
                        <p class="txt-info">时尚轻奢</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/industrial-style">
                    <div class="a">
                        <img src="connectedlighting/images/网页ODELIC_27.png" alt="MINIMUM[ミニマム] シリーズ">
                    </div>
                    <div class="b">
                        <p class="txt-title">DESIGN-5</p>
                        <p class="txt-info">工业风格</p>
                    </div>
                </a>
            </li>
            <li class="item">
                <a href="/steampunk-style">
                    <div class="a">
                        <img src="connectedlighting/images/网页ODELIC_29.png" alt="made in NIPPON シリーズ">
                    </div>
                    <div class="b">
                        <span class="txt-title">DESIGN-6</span><span class="txt-info">蒸汽朋克</span>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</article>
<div th:include="layout/right::right"></div>


<style>
    .return{display:none;}
</style>


<div class="clearb"></div>
<div th:include="layout/footer::footer"></div>
</body></html>

<script>
    $(function(){
        jQuery(".slideBox").slide({titCell:".hd ul",mainCell:".bd ul",autoPlay:true,interTime:5000,mouseOverStop:false,autoPage:true,trigger:"click",delayTime:800,effect:"fold"});
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false
        });

        var w=$(window).width();
//        $('.nyBanner01 .bd li,.nyBanner01 .bd').css('height',w*(480/1440));
        $(window).resize(function(){
            var w=$(window).width();
//            $('.nyBanner01 .bd li,.nyBanner01 .bd').css('height',w*(480/1440));
        })
    })
</script>
