<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">&lt;!&ndash;用最新版ie&ndash;&gt;-->
    <!--<meta name="format-detection" content="telephone=no">&lt;!&ndash;禁止ios自动识别数字为手机号&ndash;&gt;-->
    <!--<meta name="renderer" content="webkit">&lt;!&ndash;让360双核浏览器用webkit内核渲染页面&ndash;&gt;-->
    <title>首页</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/nav.js"></script>
    <link type="text/css" href="/static/css/base.css" rel="stylesheet">
    <link type="text/css" href="/static/css/page.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.2.js"></script>
    <script type="text/javascript" src="/static/js/swiper.min.js"></script>
    <style></style>
</head>
<body>
<div th:include="layout/header::header"></div>
<div class="nyBanner01 syBanner pc">
    <div id="slideBox" class="slideBox">
        <div class="hd">
            <ul></ul>
        </div>
        <div class="bd">
            <ul>
                <li><a href="/home" title=""><img width="100%" height="auto" src="/static/images/banner1.jpg"></a>
                </li>

                <li><a href="/comm1" title=""><img width="100%" height="auto" src="/static/images/banner2.jpg"></a></li>

                <li><a href="swrski" title=""><img width="100%" height="auto" src="/static/images/banner3.jpg"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="syContent">
    <div class="syContent01">
        <div class="index">
            <div class="clearfix">
                <div class="fl pos_re picBox1">
                    <a href="/connectedlighting"></a>
                    <div class="yy"></div>
                    <div class="pic"><img src="/static/images/网页ODELIC_03.png"></div>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h4>连接照明</h4>
                                <h5>室内设计</h5>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr pos_re picBox2">
                    <a href="/home"></a>
                    <div class="yy"></div>
                    <div class="pic"><img src="/static/images/网页ODELIC_05.png"></div>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h3>家居照明</h3>
                                <p>用专业、智能、健康的灯点亮家居空间</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix mart20">
                <div class="fl pos_re picBox3">
                    <a href="/comm1"></a>
                    <div class="yy"></div>
                    <div class="pic"><img src="/static/images/网页ODELIC_09.png"></div>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h3>商用照明</h3>
                                <p>用光创造商业价值，用光勾勒城市身影，这世界本该繁华</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr pos_re picBox4">
                    <a href="/product"></a>
                    <div class="yy"></div>
                    <div class="pic"><img src="/static/images/网页ODELIC_11.png"></div>
                    <div class="wenz">
                        <div class="wrapper">
                            <div class="style-banner box">
                                <h3>产品中心</h3>
                                <p>Products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="layout/right::right"></div>

<style>
    .return {
        display: none;
    }
</style>
<div class="clearb"></div>
<div th:include="layout/footer::footer"></div>

</body>
</html>

<script>
    $(function () {
        jQuery(".slideBox").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            autoPlay: true,
            interTime: 5000,
            mouseOverStop: false,
            autoPage: true,
            trigger: "click",
            delayTime: 800,
            effect: "fold"
        });
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            paginationClickable: true,
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 5000,
            autoplayDisableOnInteraction: false
        });

        var w = $(window).width();
//        $('.nyBanner01 .bd li,.nyBanner01 .bd').css('height',w*(480/1440));
        $(window).resize(function () {
            var w = $(window).width();
//            $('.nyBanner01 .bd li,.nyBanner01 .bd').css('height',w*(480/1440));
        })
    })
</script>
