<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>产品中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><!--用最新版ie-->
    <meta name="format-detection" content="telephone=no"><!--禁止ios自动识别数字为手机号-->
    <meta name="renderer" content="webkit"><!--让360双核浏览器用webkit内核渲染页面-->
    <link rel="stylesheet" href="/static/mj/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/static/mj/js/jquery.min.js"></script>
    <script src="/static/mj/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" href="/static/mj/daohang/css/base.css" rel="stylesheet">
    <link type="text/css" href="/static/mj/daohang/css/page.css" rel="stylesheet">
    <style>
        /**{*/
            /*box-sizing:unset!important;*/
        /*}*/
        /*a {*/
            /*text-decoration: none!important;*/
        /*}*/
        /*@media screen and (max-width: 1023px) {*/
            /*nav{*/
                /*display: block;*/
            /*}*/
        /*}*/
    </style>
    <link type="text/css" href="/static/mj/css/product.css" rel="stylesheet">
</head>
<body>
<div th:include="layout/header::header"></div>

    <style>

        /*.bannerbox {*/
             /*margin: 0 auto;*/
             /*position:relative;*/
             /*overflow:hidden;*/
             /*height:400px;*/
         /*}*/
        /*.banner {*/
            /*width:2000px; !*图片宽度*!*/
            /*position:absolute;*/
            /*left:50%;*/
            /*margin-left:-1000px; !*图片宽度的一半*!*/
            /*height: 400px;*/
        /*}*/
    </style>
    <div class="bannerbox">
        <div class="banner">
            <img src="/static/mj/img/cpzx_01.png">
        </div>
    </div>

<div class="fixed_right">
    <ul>
        <li class="pos_re qq">
            <div class='side-tools-tips'>
                <p><a target='_blank' href='http://wpa.qq.com/msgrd?v=3&uin=806015080&site=qq&menu=yes'><img
                        src='/static/mj/daohang/images/qq_ff0df34.png' alt=''/></a></p>
            </div>
            <div class="table">
                <div class="table-cell" style="cursor: pointer;">
                    <img src="/static/mj/daohang/images/right_icon01.png" width="22">
                </div>
            </div>
        </li>
        <li class="pos_re">
            <div class="table">
                <div class="table-cell" style="cursor: pointer;" title="APP下载">
                    <img src="/static/mj/daohang/images/right_icon07.png" width="18">
                </div>
            </div>
        </li>
        <li class="pos_re totop">
            <div class="table">
                <div class="table-cell" style="cursor: pointer;" title="回到顶部">
                    <img src="/static/mj/daohang/images/right_icon06.png" width="20">
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="black01" style="display: none; opacity: 1;"></div>

<!--<div class="ny-banner pro-banner bckBanner"-->
     <!--style="background:url(./static/opjm_files/jjdj02.jpg) no-repeat center center;background-size:cover;">-->
</div>
<input type="hidden" id="category_hide" value="categoryId1">
<input type="hidden" id="sonCategory_hide" value="sonCategoryId1">
<div class="product">
    <div class="pro-shaix">
        <div class="wrapper" style="background-color: rgb(246, 244, 236);">
            <ul>
                <li class="clearfix">
                    <div class="li_tit">类型：</div>
                    <div class="li_select">
                        <a href="#" id="categoryId1" class="all cur">全部</a>
                        <a href="#" id="categoryId2">吸顶灯</a>
                        <a href="#" id="categoryId3">吊灯</a>
                        <a href="#" id="categoryId4">餐吊灯</a>
                        <a href="#" id="categoryId5">壁灯</a>
                        <a href="#" id="categoryId6">风扇灯</a>
                        <a href="#" id="categoryId7">镜前灯</a>
                        <a href="#" id="categoryId8">台灯</a>
                        <a href="#" id="categoryId9">落地灯</a>
                        <!--<a href="#" class="all cur">全部</a>-->
                        <!--<a href="#">吸顶灯</a>-->
                        <!--<a href="#">护眼灯</a>-->
                        <!--<a href="#">吊灯</a>-->
                        <!--<a href="#">餐吊灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E5%A3%81%E7%81%AF&amp;sort=1">壁灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E8%90%BD%E5%9C%B0%E7%81%AF&amp;sort=1">落地灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E9%A3%8E%E6%89%87%E7%81%AF&amp;sort=1">风扇灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E5%B9%B3%E6%9D%BF%E7%81%AF&amp;sort=1">平板灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E6%B4%97%E5%A2%99%E7%81%AF&amp;sort=1">洗墙灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E9%95%9C%E5%89%8D%E7%81%AF&amp;sort=1">镜前灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E5%8F%B0%E7%81%AF&amp;sort=1">台灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E6%B0%9B%E5%9B%B4%E7%81%AF&amp;sort=1">氛围灯</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field3=%E5%B0%8F%E5%A4%9C%E7%81%AF&amp;sort=1">小夜灯</a>-->
                    </div>
                </li>
                <li class="clearfix">
                    <div class="li_tit">风格：</div>
                    <div class="li_select">
                        <a href="#" id="sonCategoryId1" class="all cur">全部</a>
                        <a href="#" id="sonCategoryId2">轻奢</a>
                        <a href="#" id="sonCategoryId3">简约</a>
                        <a href="#" id="sonCategoryId4">田园</a>
                        <a href="#" id="sonCategoryId5">新中式</a>
                        <a href="#" id="sonCategoryId6">和风</a>
                        <a href="#" id="sonCategoryId7">蒸汽朋克</a>
                        <a href="#" id="sonCategoryId8">工业风</a>
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;sort=1"-->
                        <!--class="all cur">全部</a>-->

                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E5%AE%A2%E5%8E%85&amp;sort=1">客厅</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E5%8D%A7%E5%AE%A4&amp;sort=1">卧室</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E9%A4%90%E5%8E%85&amp;sort=1">餐厅</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E8%B5%B0%E5%BB%8A%E8%BF%87%E9%81%93&amp;sort=1">走廊过道</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E7%8E%84%E5%85%B3&amp;sort=1">玄关</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E4%B9%A6%E6%88%BF&amp;sort=1">书房</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E5%8E%A8%E6%88%BF&amp;sort=1">厨房</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E5%8D%AB%E7%94%9F%E9%97%B4&amp;sort=1">卫生间</a>-->
                        <!--<a href="http://www.opple.com.cn/newpro/prolist/?classid=79&amp;field2=%E9%98%B3%E5%8F%B0&amp;sort=1">阳台</a>-->
                    </div>
                </li>
                <!--<li class="clearfix">-->

                <!--</li>-->
                <!--<li class="clearfix">-->

                <!--</li>-->
            </ul>
        </div>
    </div>

    <div class="pro-paix">
        <div class="wrapper">
            <a href="javascript:;" class="phone shaixBtn cur">开始筛选</a>
        </div>
    </div>

</div>
<div class="pro-list">
    <div class="wrapper">
        <ul class="clearfix" id="wind_cate">
            <li th:each="pageInfo : ${pageInfos.getList()}">
                <div class="box" style="background-color: rgb(246, 244, 236);">
                    <div class="img">
                        <a href="#">
                            <img th:src="@{${pageInfo.url}}">
                        </a>
                    </div>
                    <div class="wenz">
                        <h3>
                            <a href="#">MB1212-D0.2×5+1×2-悠彩壁灯-2700K4000K</a>
                        </h3>
                        <p class="fontp">
                            功率（W）：3.5W<br> 规格尺寸(mm)：120*120*65mm<br>
                            应用空间：客厅,卧室,过道,玄关 </p>
                    </div>
                </div>
            </li>
            <!--<li>-->
            <!--<div class="box" style="background-color: rgb(246, 244, 236);">-->
            <!--<div class="img"><a-->
            <!--href="http://www.opple.com.cn/newpro/detail/3918"><img-->
            <!--src="./static/opjm_files/1508834911.jpg"></a></div>-->
            <!--<div class="wenz">-->
            <!--<h3>-->
            <!--<a href="http://www.opple.com.cn/newpro/detail/3918">MZD670A-D0.2*38×6-YF-花开富贵6头</a>-->
            <!--</h3>-->
            <!--<p class="fontp">-->
            <!--功率（W）：34<br> 规格尺寸(mm)：∅670*H500<br> 应用空间：卧室 </p>-->
            <!--</div>-->
            <!--<div class="li_link clearfix">-->
            <!--<a href="javascript:;" class="db-btn" data-proid="3918"-->
            <!--data-classid="79">加入对比</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</li>-->

        </ul>

    </div>
</div>
</div>

<div class="divPages">

    <input type="hidden" id="num" th:value="${pageInfos.getPageNum()}">
    <input type="hidden" id="total" th:value="${pageInfos.getPages()}">
    <ul class="pagination">
        <li><a href="#" class="page1">首页</a></li>
        <li><a href="#" class="page2">上一页</a></li>
        <li><a th:if="${pageInfos.getPageNum()-4>=1}" href="#"
               th:text="${pageInfos.getPages() -4}" class="pagenums"></a></li>
        <li><a th:if="${pageInfos.getPageNum()-3>=1}" href="#"
               th:text="${pageInfos.getPages() -3}" class="pagenums"></a></li>
        <li><a class="pagenums" th:if="${pageInfos.getPageNum()-2>=1}" href="#"
               th:text="${pageInfos.getPages() -2}"></a></li>
        <li><a class="pagenums" th:if="${pageInfos.getPageNum()-1>=1}" href="#"
               th:text="${pageInfos.getPages() -1}"></a></li>
        <li class="active"><a class="pagenums" href="#"
                              th:text="${pageInfos.getPageNum()}"></a></li>
        <li><a class="pagenums"
               th:if="${pageInfos.getPageNum()+1<=pageInfos.getPages()}"
               href="#"
               th:text="${pageInfos.getPageNum()+1}"></a></li>
        <li><a class="pagenums"
               th:if="${pageInfos.getPageNum()+2<=pageInfos.getPages()}"
               href="#"
               th:text="${pageInfos.getPageNum()+2}"></a></li>
        <li><a class="pagenums"
               th:if="${pageInfos.getPageNum()+3<=pageInfos.getPages()}"
               href="#"
               th:text="${pageInfos.getPageNum()+3}"></a></li>
        <li><a class="pagenums"
               th:if="${pageInfos.getPageNum()+4<=pageInfos.getPages()}"
               href="#"
               th:text="${pageInfos.getPageNum()+4}"></a></li>
        <li><a class="pagenums"
               th:if="${pageInfos.getPageNum()+5<=pageInfos.getPages()}"
               href="#"
               th:text="${pageInfos.getPageNum()+5}"></a></li>
        <li><a class="pagenums"
               th:if="${pageInfos.getPageNum()+6<=pageInfos.getPages()}"
               href="#"
               th:text="${pageInfos.getPageNum()+6}"></a></li>
        <li><a href="#" class="page3">下一页</a></li>
        <li><a href="#" class="page4">尾页</a></li>
    </ul>
</div>
<style>
    /*.divPages{*/
        /*padding-bottom: 10px;*/
    /*}*/
</style>

<div class="new_pro_screen_ul" style="background-color: rgb(246, 244, 236);">
    <ul class="wrapper">
        <li>
            <h3 style="background-color: rgb(246, 244, 236);">类型</h3>
            <div class="sub">
                <dl class="clearfix" id="phon_cate">
                    <dd class="all cur" data-val="categoryId1"><a
                            href="javascript:;">全部</a></dd>
                    <dd data-title="field3" data-val="categoryId2"><a
                            href="javascript:;">吸顶灯</a></dd>
                    <dd data-title="field3" data-val="categoryId3"><a
                            href="javascript:;">吊灯</a></dd>
                    <dd data-title="field3" data-val="categoryId4"><a
                            href="javascript:;">餐吊灯</a></dd>
                    <dd data-title="field3" data-val="categoryId5"><a
                            href="javascript:;">壁灯</a></dd>
                    <dd data-title="field3" data-val="categoryId6"><a
                            href="javascript:;">风扇灯</a></dd>
                    <dd data-title="field3" data-val="categoryId7"><a
                            href="javascript:;">镜前灯</a></dd>
                    <dd data-title="field3" data-val="categoryId8"><a
                            href="javascript:;">台灯</a></dd>
                    <dd data-title="field3" data-val="categoryId9"><a
                            href="javascript:;">落地灯</a></dd>
                </dl>
            </div>
        </li>

        <li>
            <h3 style="background-color: rgb(246, 244, 236);">风格</h3>
            <div class="sub">
                <dl class="clearfix" id="phon_son">
                    <dd class="all cur" data-val="sonCategoryId1"><a
                            href="javascript:;">全部</a></dd>
                    <dd data-title="field2" data-val="sonCategoryId2"><a
                            href="javascript:;">轻奢</a></dd>
                    <dd data-title="field2" data-val="sonCategoryId3"><a
                            href="javascript:;">简约</a></dd>
                    <dd data-title="field2" data-val="sonCategoryId4"><a
                            href="javascript:;">田园</a></dd>
                    <dd data-title="field2" data-val="sonCategoryId5"><a
                            href="javascript:;">新中式</a></dd>
                    <dd data-title="field2" data-val="sonCategoryId6"><a
                            href="javascript:;">和风</a></dd>
                    <dd data-title="field2" data-val="sonCategoryId7"><a
                            href="javascript:;">蒸汽朋克</a></dd>
                    <dd data-title="field2" data-val="sonCategoryId8"><a
                            href="javascript:;">工业风</a></dd>
                </dl>
            </div>
        </li>
    </ul>

    <div class="new_pro_screen_btn"
         style="background-color: rgb(246, 244, 236);">
        <a href="javascript:;" class="cz">重置</a>
        <a href="javascript:;" class="qd">确定</a>
    </div>
</div>
<div class="black"></div>
<div class="clearb"></div>

<script type="text/javascript" src="/static/mj/opjm_files/common.js"></script>
<script>

//    $(function () {
//        //排序
//        $('.pro-paix a').click(function () {
//            $(this).addClass('cur').siblings().removeClass('cur');
//        });
//
//        //筛选选中
//        $('.pro-shaix .li_select a').click(function () {
//            if ($(this).hasClass('all')) {
//                $(this).addClass('cur').siblings("a").removeClass('cur')
//            }
//            else if ($(this).hasClass('cur')) {
//                $(this).removeClass('cur');
//            }
//            else {
//                $(this).addClass('cur').siblings(".all").removeClass('cur');
//            }
//        });
//
//        $('#btn_search').click(function () {
//            var key = $('#txt_key');
//            if (key.val() == '') {
//                key.focus();
//                return false;
//            }
//            location.href = '/newpro/prolist/?classid=79&key=' + key.val();
//        });
//        var url = '/newpro/prolist/?classid=79';
//        document.onkeydown = function (e) {
//            var ev = document.all ? window.event : e;
//            if (ev.keyCode == 13) {
//                var key = $('#txt_key');
//                if (key.val() == '') {
//                    key.focus();
//                    return false;
//                }
//                url += '&key=' + key.val();
//                //alert(url);
//                window.location.href = url;
//            }
//        }
//
//        //选中
//        $('.new_pro_screen_ul li dd').click(function () {
//            if ($(this).hasClass('cur')) {
//                $(this).removeClass('cur')
//            }
//            else {
//                $(this).addClass('cur').siblings().removeClass('cur');
//            }
//        });
//        //筛选出现
//        $(".shaixBtn").click(function () {
//            $('.black').fadeIn();
//            $('.new_pro_screen_ul').animate({
//                "right": "0",
//                "opacity": 1
//            });
//            $('.new_pro_screen_ul li').addClass('on')
//        });
//        //筛选关闭
//        $('.black').click(function () {
//            $('.black').fadeOut();
//            $('.new_pro_screen_ul').animate({
//                "right": "-100%",
//                "opacity": 0
//            });
//            $('.new_pro_screen_ul li').removeClass('on')
//        });
//        //重置
//        $('.new_pro_screen_btn .cz').click(function () {
//            $('.new_pro_screen_ul li dd').removeClass('cur');
//        });
//        $(".new_pro_screen_ul li h3").click(function () {
//            $(this).siblings(".sub").slideToggle();
//        });
//    })
</script>

<div class="clearb" style="clear: both;"></div>
<style>
    /*.newFooter{*/
        /*margin-top: 8%;*/
        /*margin-bottom: -15px;*/
    /*}*/
</style>
<div th:include="layout/footer::footer"></div>

</body>

<script src="/static/mj/js/opjm.js" type="text/javascript"></script>
<script>

//    $(function () {
//        var width = $(window).width();
//        var height = $(window).height();
//        if (width <= 400 && height <= 700) {
//            $(".pagination").addClass("pagination-sm");
//            $(".divPages").css({
//                position: 'absolute',
//                left: 10
////                top: ($(window).height() - $('.divPages').outerHeight())/2 + $(document).scrollTop()
//            });
//        } else if (width > 1100 && height > 900) {
//            $(".pagination").addClass("pagination-lg");
//            $(".divPages").css({
//                position: 'absolute',
//                left: ($(window).width() - $(".pagination").width()) / 2
////                top: ($(window).height() - $('.divPages').outerHeight())/2 + $(document).scrollTop()
//            });
//        } else {
//            $(".divPages").css({
//                position: 'absolute',
//                left: ($(window).width() - $(".pagination").width()) / 2
////                top: ($(window).height() - $('.divPages').outerHeight())/2 + $(document).scrollTop()
//            });
//        }
//        //监听 浏览器窗口大小的变化事件
//        $(window).resize(function () {
//            width = $(window).width();
//            height = $(window).height();
//            //随着窗口的变化改变分页大小
//            if (width <= 400 && height <= 700) {
//                $(".pagination").removeClass("pagination-lg");
//                $(".pagination").addClass("pagination-sm");
//                $(".divPages").removeAttr('style');
//                $(".divPages").css({
//                    position: 'absolute',
//                    left: 10
////                top: ($(window).height() - $('.divPages').outerHeight())/2 + $(document).scrollTop()
//                });
//            } else if (width > 1100 && height > 900) {
//                $(".pagination").removeClass("pagination-sm");
//                $(".pagination").addClass("pagination-lg");
//                $(".divPages").removeAttr('style');
//                $(".divPages").css({
//                    position: 'absolute',
//                    left: ($(window).width() - $(".pagination").width()) / 2
////                    top: ($(window).height() - $('.divPages').outerHeight())/2 + $(document).scrollTop()
//                });
//
//            } else {
//                $(".pagination").removeClass("pagination-lg");
//                $(".pagination").removeClass("pagination-sm");
//                $(".divPages").removeAttr('style');
//                $(".divPages").css({
//                    position: 'absolute',
//                    left: ($(window).width() - $(".pagination").width()) / 2
////                    top: ($(window).height() - $('.divPages').outerHeight())/2 + $(document).scrollTop()
//                });
//
//            }
//        });
//        $("#phon_cate dd").on('click', function () {
//            $("#phon_cate dd").removeClass('cur');
//            $(this).addClass('cur');
//        });
//        $("#phon_son dd").on('click', function () {
//            $("#phon_son dd").removeClass('cur');
//            $(this).addClass('cur');
//        });
//        //重置
//        $('.new_pro_screen_btn .cz').click(function () {
//            $("#phon_cate dd").removeClass('cur');
//            $("#phon_son dd").removeClass('cur');
//        });
//    });
</script>
<script src="/static/mj/daohang/js/nav.js"></script>
<script src="/static/mj/js/product.js"></script>
</html>