* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    margin: 0;
    pading: 0;
}

li {
    float: left;
    list-style: none;
}

.nyBanner01 .hd {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    text-align: center;
    width: 100%;
}

.info {
    margin: 30px auto 0 auto;
    /*position: relative;*/
    text-align: right;
    width: 1200px;
    height: 230px;
    /*border: 1px solid green;*/
}

/*PC*/
@media screen and (min-width: 1400px) {
    .photo {
        margin: 0 auto;
        width: 1920px;
        height: auto;
        text-align: center;
    }

    .title {
        width: 100%;
        height: 500px;
        /*margin-top: -100px;*/
    }

    .lmbg {
        margin: 0 auto;
        width: 1200px;
        height: 90px;
        /*border: 1px solid black;*/
        text-align: center;
    }

    #jswbox {
        width: 1200px;
        margin: -120px auto 0 auto;
        text-align: center;
        /*padding: 0 0 0 50px;*/
    }

    .spc {
        display: block;
        width: 800px;
        height: 450px;
    }
}

/*通用样式*/
/*手机*/
@media screen and (max-width: 1200px) {
    .photo {
        margin: 0 auto;
        width: 1200px;
        height: auto;
        text-align: center;
    }

    .title {
        width: 100%;
        height: 500px;
        /*margin-top: -100px;*/
    }

    .lmbg {
        margin: 0 auto;
        width: 1200px;
        height: 100px;
        /*border: 1px solid black;*/
        text-align: center;
    }

    .lmbg li {
        margin-left: 30px;
    }

    #jswbox {
        width: 1200px;
        /*height: 325px;*/
        /*border: 1px solid black;*/
        margin: 0 auto;
        text-align: center;
        /*margin-top: -120px;*/
        /*padding: 0 0 0 50px;*/
    }

    .spc {
        display: block;
        width: 600px;
        height: 450px;
    }
}

/*平板*/
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .photo {
        margin: 0 auto;
        width: 1000%;
        height: auto;
        text-align: center;
    }

    .title {
        width: 100%;
        height: 500px;
        /*margin-top: -100px;*/
    }

    .lmbg {
        margin: 0 auto;
        width: 100%;
        height: 100px;
        /*border: 1px solid black;*/
        text-align: center;
    }

    #jswbox {
        width: 1200px;
        margin: -120px auto 0 auto;
        text-align: center;
        /*padding: 0 0 0 50px;*/
    }

    .spc {
        display: block;
        width: 800px;
        height: 450px;
    }
}

.table {
    font-size: 20px;
    text-align: center;
    float: left;
    position: absolute;
    left: 60%;
}

.solum {
    width: 1200px;
    margin: 0 auto;
}

.solum img {
    width: 1200px;
    height: 485px;
}

.home {
    margin: 20px auto;
    width: 1200px;
    height: 400px;
    /*border: 1px solid black;*/
    text-align: center;
}

.content {
    /*position: relative;*/
    margin-top: 20px;
    text-align: center;
    width: 600px;
    height: auto;
    float: left;
}

.img {
    /*position: relative;*/
    width: 600px;
    height: auto;
    /*border: 1px solid black;*/
    float: left;
}

.desc {
    text-align: left
}

.top {
    margin-top: 5px;
}

.bottom {
    margin-bottom: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.dd {
    padding: 0 0 0 50px;
}

.tt {
    position: absolute;
    top: 5%;
    left: 2%;
}

.num {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.show {
    margin: 0 auto;
    width: 200px;
    position: absolute;
    top: 420px;
    left: 50%;
}

.numOver {
    width: 28px;
    height: 16px;
    background: #C30;
    border: 1px solid green;
    margin: 0 auto;
    float: left;
}

.num1 {
    width: 28px;
    height: 16px;
    border: 1px solid green;
    margin: 0 auto;
    float: left;
}

.span {
    width: 100%;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    background: #999;
}

.active {
    background-color: #39F;
}

.one {
    /*border: 1px solid #CCC;*/
    /*
    border-top:1px solid #CCC;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    */
    color: white;
    background: #80b3ff;
    width: 70px;
    height: 70px;
    text-align: center;
}

.two {
    width: 65px;
    height: 65px;
    text-align: center;
    color: white;
    /*border: 1px solid #CCC;*/
    background: #80b3ff;
}

.three {
    /*border: 1px solid #CCC;*/
    color: white;
    background: #80b3ff;
    /*
    border-bottom:1px solid #CCC;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    */
    width: 70px;
    height: 70px;
    text-align: center;
}

.button {
    text-align: center;
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    border: 1px solid #666;
    margin: 40px auto;
    /*margin-top: 40px;*/
    border-radius: 5px;
    display: block;
    color: #666;
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    height: 0;
}

.wntj {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    /*padding: 0 0 0 50px;*/
}

#jswbox ul {
    position: relative;
    height: 600px;
}

#jswbox li {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 0;
    cursor: pointer;
    overflow: hidden;
}

#jswbox li img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    float: left;
    border: 0;
}

#jswbox .prev, #jswbox .next {
    display: none;
}