
.lmbg li {
    float: left;
    margin: 30px 20px;
}

.aqua {
    display: none;
}

.spect {
    border-bottom: 2px solid #daa145;
    color: #daa145;
}

.introduce {
    font-size: 24px;
    font-weight: bolder;
    color: #000000;
}

.mystar {
    margin: 20px auto 10px auto;
    width: 400px;
    height: 70px;
}

.mystar li {
    float: left;
    list-style: none;
    /*color: #000000;*/
    font-size: 30px;
    height: 30px;
    margin-right: 50px;
    cursor: pointer;
}