@charset "Shift_JIS";

@charset "Shift_JIS";
/* sass */
body, div, p, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, table, caption, th, td, form, fieldset, input, textarea, select, pre, address, blockquote, embed, object, address, dfn, article, aside, canvas, figure, figcaption, footer, header, menu, nav, section, main, audio, video { margin: 0px; padding: 0px; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; }

html { overflow-y: scroll; font-size: 62.5%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

html * { -webkit-overflow-scrolling: touch; }

html *:focus { outline: none; }

* { box-sizing: border-box; }

body { color: #333; font-family: "Lucida Grande", "ŸàƒSƒVƒbƒN Medium", "ŸàƒSƒVƒbƒN‘Ì", "Yu Gothic Medium", YuGothic, "ƒqƒ‰ƒMƒmŠpƒS ProN", "Hiragino Kaku Gothic ProN", "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif; background: #fff; font-size: 12px; font-size: 1.2rem; line-height: 1.4; }

em { font-style: normal; font-weight: bold; }

strong { font-style: normal; font-weight: bold; }

ul, ol { list-style: none; }

table { border-collapse: separate; border-spacing: 0; }

caption, th { text-align: left; }

img { border: 0; vertical-align: middle; -ms-interpolation-mode: bicubic; }

a { cursor: pointer; text-decoration: none; color: #333; transition: all .2s; }

form { font-weight: normal; }

input, button, textarea, select { font-family: "Lucida Grande", "ŸàƒSƒVƒbƒN Medium", "ŸàƒSƒVƒbƒN‘Ì", "Yu Gothic Medium", YuGothic, "ƒqƒ‰ƒMƒmŠpƒS ProN", "Hiragino Kaku Gothic ProN", "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif; line-height: inherit; -webkit-appearance: none; -moz-appearance: none; appearance: none; margin: 0; padding: 0; background: transparent; border: none; border-radius: 0; outline: none; text-transform: none; }

input[type="submit"], input[type="button"], button { -webkit-appearance: button; -moz-appearance: button; appearance: button; cursor: pointer; }

input[type="submit"]::-webkit-search-decoration, input[type="button"]::-webkit-search-decoration { display: none; }

figure img { width: 100%; height: auto; }

@media all and (-ms-high-contrast: none) { body { font-family: "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif; } input, button, textarea, select { font-family: "ƒƒCƒŠƒI", Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif; } }

@media all and (min-width: 768px) { body { font-size: 16px; font-size: 1.6rem; } }
