.in_box { width:960px; float:left; height:500px; margin:20px 0;}
.in_box li{ width:218px; height:487px; margin-right:29px; float:left; overflow:hidden; position:relative;}
.toll_img{ width:218px; height:487px;position:absolute; top:0; left:0;}
/*.toll_info{ height:487px; background:url(../images/sd02.jpg) no-repeat 0 0; vertical-align:middle;display:table-cell;}*/
.toll_info{ height:487px; background:url(../images/sd11.jpg) no-repeat 0 0; vertical-align:middle;display:block; padding:80px 15px 0 15px; float:left;position:absolute; top:487px; left:0; *zoom:1; *padding:80px 10px 0 10px;}
.in_box li p{ padding:7px 5px 0 10px; cursor:pointer; color:#FFFFFF; font-family:"微软雅黑";font-size:14px; float:left; line-height:21px; font-weight:bold;}
.in_box li a{ color:#666; text-decoration:none; position:absolute; top:0; left:0;width:100%; height:487px; z-index:1000; display:block; }
.toll_info2{ background:url(../images/sd22.jpg) no-repeat 0 0;}
.toll_info3{ background:url(../images/sd33.jpg) no-repeat 0 0;}
.toll_info4{ background:url(../images/sd44.jpg) no-repeat 0 0;}
.toll_tit {
	float: left;
	height: 40px;
	width: 188px;
	border-bottom:1px #FFFFFF solid;
	cursor:pointer;
	line-height:40px;
	font-family:"微软雅黑";
	font-size:25px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	padding:190px 0 0px 0;
}
.in_box .toll_last{
margin-right:0px;}

