/* ����ͼ�� �Ѽ����� www.lanrentuku.com */

/*reset*/


.subNavBox{width:100%; float:left;}
.subNav{cursor:pointer;font-weight:bold;font-size:18px;color:#ed6f00;line-height:44px;padding-left:10px;background:url(../images/jiantou1.jpg) no-repeat;background-position:95% 50%; height:44px;
font-family:"微软雅黑"; font-weight:bold; background-color:#f5f5f5; margin:0 0 5px 0; border-left:8px #ed6f00 solid; padding:0 0 0 10px;}
.subNav:hover{color:#666;}
.currentDd{color:#666;}
.currentDt{background-image:url(../images/jiantou.jpg);}
.navContent{display: none; width:960px; height:auto;}

