*{ margin:0; padding:0}

/*------------------------------顶部banner----------------------------------*/
.comm1_banner{
    width: 100%;
    height: auto;
}

.spacegap{
    clear: both;
    height: 50px;
}

/*-------------------------------客户服务---------------------------------*/
.comm1_title_server{
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

.content_cus1{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.content_cus1_ul{
    height: auto;
    list-style: none;
    /*overflow-y: hidden;*/
}

.content_cus1_li{
    width:33.33%;
    height:auto;
    /*margin: 5px;*/
    /*padding:5px;*/
    float: left;
    /*border:1px solid #ccc;*/
}

.content_cus1_img{
    width:100px;
    height:100px;

    clear: both;
    display: block;
    margin:0px auto;
}

.content_cus1_title{
    font-size: 24px;
    color: #e5aa49;
    text-align: center;
    margin-top: 20px;
}
.content_cus1_content{
    margin-top: 20px;
}

.content_cus1_content ul li{
    /*float: left;*/
    margin: 10px;
    list-style: none;

}

.content_cus1_content ul li div{
    font-size: 20px;
    color: #333333;
    text-align:center;
}



/*------------------------------底部轮播图----------------------------------*/
.comm1_title_anli{
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottombanner{
    width: 1000px;
    height: 583px;
    margin: 30px auto;
    position: relative;
    /*border: 2px solid red;*/
    overflow: hidden;
}
.bottombanner div{
    width: 4000px;
    height: 583px;
    position:absolute;
    left: 0;
    top: 0;
}
.bottombanner a{
    width: 1000px;
    height: 583px;
}
.bottombanner img{
    width: 1000px;
    height: 583px;
    float: left;
}
.bottombanner ul{
    position: absolute;
    left: 474px;
    bottom: 30px;
}
.bottombanner ul li{
    width: 12px;
    height: 12px;
    background: #DDDDDD;
    list-style: none;
    float: left;
    margin-right: 8px;
    border-radius: 50%;
}






