*{ margin:0; padding:0}

/*-------------------------------顶部标题-------------------------------------*/

.spacegap{
    clear: both;
    height: 50px;
}

.comm3_title{
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
}

.comm3_desc{
    font-size: 16px;
    margin: 30px auto;
    width: 860px;
    color: #333333;
    text-align: left;
}


/*-------------------------------轮播-------------------------------------*/
/*comm3banner*/

/*----------------------------------------采用产品---------------------------------------*/
.comm3_show_pic {
    width: 1200px;
    height:300px;
    margin: 0px auto;
}

.comm3_show_pic ul{

}

.comm3_show_pic ul li{
    width:400px;
    height:300px;
    /*padding-left: 20px;*/
    list-style: none;
    float: left;
}

.comm3_show_pic ul li img{
    width:200px;
    height:200px;
    clear: both;
    display: block;
    margin:0px auto;
}

.comm3_xinghao{
    font-size: 16px;
    color: #333333;
    margin-top: 20px;
    margin-left: 100px;
}
/*.comm3_price{*/
    /*font-size: 12px;*/
    /*margin-left: 100px;*/
/*}*/

/*.comm3_xiadan{*/
    /*clear: both;*/
    /*font-size: 23px;*/
    /*text-align:center;*/
/*}*/

.comm3_contact img{
    width:180px;
    height:44px;
    clear: both;
    display: block;
    margin:0px auto;

}







