*{ margin:0; padding:0}

/*------------------------------顶部banner----------------------------------*/
.comm2_banner{
    width: 100%;
    height: auto;
}



/*-------------------------------标题选项栏-------------------------------------*/
.spacegap{
    clear: both;
    height: 50px;
}


/**/
.comm2_switch{
    width:1204px;
    margin: 0px auto;
}
.comm2_switch ul li{
    width: 172px;
    list-style: none;
    float: left;
}
/*.comm2_switch ul li:hover{*/
/*background:#fff;box-shadow:0px -2px 16px 0px rgba(0,0,0,.4);*/
/*}*/
.comm2_switch ul li img{
    clear: both;
    display: block;
    margin:0px auto;
    margin-top: 15px;
    width: 70px;
    height: 80px;
    cursor:pointer;
    transition: all 1s;
}

.comm2_switch ul li:hover img{
    transform: scale(1.2,1.2);
}

.comm2_switch ul li div{
    color:#333333;font-size:16px;margin-top: 16px;text-align:center;
}


/*-------------------------------案例展示-------------------------------------*/


.comm2_anli_content{
    clear: both;
    width: 1320px;
    margin: 10px auto;
    padding-left: 30px;
}
.comm2_anli_content ul{
    clear: both;
}
.comm2_anli_content ul li{
    width: 420px;
    height: 320px;
    padding-left: 20px;
    list-style: none;
}
.comm2_anli_content ul .img_left{
    float: left;
}
.comm2_anli_content ul .img_right{
    float: left;
}
.comm2_anli_content ul li a div{
    width: 390px;
    height: 260px;
    overflow: hidden;
}
.comm2_anli_content ul li a div img{
    width: 390px;
    height: 260px;
    transition: all 1s;
}
.comm2_anli_content ul li a div:hover img{
    transform: scale(1.1,1.1);
}

.comm2_anli_content ul li div{
    width: 390px;
    font-size:18px;
    color: #333333;
    margin-top: 8px;
    text-align:center;
}


