*{
padding:0;
margin:0;
}
a{
text-decoration:none;}
body{ font-family:Microsoft YaHei,Arial, Helvetica, sans-serif}
img{
border:0;}
ul{
list-style-type: none;
}
#container {
	width: 100%;
	margin:0 auto;
}
#header{
	height: 96px;
	width: 100%;
	min-width: 960px;
	background:url(../images/hbg2.jpg) repeat-x;
	clear:both;

	
}
#header .h_top {
	height: 96px;
	width: 960px;
	margin:0 auto;
}
.h_top .log {
	float: left;
	height: 29px;
	width: 700px;
	padding:13px 0 0 0;
}
.h_top .top_sm {
	float: right;
	height: 20px;
	width: auto;
	margin-right:45px;
	padding:20px 0 0 25px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#7f8891;
}
.top_dh {
	float: left;
	width: 720px;
	height: 35px;
	padding:18px 0 0 0;

}

.top_dh .mainlevel{
float:left;
padding:0 30px 0 0;
height:35px;}
.top_dh .mainlevel a{
height:35px;
color:#FFFFFF;
display:block;
font-family:"微软雅黑";
font-size:14px;
font-weight:bold;
line-height:35px;
}
.top_dh .mainlevel a:hover{
/*color:#fbf802;*/
opacity:0.9;
}
.h_top .top_ss {
	float: left;
	height: 26px;
	width: 220px;
	padding:18px 0 0 0;
}
.top_ss .ss_sr {
	float: left;
	height: 30px;
	width: 150px;
}
.ny_ss .ss_sr {
	float: left;
	height: 40px;
	width: 312px;
}
.left_ss .ss_sr {
	float: left;
	height: 40px;
	width: 220px;

}

.top_ss .ss_sr input {
	float: left;
	height: 24px;
	border:1px #949fab solid;
	font-size:12px;
	color:#666666;
	background:#FFFFFF url(../images/fdj.jpg) no-repeat 2px 2px;
	padding:0 0 0 28px;
	width: 120px;
}
.ny_ss .ss_sr input,.left_ss .ss_sr input {
	float: left;
	height: 38px;
	border:1px #0146ab solid;
	font-size:12px;
	color:#666666;
	background:#FFFFFF;
	padding:0 15px;
	width: 270px;
}
.left_ss .ss_sr input {
	
	font-size:14px;
	width: 186px;
}
.top_ss .ss_tj{
	float: left;
	height: 26px;
	width: 46px;
}
.left_ss .ss_tj{
float: left;
padding:25px 0 0 0;
width: 220px;
height:37px;
}
#container #in_body {
	height: auto;
	width: 100%;
	clear:both;
}
#in_body .jdt {
	height: 600px;
	width: 100%;
	margin:0 auto;
	padding:0;
	clear:both;
}
#container #footer {
	height: 215px;
	width: 100%;
	min-width: 960px;
	clear:both;
	background: url(../images/fbg.jpg) repeat-x;
}
#footer .f_cen {
	height: 364px;
	width: 960px;
	margin:0 auto;
	padding:40px 0 0 0;
}

.f_cen .f_dh,.f_cen .f_dh2 {
	float: left;
	height: 190px;
	width: 100px;
	padding:0 89px 0 0;
}
.f_cen .f_dh2{
padding:0;
}
.f_dh li,.f_dh2 li {
	float: left;
	height: 28px;
	width: 100px;
}
.f_dh a,.f_dh2 a {
font-size:12px;
color:#FFFFFF;
height:28px;
line-height:26px;
width:100px;
display:block;
}
.f_dh a:hover,.f_dh2 a:hover{
color:#FFFF00;}
.f_dh .f_tit,.f_dh2 .f_tit  {
font-size:14px;
color:#80a3d5;
height:35px;
line-height:35px;
}
.f_cen .f_left {
	float: left;
	height: 275px;
	width: 860px;
}
.f_cen .f_wx {
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	height: 270px;
	width: 100px;
}
.f_cen .f_wx dl {
	float: left;
	height: 130px;
	width: 100px;
}
.f_cen .f_wx dt {
	float: left;
	height: 95px;
	width: 100px;
}
.f_cen .f_wx dd {
	float: left;
	height: 25px;
	width: 100px;
	line-height:30px;
}
.f_left .f_dh3 {
	float: left;
	height: 38px;
	width: 750px;
	font-family:"微软雅黑";
}
.f_dh3 li {
	float: left;
	height: 23px;
	width: 100px;
	border-right:1px #FFFFFF solid;
}
.f_dh3 li a{
color:#FFFFFF;
font-size:12px;
text-align:center;
display:block;
width:100px;
height:23px;
line-height:23px;
}
.f_dh3 li a:hover{
color:#FFFF00;}
.f_dh3 .f2 {
	width: 155px;
	border:none;
/*	background:url(../images/fgw1.jpg) no-repeat 20px 3px;*/
	padding:0 0 0 0px;
}
.f_dh3 .f2 li{ border:none;}
.f_dh3 .f3
{
	width: 93px;
	background:url(../images/fgw2.jpg) no-repeat 20px 3px;
	padding:0 0 0 30px;
	border-left:1px #FFFFFF solid;
}
/*.f_dh3 .f2 a{
width:155px;}*/
.f_dh3 .f1 {
	width: 75px;
}
.f_dh3 .f1 a{
	width: 75px;
	text-align:left;
}
.f_left .in_lx {
	float: left;
	height: 21px;
	width: 650px;
	padding:20px 0 0 0;
}
.in_lx .inlx1,.in_lx .inlx2 {
	float: left;
	height: 21px;
	width: 150px;
	color:#FFFFFF;
	font-size:22px;
	font-weight:bold;
	line-height:21px;
	background:url(../images/dhtb1.jpg) no-repeat 0px 0px;
	padding:0 20px 0 24px;
	font-family:Arial, Helvetica, sans-serif;
}
.f_cen .banquan {
	float: left;
	height: 30px;
	width: 960px;
	padding:10px 0 0 0;
	line-height:30px;
	color:#FFFFFF;
	text-align:center;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.tmao {
	float: left;
/*	height: 38px;*/
	width: 155px;
	padding:0px;
	height:38px;
}
.in_lx .inlx2 {
	width: 180px;
	background:url(../images/dhtb2.jpg) no-repeat 0px 2px;
	padding:0 0 0 85px;
}
#in_body .in_bcen {
	height: auto;
	width: 960px;
	margin:0 auto;
	clear:both;
}
.in_bcen .sytit,.in_bcen .sytit2 {
	float: left;
	height: 35px;
	width: 960px;
	padding:30px 0 0 0;
	line-height:30px;
	color:#0046aa;
	font-size:24px;
	font-family:"微软雅黑";
	font-weight:bold;
}
.in_bcen .sytit2 {
border-bottom:1px #CCCCCC solid;
font-size:22px;
font-weight:200;
color:#333333;

}
.in_bcen .shuoming {
	float: left;
	height: 38px;
	line-height:38px;
	font-size:14px;
	font-family:"宋体";
	color:#666666;
	width: 960px;
	border-bottom:1px #CCCCCC solid;
	border-top:1px #CCCCCC solid;
}
.in_bcen .in_tu {
	float: left;
	height: 410px;
	width: 960px;
	padding:25px 0 55px 0;
	background:url(../images/line1.jpg) no-repeat 0px  bottom;
}
.in_tu .in_tu_left,.quehuan {
	float: left;
	height: 407px;
	width: 313px;
	padding:0 7px 0 0;
}
.quehuan{
padding:0;
background:url(../images/sl41.jpg) no-repeat 0px 0;
}
.quehuan:hover{
background:url(../images/sl412.jpg) no-repeat 0px 0;
}
.in_tu .in_tu_right {
	float: left;
	height: 407px;
	width: 640px;
}
.in_tu_right .r_tu1,.in_tu_right .r_tu2,.in_tu_right .r_tu1 a,.in_tu_right .r_tu2 a {
	float: left;
	height: 198px;
	width: 314px;
	padding:0 7px 10px 0;
}
.in_tu_right .r_tu1 a{
padding:0;
display:block;
background:url(../images/sl42.jpg) no-repeat 0px 0;}
.in_tu_right .r_tu1 a:hover{
background:url(../images/sl422.jpg) no-repeat 0px 0;}
.in_tu_right .r_tu2 {
padding:0 0px 10px 0;
}
.in_tu_right .r_tu2 a{
padding:0;
display:block;
background:url(../images/sl43.jpg) no-repeat 0px 0;}
.in_tu_right .r_tu2 a:hover{
background:url(../images/sl432.jpg) no-repeat 0px 0;}

.in_tu_right .r_tu3,.in_tu_right .r_tu3 a{
	float: left;
	height: 198px;
	width: 388px;
	padding:0 7px 0px 0;
}
.in_tu_right .r_tu3 a{
padding:0;
display:block;
background:url(../images/sl44.jpg) no-repeat 0px 0;}
.in_tu_right .r_tu3 a:hover{
background:url(../images/sl442.jpg) no-repeat 0px 0;}
.in_tu_right .r_tu4,.in_tu_right .r_tu4 a{
	float: left;
	height: 198px;
	width: 239px;
}
.in_tu_right .r_tu4 a{
padding:0;
display:block;
background:url(../images/sl45.jpg) no-repeat 0px 0;}
.in_tu_right .r_tu4 a:hover{
background:url(../images/sl452.jpg) no-repeat 0px 0;}
.in_bcen .in_tu2{
	float: left;
	height: 487px;
	width: 960px;
	padding:30px 0 50px;
}
.in_tu2 .m_tu1,.in_tu2 .m_tu2,.in_tu2 .m_tu3  {
	float: left;
	height: 487px;
	width: 218px;
	padding:0 14px 0 0;
}
.in_tu2 .m_tu2 {
	padding:0 14px 0 15px;}
	.in_tu2 .m_tu3 {
	padding:0 0 0 15px;}
	.weizhi {
	
	height: 25px;
	
	padding:20px 0;
	color:#0146ab;
	font-size:12px;
	font-weight:bold;
}
.weizhi a{
color:#0146ab;}
.weizhi a:hover{
color:#FF6600;}
.in_bcen .ny_ss {
	float: left;
	height: 40px;
	width: 960px;
	padding:0 0 30px 0;
}
.in_bcen .fenlei {
	float: left;
	height: 42px;
	width: 960px;
}
.in_bcen .pro_list {
	float: left;
	height: auto;
	width: 960px;
}

.pro_list p { line-height:2rem; margin-bottom:10px;}
.pro_list .pro {
	float: left;
	height: 350px;
	width: 217px;
	padding:10px 23px 0 0;
}
.pro dt {
	float: left;
	height: 215px;
	width: 215px;
	border:1px #0066FF solid;
	
}
.pro dd {
	float: left;
	height: 18px;
	width: 217px;
	font-size:12px;
	color:#666666;
	/*font-weight:bold;*/
	font-family:"微软雅黑";

}
.pro .pro_tit {
	height: 25px;
	width:217px;
	padding:0 0 7px 0;
}
.pro .pro_tit a{
height:25px;
line-height:25px;
display:block;

color:#333;
font-size:14px;} 
.pro .pro_tit a:hover{
color:#FF9900;}
.news_list {
	float: left;
	height: auto;
	width: 900px;
	border:1px #CCCCCC solid;
	padding:30px 28px 30px 28px;
	margin:20px 0;
}
.news_list .news  {
	float: left;
	height: 150px;
	width: 900px;
	padding:20px 0 20px 0;
	border-bottom:1px solid #CCCCCC;
}
.news dt{
width:257px;
height:160px;
padding:0 20px 0 0;
float:left;
}

.news dd{
float:left;
width:623px;}
.news .new_tit{
height:30px;
padding:0 0 10px 0;
}
.news .new_tit a{
height:30px;
font-size:20px;
color:#666666;
font-family:"微软雅黑";
line-height:30px;
font-weight:bold;}
.news .new_tit a:hover{
color:#FF9900;
}
.news .new_time{
height:22px;
font-size:12px;
color:#666666;
font-family:"微软雅黑";
line-height:22px;
}
.news .new_con{
height:72px;
font-size:12px;
color:#666666;
font-family:"微软雅黑";
line-height:22px;
}
.news .new_more {
height:25px;
font-size:12px;
color:#666666;
font-family:"微软雅黑";
line-height:25px;
}
.news .new_more a{
height:25px;
font-size:12px;
color:#666666;
font-family:"微软雅黑";
line-height:25px;
float:right;
width:120px;
}
.news .new_more a:hover{
color:#FF9900;
}


.tags {
	 WIDTH:900px;  HEIGHT: 41px; float:left; 
}
.tags LI {
	LIST-STYLE-TYPE: none; HEIGHT: 41px; width:123px;FLOAT: left;MARGIN-RIGHT: 3px;
}
.tags LI A {
	/*PADDING-RIGHT: 10px; PADDING-LEFT: 10px;*/ BACKGROUND: url(../images/cptb2.jpg) no-repeat right bottom; FLOAT: left; LINE-HEIGHT: 35px;  HEIGHT: 41px; TEXT-DECORATION: none;width:123px; text-align:center; font-size:16px; font-family:"微软雅黑"; font-weight:bold; color:#0046aa;
}

.tags LI.selectTag {
	BACKGROUND-POSITION: left  bottom; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 41px; 
}
.tags LI.selectTag A {
	BACKGROUND-POSITION: right top; COLOR: #fff; LINE-HEIGHT: 35px; HEIGHT: 41px;
}
.tags2{
width:960px;
height:52px;
}
.tags3 LI A {
	/*PADDING-RIGHT: 10px; PADDING-LEFT: 10px;*/ BACKGROUND: url(../images/cptb3.jpg) no-repeat right bottom; FLOAT: left; LINE-HEIGHT: 41px;  HEIGHT: 41px; TEXT-DECORATION: none;width:123px; text-align:center; font-size:16px; font-family:"微软雅黑"; font-weight:bold; color:#ed6f00;
}
.tags2 LI {
	HEIGHT:52px;FLOAT: left;display:inline;width:auto;
}
.tags2 LI A {
	BACKGROUND:none;/*BACKGROUND: url(../images/cptb4.jpg) no-repeat right bottom;*/ width:auto;float:left;border:1px #ed6f00 solid;box-sizing:border-box;display:inline;padding:0 16px; LINE-HEIGHT: 45px;  HEIGHT: 48px; TEXT-DECORATION: none;text-align:center; font-size:14px; font-family:"微软雅黑"; font-weight:bold; color:#ed6f00;}
.tags2 LI.selectTag {
	POSITION: relative; HEIGHT: 52px; BACKGROUND: url(../images/cptb4.jpg) no-repeat center 3px;
}
.tags2 LI.selectTag A {
	BACKGROUND-POSITION: right top; COLOR: #fff; LINE-HEIGHT: 45px; HEIGHT: 48px;border:none;background-color:#ed6f00
}
/*#tagContent {
}*/
.tagContent {
 DISPLAY: none; PADDING-BOTTOM: 20px; WIDTH: 900px; PADDING-TOP: 10px; HEIGHT: auto;
}
#tagContent DIV.selectTag {
	DISPLAY: block;
}

.sx_tags LI A{
   BACKGROUND: url(../images/cptb5.jpg) no-repeat right bottom; color:#000; }
.sx_tags LI.selectTag A {
	color:#0046aa;
} 
   
   
   
.in_bcen .fltk {
	float: left;
	width: 898px;
	border:1px #CCCCCC solid;
	padding:20px 30px;
	margin-bottom:20px;
	font-family: "微软雅黑";
}

.fltk h1,.fltk h2 {
	font-family: "微软雅黑";
	font-size: 30px;
	font-weight: normal;
	float: left;
	height: 35px;
	text-align:center;
	color:#0146ab;
	width: 898px;
	line-height:35px;
	padding:10px 0;
}
.fltk h2{
font-size: 18px;
	text-align:left;
	padding:10px 0 0 0;
}
.fltk p{
font-size:14px;
color:#333;
line-height:24px;}
.fltk .ditu {
	float: left;
	height: 260px;
	width: 898px;
	border-bottom:1px #CCCCCC solid;
}
.fltk table{
float:left;
padding:20px 0 0 0;}
.fltk table a:hover{
color:#FF6600;}
.STYLE1 {
	font-size: 16px;
	color: #0066FF;
}
.STYLE2 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.STYLE5 {font-size: 14px; color: #333333; }
.shfuwu{
width:900px;
height:auto;
float:left;
padding:29px;
border:1px #CCCCCC solid;
margin-bottom:20px;
}
.zhutu,.zhutu2,.zhutu3{
width:900px;
height:280px;
float:left;
padding:0 0 20px 0;}
.zhutu2{
height:350px;}
.zhutu3{
height:auto;
width:960px;}
.lan2,.dbiaoti,.hbiaoti,.hneirong,.hneirong2,.hneirong3{
	float: left;
	height: 35px;
	width: 900px;
	line-height:35px;
	font-size:18px;
	font-weight:bold;
	color:#0046aa;
	font-family:"微软雅黑";
	padding:0 0 5px 0;
	border-bottom:1px #CCCCCC solid;
	margin-bottom:10px;
}
.dbiaoti{

	font-size:24px;
	font-weight:bold;
	padding:15px 0;
	border-bottom:0px;
	margin:0;
}
.hbiaoti{
	font-size:18px;
	color:#646464;
	padding:0 0 5px 0;
	border-bottom:0px;
	margin:0;
	height:25px;
	line-height:25px;
}
.hneirong,.hneirong2,.hneirong3{
	font-size:14px;
	color:#646464;
	padding:0;
	border-bottom:0px;
	margin:0;
	height:auto;
	line-height:25px;
}
.hneirong2{
padding:20px 0 0 0;
width:960px;}
.hneirong3{
width:290px;}
.lan {
color:#0046aa;
}
.b{
font-weight:bold;}
.shfuwu hr{

color:#CCCCCC;
FILTER: alpha(opacity=50,finishopacity=50,style=1);
margin:20px 0;
}

.hui2,.hui21,.hui3 {
color:#666666;
font-size:14px;
font-family:"微软雅黑";
line-height:25px;
}
.hui3,.hui4,.hui31{
font-size:22px;
line-height:40px;
height:40px;
width:960px;
font-family:"微软雅黑";
float:left;
}
.pab15{
padding:10px 0 15px 0;}
.hui31{
font-size:18px;
color:#333;}
.hui4{
font-size:18px;
color:#333;
border-top:1px #CCCCCC solid;
padding:15px 0 15px 0;}
.hui21{
float:left;
border-bottom:1px #CCCCCC solid;
padding-bottom:20px;
width:900px;}
.shfuwu table{
float:left;
margin:10px 0;
}
.STYLE8 {font-size: 12px}
.wenda {
	float: left;
	height: 65px;
	width: 890px;
	border-bottom:1px #CCCCCC solid;
	font-size:12px;
	color:#666666;
	padding:15px 0 5px 0;
}
.wenda dt, .wenda dt{
width:890px;
height:30px;
float:left;}
.lianxi1 {
	float: left;
	height: auto;
	width: 900px;
	border-bottom:1px #CCCCCC solid;
	font-size:14px;
	color:#666666;
	padding:10px 0 15px 0;
	font-family:"微软雅黑";
	/*font-weight:bold;*/

}
.lianxi1 dd{
height:30px;
line-height:30px;
width:890px;}
.shfuwu a{
color:#0066FF;
text-decoration:underline;}
.shfuwu a:hover{
color:#FF6600;}
.lan3{
border:none;
float: left;
	height: 25px;
	width: 900px;
	line-height:25px;
	font-size:16px;
	font-weight:bold;
	color:#0046aa;
	font-family:"微软雅黑";
	padding:10px 0 0px 0;
}
.pd20{
padding:0 0 0 20px;}
.new_datit {
	float: left;
	height: 40px;
	width: 960px;
	line-height:40px;
	font-size:20px;
	font-weight:bold;
	color:#0046aa;
	font-family:"微软雅黑";
	padding:15px 0 0px 0;
	border-top:1px #CCCCCC solid;
	text-align:center;
}
.fb_time,.new_zz {
	float: left;
	height: 23px;
	width: 465px;
	padding:0 15px 0 0;
	font-family:"微软雅黑";
	color:#666;
	font-size:14px;
	text-align:right;
}
.new_zz{
text-align:left;
padding:0 0 0  15px;}
.ship01 {
	float: left;
	height: 280px;
	width: 460px;
	padding:15px 245px 10px 250px;
	
}
.nbor{
border:none;}
.kwkuang,.kwkuang2{
width:960px;
height:auto;
margin:10px 0;
float:left;}
.kwkuang .kuang1,.kwkuang .kuang2,.kwkuang .kuang3,.kwkuang .kuang5 {
	float: left;
	height: 198px;
	width: 288px;
	border:1px #0046aa solid;
	margin:0px 0px 10px 0;
}
.kwkuang .kuang2{
height:408px;
margin:0;}
.kwkuang .kuang3,.kwkuang .kuang5{
width:173px;
height:180px;
margin:0;
}
.kuang4{
width:360px;
height:220px;
float: left;
margin:10px 0 0 0;
border:1px #0046aa solid;
}
.kwkuang .kuang4 dd{
width:360px;
height:37px;
}
.kuang4 dt{
height:183px;
float:left;

}
.kwkuang .kuang3 dd,.kwkuang .kuang3 dt,.kwkuang .kuang5 dd,.kwkuang .kuang5 dt{
width:173px;
}
.kwkuang .kuang3 dt,.kwkuang .kuang5 dt{
height:139px;
}

.kwkuang .kuang5{
margin-left:10px;}
.kwkuang dd{
background-color:#0046aa;
float:left;
height:37px;
width:288px;
text-align:center;
line-height:37px;
}
.kwkuang .kuang1 dt{
float:left;
width:287px;
height:161px;}
.kwkuang a{
font-size:14px;
font-family:"微软雅黑";
font-weight:bold;
color:#FFFFFF;
}
.kwkuang a:hover{
color:#FF6600;}
.wk1 {
	float: left;
	height: 410px;
	width: 290px;
	padding:0 10px 0 0;
}
.wk2
{
	float: left;
	height: 41px;
	width: 360px;
	padding:0 0 0 10px;
}

.in_bcen .spsx {
	float: left;
	height: auto;
	width: 900px;
	padding:20px 30px;
	background-color:#ededed;
}
.sxsp {
	overflow:hidden;
	height: auto;
	width: 900px;
	font-size:14px;
	font-family:"微软雅黑";
	color:#333333;
	border-bottom:1px #ccc solid;
	padding:0 0 10px 0;
}
.sxsp dd {
	float: left;
	height: 28px;
	width: auto;
	line-height:28px;
	margin-right:5px;
	margin-top:2px;
}
.xuanz {
	float: left;
	height: 28px;
	width: auto;
	padding:2px 10px 2px 10px;
	border:1px #999999 solid;
	
}
.xuanz .spname {
	float: left;
	height: 28px;
	width: auto;
	line-height:28px;
	text-align:center;
	
}
.xuanz a {
	float: left;
	height: 28px;
	width: 30px;
	display:block;
	line-height:28px;
	padding:0 0 0 10px;
	color:#CC0000;
	
}
.xuanz a:hover{
color:#FF6600;}
.spsx .xiangxlx {
	
	height: auto;
	overflow:hidden;
	
	font-size:14px;
	font-family:"微软雅黑";
	color:#333333;
	padding:10px 0 0 0;
}
.xiangxlx dt,.xiangxlx dd,.xiangxlx dd a{
	float: left;
	height: 25px;
	width: auto;
	font-size:12px;
	font-family:"微软雅黑";
	color:#333333;
	line-height:25px;
	
}
.xiangxlx dd{
padding:0 0px 0 15px;
}.xiangxlx a {
display:block;

}
.xiangxlx a:hover{
color:#0046aa;}
.left_ss {
	float: left;
	height: 200px;
	width: 212px;
	border:1px #CCCCCC solid;
	padding:10px 18px;
}
.left_ss li{
height:50px;
line-height:50px;
}
.right_pro {
	float: left;
	height: auto;
	width: 670px;
	padding:0 0 0 30px;
}
.left_ss .ss_bt {
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	color: #0146ab;
}
.cpxx {
	float: left;
	height: 300px;
	width: 670px;
	color:#333333;
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
	padding:0 0 30px 0;
}
.cpxx dt {
	float: left;
	height: 296px;
	width: 296px;
	border:2px #CCCCCC solid;
}
.cpxx dd {
	float: left;
	height: 35px;
	width: 330px;
	padding:10px 0 0 40px;
	line-height:25px;
}
.right_pro table {
	float: left;
	width: 670px;
}
.cpxx .probt {
	font-size: 18px;
	padding:0 0 30px 40px;
}
.spxx,.spxx dt,.spxx dd {
	float: left;
	height: 240px;
	width: 310px;
	
}
.spxx{
padding:10px 10px 10px 0;}
.spxx dt{
height:185px;}
.spxx dd {
height:36px;
background-color:#FFFFFF;
color:#333;
padding:10px 0 0 0;}
.sp_tit {
	float: left;
	height: 36px;
	width: 199px;
	text-align:left;
}
.sp_tit a{
color:#000000;
font-size:14px;
line-height:36px;
}
.spxx .spbt, .spxx .spbt a,.spxx .spbt2, .spxx .spbt2 a{
	float: left;
	height: 36px;
	width: 111px;
}
.spxx .spbt a{
display:block;
background:url(../images/spxz.jpg) no-repeat;}
.spxx .spbt a:hover{
background:url(../images/spxz2.jpg) no-repeat;}
.spxx .spbt2 a{
display:block;
background:url(../images/spxz3.jpg) no-repeat;}
.spxx .spbt2 a:hover{
background:url(../images/spxz4.jpg) no-repeat;}

.xz01,.xz02 {
	float: left;
	height: 25px;
	width: 35px;
	display:block;
	background:url(../images/xz2.png) no-repeat right 10px;
	line-height:25px;
	text-align:center;
	text-decoration:underline;
	color:#ed6f00;
	font-size:15px;
	padding:6px 20px 0 0;
	font-family:"微软雅黑";
	}
.xz02 {	
	background:url(../images/xz11.png) no-repeat right 10px;
	color:#0046aa;
	}
.xz01:hover{
color:#CC0000;}
.xz02:hover{
color:#00CCFF;}
.gnk1 {
	float: left;
	height: auto;
	width: 411px;
}
.gnk2 {
	float: left;
	height: auto;
	width: 296px;
	padding:0 5px;
}
.gnk3 {
	float: left;
	height: auto;
	width: 243px;
}
.gnk1 .gnt1 {
	float: left;
	height: 258px;
	width: 411px;
}
.emc_tu,.emc_tu2 {
	float: left;
	height: auto;
	/*width: 900px;*/
	padding:20px 0;
}
.emc_tu2 {
	/*width: 630px;*/
	padding:5px 0;
}
.btkuang,.btkuang2,.btkuang3,.btkuang4  {
	float: left;
	height: 36px;
	width: 881px;
	padding:0 0 0 19px;
	background:url(../images/bt_left.jpg) no-repeat 0 0px;
	margin:20px 0 0 0;
}
.btkuang2{
width: 941px;
}
.btkuang4{
width: 485px;
background:url(../images/bt_left2.jpg) no-repeat 0 0px;
}
/*
.btkuang3{
width: 941px;
background:url(../images/bt_left2.jpg) no-repeat 0 0px;
border-bottom:1px #CCCCCC solid;
padding:0 0 15px 19px;
margin:15px 0 10px 0;
}*/
.btkuang6{
width: 400px;
}
.btkuang5{
width: 466px;

}
.btkuang .bt_tit,.btkuang2 .bt_tit,.btkuang3 .bt_tit,.btkuang4 .bt_tit {
	float: left;
	height: 36px;
	width: auto;
	color:#0046aa;
	font-size:20px;
	line-height:36px;
	font-weight:bold;
	font-family:"微软雅黑";
	background-color:#f5f5f5;
}
.btkuang2 .bt_tit{
width:941px;}
/*.btkuang3 .bt_tit,.btkuang4 .bt_tit{
color:#ea6d03;
}*/
.btkuang .bt_rit,.btkuang3 .bt_rit,.btkuang4 .bt_rit {
	float: left;
	height: 36px;
	width: 28px;
	background:url(../images/bt_rit.jpg) no-repeat 0 0px;
}
/*.btkuang3 .bt_rit,.btkuang4 .bt_rit {
	background:url(../images/bt_rit2.jpg) no-repeat 0 0px;
}*/
.tpkuang {
	float: left;
	height: auto;
	width: 900px;
	padding:20px 0;
	border-bottom:1px #CCCCCC solid;
}
.anli,.anli dt,.anli dd {
	float: left;
	height: 185px;
	width: 315px;
	padding:5px 120px 15px 0;
}
.anli dt {
height: 142px;
padding:0;
}
.anli dd,.anli dd a{
height: 43px;
background-color:#0046aa;
line-height:43px;
font-size:16px;
color:#FFFFFF;
font-family:"微软雅黑";
padding:0 0 0 15px;
width:300px;
}
.anli dd a:hover{
color:#FFFF00;}

.liucheng {
	float: left;
	height: auto;
	width: 960px;
	padding:20px 0;
	border-bottom:1px #CCCCCC solid;
}
.lc_left {
	float: left;
	height: auto;
	width: 450px;
	padding:0 60px 0 0;
}
.lc_left li {
	float: left;
	height: auto;
	width: 450px;
	background:url(../images/lcbg.jpg) no-repeat 0 6px;
	line-height:20px;
	font-size:12px;
	font-family:"微软雅黑";
	color:#333333;
	font-weight:bold;
	padding:7px 0;
}
.bianhao {
	height: auto;
	width: 22px;
	color:#FFFFFF;
	text-align:center;
	line-height:20px;
	float:left;
	padding:0 5px 2px 0;
}
.sjshi,.sjshi dt, .sjshi dd, .sjshi dd a{
	float: left;
	height: 230px;
	width: 176px;
}
.sjshi{
padding:20px 16px 0 0;}
.sjshi dt{
height:176px;
}
 .sjshi dd,.sjshi dd a{
 height:55px;
 line-height:55px;
 text-align:center;
 display:block;
 font-size:14px;
 color:#0046aa;
 font-family:"微软雅黑";
 font-weight:bold;}
 .sjanli {
	float: left;
	height: auto;
	width: 960px;
	padding:30px 0px 30px 0;
}
.sjanli li,.sjanli li a{
width:auto;
height:25px;
padding:0 40px 0 0;
font-size:14px;
 font-family:"微软雅黑";
 font-weight:bold;
 float:left;
}
.sjanli li a{
padding:0 0 0 15px;
display:block;
color:#999999;
background:url(../images/dian2.jpg) no-repeat 0 5px;
}
.sjanli li a:hover{
color:#0046aa;
background:url(../images/dian1.jpg) no-repeat 0 5px;}.dazi {
	font-size: 32px;
}
.xtfuwu{
	float: left;
	height: auto;
	width: 450px;
	padding:30px 30px 0 0;
	font-family:"微软雅黑";
}
.xtfuwu dt{
height:30px;
padding:0 20px;
float:left;
background-color:#0046aa;
line-height:30px;
font-size:16px;
color:#FFFFFF;
width:410px;}
.xtfuwu dd{
height:auto;
line-height:22px;
font-size:14px;
color:#333;
padding:10px 20px;
float:left;
height:auto;
width:410px;}


.clssMainRoll {
	FILTER: progid:DXImageTransform.Microsoft.Slide(slidestyle=SWAP,Bands=1); CURSOR: pointer
}
.tuijian,.tuijian dt,.tuijian dd {
	float: left;
	height: 250px;
	width: 315px;
	 font-family:"微软雅黑";
}
.tuijian{
padding:20px 5px 20px 0;}
.tuijian dt {
height:190px;
position:relative;
padding:0;
margin:0;

}
 .tptit, .tptit2,.tptit3,.tptit4, .tptit5{
z-index:5;
float:left;
position:absolute;
padding:0 0px 0 15px;
width:300px;
height:30px;
line-height:30px;
background-color:#333333;
bottom:0;
   filter: alpha(opacity=50);  
    background-color: rgb(0, 0, 0);  
    background-color: rgba(0, 0, 0, 0.5);       
 color:#FFFFFF;
 font-size:16px;}
 .tptit2{
 width:470px;
 height:40px;
 line-height:40px;
 
}
 .tptit5{
 width:457px;
  filter: alpha(opacity=50);  
    background-color: rgb(273, 111, 0);  
    background-color: rgba(273, 111, 0, 0.5);
	height:40px;
	line-height:40px;
	
}
 .tptit3,.tptit4{
 width:270px;
 height:40px;
 line-height:40px;
  filter: alpha(opacity=50);  
    background-color: rgb(255, 255, 255);  
    background-color: rgba(255, 255, 255, 0.5);
	color:#111;
}
.tptit4{
width:290px;}
.tuijian dd,.tuijian dd a{
height:30px;
overflow:hidden;
line-height:30px;
font-size:12px;
font-weight:bold;
color:#777;}
.tuijian dd a{
color:#0046aa;
float:right;
height:25px;
line-height:25px;
padding:0 0 5px 0;
width:80px;
}
.tuijian dd a:hover{
color:#FF3300;}
.xqiou {
	float: left;
	height: 120px;
	width: 30px;
	font-size:24px;
	font-family:"微软雅黑";
	border:1px #ed6f00 solid;
	padding:155px 19px 15px 19px;
	color:#ed6f00;
	background:url(../images/zxbg1.jpg) no-repeat 4px 15px;}
.jiange,.jiange2 {
	float: left;
	height: 300px;
	width: 960px;
	padding:20px 0 0 0;
}
.xqiou1 {
	background:url(../images/zxbg2.jpg) no-repeat 4px 15px;}
.jiange2 {

	padding:5px 0 20px 0;
}
.jiange3{
float:left;
width:960px;
height:30px;}
.zx01,.zx02,.zx03,.zx04,.zx05,.zx06 {
	float: left;
	height: 292px;
	width: 485px;
	position:relative;

	
}
.zx01{
margin:0 0 0 5px;}
.zx02,.zx03{
width:392px;
height:144px;
 }
 .zx02 img,.zx03 img,.zx04 img,.zx05 img,.zx06 img{
 float:left;
 position:absolute;}
.zx04,.zx05,.zx06{
width:290px;
height:292px;

 }
 .zx05{
margin:0 6px;
 }
 .zx06{
 margin:0 6px 0 0;}
.zx03{
padding:5px 0 0 0;}
.tptit2 li{
width:235px;
float:left;}
.tptit3{
width:379px;
float:left;}
.bai1,.bai1 a,.bai2,.bai3,.bai4{
font-size:18px;
font-weight:bold;
font-family:"微软雅黑";
color:#FFFFFF;}
.bai2{
font-size:14px;
float:right;
padding:0 15px 0 0;}
.bai4{
font-size:14px;
float:left;
padding:0 0 0 15px;}
.bai3,.bai3 a{
color:#222;
font-weight:500;}
.bai3 a:hover, .bai1 a:hover{
color:#FF3300;}
.dabt,.hd_nr,.hd_nr p,.dabt2,.dabt21 {
	float: left;
	height: 60px;
	width: 960px;
	border-bottom:1px #CCCCCC solid;
	line-height:60px;
	color:#b7b6b6;
	font-size:40px;
	font-weight:bold;
	font-family:"微软雅黑";
	text-align:center;
	
	
}
.dabt2,.dabt21{
font-size:30px;
text-align:left;
color:#ea6d03;}
.dabt21{
width:330px;
border:none;
height:40px;
line-height:40px;}
.hd_nr {
	height:auto;
	line-height:22px;
    padding:15px 0 15px 0;
}
.hd_nr p{
   font-size:14px;
	height: 20px;
	padding:0;
	border:none;
	font-weight:300;
	line-height:20px;

}
.hd_dl{
margin:30px 15px 30px 0;}
.hd_dl2{
padding:30px 0px 30px 0;
}
.hd_dl, .hd_dl dt, .hd_dl dd, .hd_dl2,.hd_dl2, .hd_dl2 dt, .hd_dl2 dd,.zxbti {
	float: left;
	height: 340px;
	width: 472px;
	font-family:"微软雅黑";
	
}
.hd_dl dd, .hd_dl2 dd, .hd_dl dd a, .hd_dl2 dd a,.zxbti{
height:70px;
line-height:70px;
text-align:center;
font-size:18px;
color:#222;
}
.zxbti{
width:960px;
text-align:left;
font-weight:bold;
color:#666666;}
.hd_dl dd a:hover, .hd_dl2 dd a:hover{
color:#FF6600;}
.hd_dl dt,.hd_dl2 dt{
height:263px;
position:relative;

}
/*.hd_dl dt a,.hd_dl2 dt a{
float:left;}
.azjq {
	float: left;
	height: auto;
	width: 900px;
	background-color:#faf8fd;
	border-top:2px #feefea solid;
	padding:30px;
}*/
.azjq_dl,.azjq_dl dt,.azjq_dl dd {
	float: left;
	height: 185px;
	width: 250px;
	
}
.azjq_dl{
border-bottom:1px #e9e9e9 solid;
margin:20px 25px;
}
.azjq_dl dt{
height:156px;
margin:0;
border:none;}
.azjq_dl dd,.azjq_dl dd a{
height:29px;
margin:0;
border:none;
line-height:29px;
color:#333;
font-size:14px;
font-weight:bold;
}
.azjq_dl dd a:hover{
color:#FF6600;}
.zhuhe {
	float: left;
	height: 108px;
	width: 300px;
	padding:90px 0px 0 15px;
}

.keting,.keting li,.keting2,.keting li2 {
	float: left;
	height: 24px;

}
.keting {
padding:13px 120px;
	width: 700px;
border-bottom:1px #CCCCCC solid;
border-top:1px #CCCCCC solid;
/*margin:0 0 10px 0;*/}
.keting li,.keting li a {
	line-height:24px;
	color:#b7b6b6;
	font-size:14px;
	font-family:"微软雅黑";
	text-align:center;
	line-height:24px;
	width: auto;
	}
.keting li{

padding:0 50px;}
.keting li a:hover {
color:#ea6d03; }
.keting2{
padding:13px 0px;
width:960px;
}
.keting2 li{
padding:0 28px;
}
.sbk {
	float: left;
	height: 19px;
	width: 960px;
	padding:0px 0 0 0;
}
.xbk {
	float: left;
	height: auto;
	width: 918px;
	border-bottom:1px #ed6f00 solid;
	border-right:1px #ed6f00 solid;
	border-left:1px #ed6f00 solid;
	padding:20px;
	color:#583131;
	font-size:16px;
	font-family:"微软雅黑";
	line-height:22px;
}
.optj {
	width: 958px;
	border:1px #CCCCCC solid;

	
}
.optj,.optj dt{float: left; height: 195px;}
.optj dt{
width:288px;
}
.optj dd{
float:left;
width:310px;
background-color:#f5f5f5;
padding:50px 0 0 25px;
height: 145px;
}
.optj dd p{
color:#333333;
font-size:12px;
line-height:22px;
font-family:"微软雅黑";
margin:0;}

.nr_fenye li,.nr_fenye li a {

	height: 28px;
	width: 28px;
	
}
.nr_fenye li{
padding:0 2px;text-align:center; display:inline-block;*zoom:1;*display:inline;}
.nr_fenye li em{text-align:center;color:#939393;}
.nr_fenye li a{
background:url(../images/yd02.jpg) no-repeat 0px 0px;
text-align:center;
line-height:28px;
font-family:"微软雅黑";
color:#b5b5b6;
display:block;
font-size:14px;
}
.nr_fenye li a:HoVER{
color:#FF9900;}
.nr_fenye .fy_xz{
background:url(../images/yd01.jpg) no-repeat 0px 0px;
color:#FFFFFF;
}
.nr_fenye .fy_xz2
{
background:url(../images/yd03.jpg) no-repeat 0px 0px;
}
.nr_fenye .fy_prev, .nr_fenye .fy_prev a {
	
	height: 24px;
	width: 52px;

}
.nr_fenye .fy_prev{
padding:0 15PX;}
.nr_fenye .fy_prev a{
	background:url(../images/prev2.jpg) no-repeat 0px 2px;
	padding:2PX 0 0 0;
	color:#FFFFFF;
	line-height:24PX;
}
.nr_fenye {
	display:block;
	height: 40px; text-align:center
}
.nr_fenye2{
padding:30px 0px 20PX 600PX;

}
.nr_fenye .fy_prev2 a{
background:url(../images/next2.jpg) no-repeat 0px 2px;
}
/*.nr_fenye li a:active{
background:url(../images/yd01.jpg) no-repeat 0px 0px;
}*/
.alg {
	float: left;
	height: auto;
	width: 230px;
	padding:20px 0 20px 0;
	font-family:"微软雅黑";
}
.alg2{
padding:20px 0 20px 12px;}
.alg ul {
	float: left;
	height: auto;
	width: 230px;
	background-color:#f5f5f5;
	padding:0 0 20px 0;
	margin:0 0 10px 0;
}
.alg ul li,.alg ul li a{
width:200px;
height:30px;
float:left;}
.alg ul li{
}
.alg ul li a{
font-size:14px;
font-weight:bold;
color:#666;
display:block;
line-height:30px;
padding:0 0 0 30px;}
.alg ul li a:hover{
background-color:#e1e1e1;}
.alg .dtu {
	float: left;
	height: 75px;
	padding:0;
}
.alg .diqu {
	font-size: 9px;
	font-weight:500;
}
.ry_prv {
	float: left;
	height: 65px;
	width: 20px;
	padding:140px 0 0 0;
}
.ry_mid {
	float: left;
	height: 380px;
	width: 800px;
	padding:0 30px 0 30px;
}.xuanxiang {
	float: left;
	height: 51px;
	width: 600px;
	padding:10px 150px 0 200px;;
}
.xuanxiang li,.xuanxiang li a {
	float: left;
	height: 51px;
	width: 125px;
	display:block;
	padding:0 35px;
}
.xuanxiang .ry_cpzl{
	background:url(../images/rybt01.jpg) no-repeat 0px 2px;
}.xuanxiang .ry_cpzl:hover{
	background:url(../images/rybt011.jpg) no-repeat 0px 2px;
}
.xuanxiang .ry_zfrz{
	background:url(../images/rybt21.jpg) no-repeat 0px 2px;
}
.xuanxiang .ry_zfrz:hover{
	background:url(../images/rybt02.jpg) no-repeat 0px 2px;
}
.xuanxiang .ry_xhrz{
	background:url(../images/rybt03.jpg) no-repeat 0px 2px;
}.xuanxiang .ry_xhrz:hover{
	background:url(../images/rybt031.jpg) no-repeat 0px 2px;
}
.fuwu_ditu {
	float: left;
	height: 550px;
	width: 960px;
	margin:15px 0;
}
.fuwu_left {
	float: left;
	height: 548px;
	width: 610px;
	border:1px #0046aa solid;
}
.fuwu_rig {
	float: left;
	height: 550px;
	width: 348px;
	background-color:#f1f1f1;
}

.chaochu {
height:1200px;
overflow:hidden;}

.wd960 {
width:960px;}

.loca_ht p{
float:left;
width:960px;
height:55px;
line-height:55px;
text-align:center;
border:none!important;
background-color:#efefef;
font-size:28px;
padding:none;
border:none;
color:#0046aa;}

.loca_ht{
border:none!important;}



.f_cen .f_left {width:405px; height:120px; border-right:1px solid #fff;}
.f_dh3 .f2{ width:110px; height:30px; line-height:30px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 30px; background: #003494;}
.f_dh3 .f2 li {padding:0px;}
.f_dh3 li a {width:80px; height:30px; line-height:30px;}
.tmao {width:110px; height:30px; line-height:30px;}
.tmao .mainlevel{width:110px; height:30px; line-height:30px; padding:0px;}
.tmao .mainlevel a {width:110px; height:30px; line-height:30px;}
.f_cen .f_left dl{width:100%; height:18px; line-height:18px; margin:75px 0 0 -25px;}
.f_cen .f_left dd{width:100px; height;18px; line-height:18px; border-right:1px solid #fff; font-size:12px; float:left; text-align:center;}
.f_cen .f_left dd a{color:#fff;}
.f_cen .f_left p {height:25px; line-height:25px; color:#fff; font-size:12px;}
.f_cen .f_left p a{color:#fff; font-size:12px; margin-top:5px;}
.f_left1{width:180px; height:120px; border-right:1px solid #fff; float:left;}
.f_left1 img{margin-left:43px;}
.f_left1 p{color:#fff; font-size:12px; height:30px; line-height:30px; text-align:center;}
.f_left2{width:190px; height:120px; float:right;}
.f_left2box1{width: 190px; height:45px; line-height:45px; background: url('/web/static/oppo/images/dhtb1.jpg') 17px 13px no-repeat; font-size:22px; color:#fff; text-align:right;}
.f_left2box2{width: 190px; height:90px; line-height:45px; background: url('/web/static/oppo/images/dhtb2.jpg') 17px 13px no-repeat; font-size:22px; color:#fff; text-align:right;}
.f_left2box2 p{height:60px; line-height:30px; font-size:18px;}




#footer {
height: 215px;
width: 100%;
min-width: 960px;
clear: both;
background: #0146ab;}

#pic-box {
  width: 1540px;
  height: 100%;
  position: absolute;
}
#pic-box li {
  width: 150px;
  height: 100%;
  float: left;
}
#pic-box li img {
  width: 140px;
  height: 60px;
  overflow: hidden;
}
#pic-box li span {
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 13px;
  color: #000;
}
.box {
  position: relative;
  margin: 0 auto;
  width: 1010px;
  height: 100%;
  padding: 18px 0;
}
.img-box {
width: 890px;
height: 100%;
overflow: hidden;
position: absolute;
left: 60px;
}
.pre-btn-box {
  height: 74px;
  line-height: 74px;
  left: 25px;
  position: absolute;
}
.pre-btn {
  display: inline-block;
  width: 19px;
  height: 36px;
  vertical-align: middle;
  background: url('/web/static/oppo/images/pre-next-btn.png') no-repeat;
}
.next-btn-box {
  height: 74px;
  line-height: 74px;
  right: 25px;
  position: absolute;
}
.next-btn {
  display: inline-block;
  width: 19px;
  height: 36px;
  vertical-align: middle;
  background: url('/web/static/oppo/images/pre-next-btn.png') -20px 0px no-repeat;
}
.pre-btn-box span, .next-btn-box span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.flashBanner .mask img.show {
  margin-bottom: 0px;
}
.wts11 {
    float: right;
margin-right:10px;
    font-size: 13px;
    line-height: 25px;
    padding: 5px 10px 0 0;
    text-align: right;
}
.wrap11 div h1,.wrap14 div h1 {

background-color: rgb(237, 111, 0); display:block; width:auto;
}
.wrap11 div h1 a,.wrap14 div h1 a{ margin:0 10px;}


#slides li{height:840px;}
#in_body .in_bcen{position:relative;z-index:2222;}
#pagination li{width:18px;height:18px;border-radius:50%}
.wrap div{ padding:300px 0 0 0 !important;}
#pagination li{width:18px;height:18px;border-radius:50%}
.atitle{color:#000000; font-size:14px; line-height:36px;}

.navContent {overflow:hidden;padding:20px 0;}
.navContent1{border:1px #d8d8d8 solid;border-top:1px #f0f0f0 solid;border-bottom:1px #f0f0f0 solid;margin:20px 0;}

.clear{clear:both;height:0;display:block;line-height:0;overflow:hidden;}
.mylist{margin:20px auto;text-align:center;}
.mylist .nr_fenye .fy_prev a{ background: url(../images/next2.jpg) no-repeat 0 2px;}
.mylist .nr_fenye .fy_xz{background: url(../images/yd03.jpg) no-repeat 0 0;}

/*.mylist a,.mylist ul,.mylist ul li{display:inline-block;height:24px;box-sizing:border-box;font-size:14px;line-height:24px;}
.mylist ul{margin:0 15px;}
.mylist a{background-color:#ed6f00;border-radius:14px;color:#fff;padding:0 12px;}
.mylist ul li a{width:24px;background:#fff;color:#b5b5b6;margin:0 2px;border-radius:50%;padding:0;line-height:22px\9;}
.mylist ul li a:hover,.mylist ul li a.active{background-color:#ed6f00;color:#fff;}
*/

.loca_l {
    width: 900px;
    margin: 0 auto;
}

.loca_w li {
    margin-left: 0;
}

.loca_w {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
}
.loca_ht{width:100%; height:60px; text-align:center; font-size:22px; color:#003fa8; border-bottom:1px solid #4f5f6f;}
.loca_ht p{height:60px; line-height:60px;}
.loca_l{width:100%; height:55px; font-size:20px; color:#003fa8; border-bottom:1px solid #e0e0e0;}
.loca_l p{height:55px; line-height:55px; color:#003fa8;}
.loca_l a{color:#003fa8;}
.loca_w{width:100%; height:auto; padding-top:30px; font-size:15px; color:#4f5f6f;}
.loca_w ul{width:100%;}
.loca_w li{width:220px; height:45px; float:left; margin-left:20px;}
.loca_w a{color:#4f5f6f;}
.in_bcen{position:relative;}
.loca_img{position:absolute; left:525px; top:90px; width:450px; height:270px; z-index:-1;} 
.pro_canshu{ padding-bottom:20px;}

.xbk table{width:918px; height:auto; color:#583131; border-collapse:collapse; border-right:1px solid #bebebe; border-bottom:1px solid #bebebe;}
.xbk th{height:40px; background:#f5f5f5; border-left:1px solid #bebebe; border-top:1px solid #bebebe; font-weight:normal;}
.xbk td{height:40px; text-align:center; border-left:1px solid #bebebe; border-top:1px solid #bebebe;}

.product_detail_set1 .t_r a.share{ background:url(../../oppo_m/images/jiathis_ico_32x32.png) 0 0 no-repeat; width:32px; height:32px; display:block; text-align:left; text-indent:-100em; overflow:hidden; position:absolute; bottom:0px; right:50px; left:auto}
.cainixihuan{ background:url(../../../c_img3/refresh.gif) 0 0 no-repeat; width:72px; height:26px; display:block; overflow:hidden; float:right; text-align:left; text-indent:-300em; margin-right:20px; margin-top:8px;}