<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/nav.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
    <link type="text/css" href="./css/base.css" rel="stylesheet">
    <link type="text/css" href="./mycss/common.css" rel="stylesheet">
</head>
<body>

<!--banner-->
<div th:fragment="common">
    <div class="lmbg">
        <div class="wrapper">
            <ul>
                <li class="on"><a href="drawing"><em><img src="./living_files/1511786784.jpg"><s></s></em>
                    <p>客厅</p>
                </a></li>
                <li><a href="http://www.opple.com.cn/solution/?tid=15"><em><img src="./living_files/1511786787.jpg"><s></s></em>
                    <p>餐厅</p>
                </a></li>
                <li><a href="bedroom"><em><img src="./living_files/1511786790.jpg"><s></s></em>
                    <p>卧室</p>
                </a></li>
                <li><a href="http://www.opple.com.cn/solution/?tid=77"><em><img src="./living_files/1511786793.jpg"><s></s></em>
                    <p>厨房</p>
                </a></li>
                <li><a href="http://www.opple.com.cn/solution/?tid=81"><em><img src="./living_files/1511786795.jpg"><s></s></em>
                    <p>洗漱间</p>
                </a></li>
                <li><a href="bookroom"><em><img src="./living_files/1511786798.jpg"><s></s></em>
                    <p>书房</p>
                </a></li>
                <li><a href="http://www.opple.com.cn/solution/?tid=83"><em><img src="./living_files/1511786800.jpg"><s></s></em>
                    <p>玄关</p>
                </a></li>
                <!--<li><a href="http://www.opple.com.cn/solution/?tid=84"><em><img src="./living_files/1511786805.jpg"><s></s></em>-->
                <!--<p>老人房</p>-->
                <!--</a></li>-->
                <!--<li><a href="http://www.opple.com.cn/solution/?tid=85"><em><img src="./living_files/1511786809.jpg"><s></s></em>-->
                <!--<p>婴幼儿房</p>-->
                <!--</a></li>-->
                <li><a href="http://www.opple.com.cn/solution/?tid=86"><em><img src="./living_files/1511786813.jpg"><s></s></em>
                    <p>儿童房</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="phone phoneBanner">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper" style="transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-active"><img src="./living_files/phone03.jpg"></div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
        </div>
    </div>
    <div class="phone jjfaNav">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper" style="transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-active"><a href="http://www.opple.com.cn/solution/?tid=14"><em><img
                        src="./living_files/1511786784.jpg"><s></s></em>
                    <p>客厅</p>
                </a></div>
                <div class="swiper-slide swiper-slide-next"><a href="http://www.opple.com.cn/solution/?tid=15"><em><img
                        src="./living_files/1511786787.jpg"><s></s></em>
                    <p>餐厅</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=76"><em><img
                        src="./living_files/1511786790.jpg"><s></s></em>
                    <p>卧室</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=77"><em><img
                        src="./living_files/1511786793.jpg"><s></s></em>
                    <p>厨房</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=81"><em><img
                        src="./living_files/1511786795.jpg"><s></s></em>
                    <p>卫生间</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=82"><em><img
                        src="./living_files/1511786798.jpg"><s></s></em>
                    <p>阳台</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=83"><em><img
                        src="./living_files/1511786800.jpg"><s></s></em>
                    <p>玄关过道</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=84"><em><img
                        src="./living_files/1511786805.jpg"><s></s></em>
                    <p>老人房</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=85"><em><img
                        src="./living_files/1511786809.jpg"><s></s></em>
                    <p>婴幼儿房</p>
                </a></div>
                <div class="swiper-slide"><a href="http://www.opple.com.cn/solution/?tid=86"><em><img
                        src="./living_files/1511786813.jpg"><s></s></em>
                    <p>儿童房</p>
                </a></div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
        </div>
    </div>
</div>
</body>
</html>