<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/nav.js"></script>
    <script type="text/javascript" src="./js/common.js"></script>
    <link type="text/css" href="./css/base.css" rel="stylesheet">
    <link type="text/css" href="./mycss/common.css" rel="stylesheet">
</head>
<body>

<!--banner-->
<div th:fragment="common">
    <div class="lmbg">
        <div class="wrapper">
            <ul>
                <li class="on"><a href="drawing"><em><img src="./home/一站式解决_04.png"><s></s></em><br>
                    <p>客厅</p>
                </a></li>
                <li><a href="dining"><em><img src="./home/一站式解决_06.png"><s></s></em><br>
                    <p>餐厅</p>
                </a></li>
                <li><a href="bedroom"><em><img src="./home/一站式解决_08.png"><s></s></em><br>
                    <p>卧室</p>
                </a></li>
                <li><a href="kitchen"><em><img src="./home/一站式解决_10.png"><s></s></em><br>
                    <p>厨房</p>
                </a></li>
                <li><a href="bathroom"><em><img src="./home/一站式解决_12.png"><s></s></em><br>
                    <p>洗漱间</p>
                </a></li>
                <li><a href="bookroom"><em><img src="./home/一站式解决_14.png"><s></s></em><br>
                    <p>书房</p>
                </a></li>
                <li><a href="hallway"><em><img src="./home/一站式解决_16.png"><s></s></em><br>
                    <p>玄关</p>
                </a></li>
                <li><a href="childhood"><em><img src="./home/一站式解决_18.png"><s></s></em><br>
                    <p>儿童房</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="phone phoneBanner">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper" style="transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-active"><img src="./living_files/phone03.jpg"></div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
        </div>
    </div>
    <div class="phone jjfaNav">
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper" style="transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-active">
                    <a href="drawing"><em><img src="./living_files/1511786784.jpg"><s></s></em>
                        <p>客厅</p>
                    </a></div>
                <div class="swiper-slide swiper-slide-next">
                    <a href="dining"><em><img src="./living_files/1511786787.jpg"><s></s></em>
                        <p>餐厅</p>
                    </a></div>
                <div class="swiper-slide">
                    <a href="bedroom"><em><img src="./living_files/1511786790.jpg"><s></s></em>
                        <p>卧室</p>
                    </a></div>
                <div class="swiper-slide">
                    <a href="kitchen"><em><img src="./living_files/1511786793.jpg"><s></s></em>
                        <p>厨房</p>
                    </a></div>
                <div class="swiper-slide">
                    <a href="bathroom"><em><img src="./living_files/1511786795.jpg"><s></s></em>
                        <p>洗漱间</p>
                    </a></div>
                <div class="swiper-slide">
                    <a href="bookroom"><em><img src="./living_files/1511786798.jpg"><s></s></em>
                        <p>书房</p>
                    </a></div>
                <div class="swiper-slide">
                    <a href="hallway"><em><img src="./living_files/1511786800.jpg"><s></s></em>
                        <p>玄关</p>
                    </a></div>
                <div class="swiper-slide">
                    <a href="childhood"><em><img src="./living_files/1511786813.jpg"><s></s></em>
                        <p>儿童房</p>
                    </a></div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
        </div>
    </div>
</div>
</body>
</html>