<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/nav.js"></script>
    <link type="text/css" href="../css/base.css" rel="stylesheet">
    <link type="text/css" href="../css/page.css" rel="stylesheet">
</head>
<body>
<footer th:fragment="footer">
    <div class="newFooter pc">
        <div class="newFooterTop">
            <div class="wrapper clearfix">
                <ul class="clearfix">
                    <li>
                        <dl>
                            <dt><a href="home">家居照明</a></dt>
                            <dd><a href="drawing">一站式解决方案</a></dd>
                            <dd><a href="aqua">明星产品推荐</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="comm1">商用照明</a></dt>
                            <dd><a href="comm2">客户服务</a></dd>
                            <dd><a href="comm311">客户案例</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="product">产品中心</a></dt>
                            <dd><a href="product">家居灯具</a></dd>
                            <dd>
                                <a href="product">商用灯具</a>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="aboutus">关于我们</a></dt>
                            <dd><a href="aboutus#aboutUs">企业简介</a></dd>
                            <dd><a href="aboutus#timeSec">发展历程</a></dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt><a href="callus">联系我们</a></dt>
                            <dd><a href="http://www.opple.com.cn/about">地址：xxxx</a></dd>
                            <dd><a href="http://www.opple.com.cn/about/shsubcom">QQ:xxxxx</a></dd>
                            <dd><a href="http://www.opple.com.cn/about/responsibility">E-MAIL:xxxxx</a></dd>
                        </dl>
                    </li>
                </ul>
                <div class="line"></div>
                <div class="code">
                    <dl class="clearfix">
                        <dd>
                            <img src="/static/images/code02.jpg">
                            扫码关注公众号
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>