<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/nav.js"></script>
    <link type="text/css" href="../css/base.css" rel="stylesheet">
    <link type="text/css" href="../css/page.css" rel="stylesheet">

</head>
<body>

<header th:fragment="header">
    <div class="header">
        <div class="header_b clearfix">
            <div class="wrapper">
                <div class="header-l">
                    <!--<a class="navbar-brand" href="test"><b class="header-logo">ODELIC</b></a>  odelicNav-->
                    <a class="odelicNav" href="test"><b class="header-logo">ODELIC</b></a>
                </div>
                <div class="nav">
                    <ul id="aaa">
                        <li class="item"><a href="index" class="nav_small">首页</a>
                        </li>
                        <li class="item"><a href="home" class="nav_small">家居照明</a>
                            <ul class="dl-list">
                                <!--<div class="clearfix">-->
                                <li class="xy_item"><a href="drawing" class="xy_snav" target="_blank">一站式解决方案</a></li>
                                <!--</div>-->
                                <!--<div class="clearfix">-->
                                <li class="xy_item"><a href="tline" class="xy_snav" target="_blank">明星产品推荐</a></li>
                                <!--</div>-->
                            </ul>
                        </li>
                        <li class="item"><a href="http://www.opple.com.cn/commercial/" class="nav_small">商用照明</a>
                            <ul class="dl-list">
                                <div class="clearfix">
                                    <li class="xy_item"><a href="http://www.opple.com.cn/commercial/" class="xy_snav"  target="_blank">客户服务</a></li>
                                </div>
                                <div class="clearfix">
                                    <li class="xy_item"><a href="http://www.opple.com.cn/businesscase/" class="xy_snav"  target="_blank">客户案例</a></li>
                                </div>
                            </ul>
                        </li>
                        <li class="item"><a href="/product" class="nav_small">产品中心</a>
                            <ul class="dl-list">
                                <div class="clearfix">
                                    <li class="xy_item"><a href="/product" class="xy_snav"  target="_blank">家居灯具</a></li>
                                </div>
                                <div class="clearfix">
                                    <li class="xy_item"><a href="/product" class="xy_snav"  target="_blank">商用灯具</a></li>
                                </div>
                            </ul>
                        </li>
                        <li class="item">
                            <a href="/aboutus" class="nav_small">关于我们</a>
                            <ul class="dl-list">
                                <div class="clearfix">
                                    <li class="xy_item"><a href="/aboutus#aboutUs" class="xy_snav"  target="_blank">企业简介</a></li>
                                </div>
                                <div class="clearfix">
                                    <li class="xy_item"><a href="/aboutus#timeSec" class="xy_snav"  target="_blank">发展历程</a></li>
                                </div>
                            </ul>
                        </li>
                        <li class="item"><a href="/callus" class="nav_small">联系我们</a>
                        </li>
                        <li class="item"><img width="40" style="cursor: pointer;" class="header_store" src="/static/images/header_store.png" onclick="window.open('http://www.opplestore.com/')">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>