.contentAll { margin: 0px; padding: 0px; font-size:14px; font-family:"微软雅黑"; }
.contentAll p { text-indent: 0; text-align: justify; text-justify: inter-ideograph; line-height: 24px; }
.contentAll a { text-decoration: none; }
 
.orangeBgd { background: #ed6f00; }
.darkBlueBgd { background: #0046aa; }
.grayBgd {background: #2291ff;}
.blueBgd { background: #2291ff; }
.relative { position: relative; }
.redT { color: red; }
.blueT { color: #2291ff; }
/*页面样式*/
/*头部菜单*/
.head { background: #fff; width: 100%; }
.top { height: 50px; overflow: hidden; width: 1000px; margin: 0 auto; }
.logo { float: left; }
.topContent { float: right; padding: 12px 10px; margin-right: 40px; }
.topContent .user { float: left; padding: 0 14px; }
.topContent .user span { float: left; color: #5a5a5a; line-height: 30px; }
.topContent .user img.drop_down { margin-top: 7px; float: left; margin-left: 6px; }
.topContent .exit { float: left; padding: 0 10px 0 12px; border-left: 1px solid #aaa; }
.topContent .exit img { padding-top: 5px; padding-left: 10px; }
.menu { height: 40px; background: #0046aa; }
.menuList { overflow: hidden; width: 1000px; margin: 0 auto; }
.menuList li { float: left; }
.menuList li a { height: 40px; display: block; line-height: 40px; padding: 0 30px; text-decoration: none; color: #fff; font-size: 14px; }
.menuList li a:hover { color: #fff; font-weight: bold; background: #29bcef; }
.menuList li a.menuhover { color: #fff; font-weight: bold; background: #29bcef; }
.listInfor { float: left; width: 178px; overflow: hidden; background: #2291ff; border-bottom: 1px solid #dcdcdc; }
.listInforTitle { float: left; width: 178px; height: 48px; overflow: hidden; }
.listInforTitle a { float: left; width: 178px; height: 35px; display: block; overflow: hidden; cursor: pointer; }
.listInforTitle a:hover { text-decoration: none; background: #1e8af5; }
.listInforTitle a .ListIcon { float: left; width: 15px; height: 15px; margin: 17px 7px 0 10px; }
.listInforTitle a span { float: left; width: 120px; height: 48px; font-size: 14px; font-weight: normal; color: #fff; line-height: 48px; overflow: hidden; cursor: pointer; }
.listInforTitle a .TitleOpen { margin: 20px 10px 0 0; }
.listInforTitle a img { float: right; width: 10px; height: 10px; margin: 20px 10px 0 0; display: inline; overflow: hidden; border: 0; }
.TitleOpen { background: url(../images/ico_add.gif) no-repeat; }
.TitleClose { background: url(../images/ico_Minus.gif) no-repeat; }
.listInforIn { float: left; width: 178px; overflow: hidden; background-color: #f5f5f5; }
.listInforIntro { float: left; width: 178px; overflow: hidden; }
.listInforIntro ul { float: left; width: 178px; overflow: hidden; border-top: 1px solid #dcdcdc; }
.listInforIntro li { float: left; list-style: none; overflow: hidden; width: 214px; height: 34px; line-height: 34px; color: #666666; }
.listInforIntro a { width: 178px; height: 34px; display: block; line-height: 34px; font-weight: normal; font-size: 12px; padding-left: 20px; color: inherit; }
.listInforIntro a:hover { color: #0046aa; background: #eaeaea url(../images/menu_second_bgd.png) repeat-y left top; font-weight: bold; }
.listInforIntro ul .leftListHover { color: #0046aa; background: #eaeaea url(../images/menu_second_bgd.png) repeat-y left top; font-weight: bold; }
.listInforTitle .listInforTitleHover { float: left; width: 178px; height: 48px; overflow: hidden; }
.contentAll { width: 100%; }
.contentAll table { width: 100%; }
.contentAll td.contentTd {padding: 0;}

.contentBox { width: 100%; background: #fff; height: auto; overflow: hidden; }
.contentBox2 h2.title {width: 96%;padding: 10px 0 10px 20px;line-height: 16px;font-size: 14px;color: #333;margin: 0 auto;border-bottom: 1px solid #999;background: url(../images/icon_contentTitle.png) no-repeat left center;}
.contentBox2 {width: 98%;background: #fff;border: 1px solid #CECECE;margin: 10px auto;box-sizing: border-box;height: auto;overflow: hidden;}
.contentBox2 h2.title2 { width: 100%; padding: 14px 0; line-height: 16px; font-size: 14px; color: #333; margin: 0 auto; border-bottom: 1px solid #cecece; background: url(../images/icon_contentTitle02.png) no-repeat 20px center; text-indent: 45px; }
.contentBox2 .titleBox h2.title3 { width: 100%; font-size: 14px; color: #333; margin: 0 auto;/* border-bottom: 1px solid #cecece; */ background: url(../images/icon_contentTitle02.png) no-repeat 20px center; text-indent: 45px; }
.contentBox2 .titleBox a.a_delete { float: right; margin-right: 50px; line-height: 45px; border-right: 1px solid #cecece; border-left: 1px solid #cecece; display: block; background: none; color: #ec608d; position: relative; top: -38px; height: 46px; border-radius: 0; font-size: 14px; }
/*表格输入内容样式*/
.contentAll .tableTex {width: 98%;padding-top: 10px;margin: 0 auto;padding-bottom: 5px;}
.tableTex th {width: 10%;padding: 5px 0;}
.tableTex th span {width: 96%;display: inline-block;text-align: left;font-size: 14px;color: #333;font-weight: normal;line-height: 30px;padding-left: 4%;}
.tableTex td {width: 42%;padding: 5px 0;}
.tableTex td input[type="checkbox"]{line-height: normal; }
.tableTex td .inputText { width: 89%; font-size: 14px; color: #808080; height: 28px; line-height: 28px; background: #FFFFFF; border: 1px solid #ccc; padding-left: 1%; }
.tableTex td .textareaText { width: 89%; font-size: 14px; color: #808080; height: 76px; line-height: 28px; background: #FFFFFF; border: 1px solid #ccc; padding-left: 1%; }
.tableTex td .timeIcon { position: absolute; right: 10.6%; top: 5px; height: 20px; width: 20px; display: block; z-index: 99; }
.tableTex td .radio { height: 20px; padding: 5px 0; }
.tableTex td .radio a { width: 20px; height: 20px; display: inline-block; float: left; margin-left: 4px; }
.tableTex td .radio a img { width: 100%; float: left; }
.tableTex td .radio span { height: 20px; line-height: 20px; display: inline-block; float: left; margin-left: 4px; font-size: 14px; color: #808080; }
.contentAll .tableTex2 {width: 98%;margin: 0 auto;border-bottom: 1px solid #999;line-height: 40px;}
.contentAll .tableTex2 td { text-align: center; }
.tag { padding: 0 10px; font-size: 14px; float: left; height: 22px; line-height: 22px; margin-bottom: 10px; color: #fff; text-align: center; }
.tableTex2 th { height: 42px; background: #f5f5f5; line-height: 42px; color: #333; }
.tableTex2 td img { display: block; margin: 4px 6px; }
.deleteBtn { color: red; width: 100%; text-align: center; display: inline-block; }
.garyBgd { background: #f5f5f5; }
.btnBox {padding: 5px 0 10px;background: #fff;width: 100%;overflow: hidden;}
.submitBtn { display: block; width: 90px; text-align: center; height: 34px; line-height: 34px; float: left; margin-left: 40%; font-size: 14px; color: #fff; border-radius: 2px; }
.saveBtn { display: block; width: 90px; text-align: center; height: 34px; line-height: 34px; float: left; margin-left: 20px; font-size: 14px; color: #fff; border-radius: 2px; }
.saveBtn1 { display: block; width: 90px; text-align: center; height: 34px; line-height: 34px; margin: 0 auto; font-size: 14px; color: #fff; border-radius: 2px; }
/*标书列表页面样式*/
.checkboxKind { width: 100%; }
.checkboxKind input { float: left; width: 16px; height: 16px; margin-right: 5px; }
.checkboxKind span { float: left; height: 16px; line-height: 16px; margin-right: 10px; }
.searchBtn { display: block; width: 90px; text-align: center; height: 34px; line-height: 34px; float: right; margin-right: 6%; font-size: 14px; color: #fff; border-radius: 2px; }
.searchBtn1 { display: block; width: 90px; text-align: center; height: 34px; line-height: 34px; float: right; margin-right: 3%; font-size: 14px; color: #fff; border-radius: 2px; }/*在独立一行内时使用该样式*/
.titleBox {border-bottom: 1px solid #999;padding: 8px 0 8px 0;width: 98%;margin: 0 auto;overflow: hidden;}
.titleBox h2.title2 { width: 30%; padding: 0 0 0 20px; line-height: 30px; font-size: 14px; color: #333; float: left; background: url(../images/icon_contentTitle.png) no-repeat left center; }
.titleBox a { display: block; float: right; background: #2291ff; height: 30px; line-height: 30px; padding: 0 14px; color: #fff; border-radius: 2px; margin-right: 4px; }
.titleBox a img { position: relative; top: 3px; }
/*翻页样式*/
.pageBox { width: 95%; margin: 0 auto; overflow: hidden; }
.pageSetting { float: left; width: 30%; padding: 10px 0; }
.pageSetting span { height: 22px; line-height: 22px; }
.pageSetting select { height: 22px; width: 60px; margin-left: 8px; }
.page { float: right; width: 70%; padding: 10px 0; }
.page p { float: right; height: 22px; line-height: 22px; padding-right: 8px; }
.page span.pageProject02, .page span.pageProject03 { float: right; height: 22px; line-height: 22px; }
.page a { float: right; height: 22px; line-height: 22px; background: #2291ff; color: #fff; margin-left: 4px; padding: 0 4px; border-radius: 1px; }
.page a.pageBtn { }
.page input { width: 40px; text-align: center; color: #666; margin-right: 4px; }
.pageProject02 { padding: 0 8px; }
.pageProject03 { padding-left: 8px; }
/*表格样式 lc*/
.contentAll .tableTex3 {width: 98%;padding-top: 10px;margin: 10px auto 0;padding-bottom: 10px;background: #F5F5F5;}
.tableTex3 th {width: 15%;padding: 5px 0;}
.tableTex3 th span {width: 100%;display: inline-block;text-align: left;font-size: 14px;color: #333;font-weight: normal;line-height: 30px;padding-left: 10px;}
.tableTex3 th span label { color: #FF0000; margin-right: 5px; }
.tableTex3 td {width: 35%;padding: 5px 0;}
.tableTex3 td .textareaText { width: 89%; font-size: 14px; color: #808080; height: 76px; line-height: 28px; border: 1px solid #ccc; padding-left: 1%; }
.tableTex3 td .timeIcon { position: absolute; right: 25%; top: 5px; height: 20px; width: 20px; display: block; z-index: 99; }
.tableTex3 td .radio { height: 20px; padding: 5px 0; }
.tableTex3 td .radio a { width: 20px; height: 20px; display: inline-block; float: left; margin-left: 4px; }
.tableTex3 td .radio a img { width: 100%; float: left; }
.tableTex3 td .radio span { height: 20px; line-height: 20px; display: inline-block; float: left; margin-left: 4px; font-size: 14px; color: #808080; }
.tableTex3 td .inputText { width: 76%; font-size: 14px; color: #808080; height: 28px; line-height: 28px; background: #fff; border: 1px solid #ccc; text-indent: 1em; float: left; }
.tableTex3 td .btnBlue { display: block; width: 60px; text-align: center; height: 30px; line-height: 25px; float: left; font-size: 12px; color: #fff; border-radius: 2px; background: #2391FF; margin-left: 5px; }
.contentAll .tableTex4 {width: 100%;padding-top: 10px;margin: 0 auto;padding-bottom: 5px;background: #F5F5F5;}
.tableTex4 th {width: 11%;padding: 5px 0;}
.tableTex4 th span {width: 96%;display: inline-block;text-align: left;font-size: 14px;color: #333;font-weight: normal;line-height: 25px;padding-left: 4%;}
.tableTex4 th span label { color: #FF0000; margin-right: 5px; }
.tableTex4 td {width: 40%;padding: 5px 0;line-height: 25px;}
.tableTex4 td input[type="radio"] {line-height: normal; }
.tableTex4 td .inputText, .tableTex4 td select { width: 80%; font-size: 14px; color: #808080; height: 28px; line-height: 28px; background: #fff; border: 1px solid #ccc; text-indent: 1em; float: left; }
.tableTex4 td .inputText1 { width: 200px; font-size: 14px; color: #808080; height: 28px; line-height: 28px; background: #fff; border: 1px solid #ccc; text-indent: 1em; float: left; }
.tableTex4 td textarea { width: 89%; font-size: 14px; color: #808080; height: 80px; line-height: 28px; background: #fff; border: 1px solid #ccc; text-indent: 1em; float: left; }
/*
.tableTex4 td span {font-size: 14px; margin-right: 10px; }
.tableTex4 td span.span01 { display: block; float: left; font-size: 14px; min-width: 20px; }
.tableTex4 td span input[type="checkbox"] { position: relative; top: 2px; margin-right: 5px; }
*/
.tableTex4 td p { float: left; width: 120px; margin-right: 10px; }
.tableTex4 td p img { float: left; width: 120px; height: 80px; }
.tableTex4 td p a.btnRed { display: block; line-height: 20px; color: #ec608d; text-align: center; }
.tableTex4 td img.img_dbtp { float: left; width: 180px; height: 130px; border: 1px solid #cccccc; margin-right: 5px; }
.tableTex4 td .timeIcon { position: absolute; right: 21%; top: 5px; height: 20px; width: 20px; display: block; z-index: 99; color: #f5962c; font-size: 14px; line-height: 20px; }
.tableTex4 td input.number { float: left; width: 100px; text-align: center; background: #fff; border: 1px solid #CCCCCC; line-height: 30px; margin: 0 5px; }
.tableTex4 td a.a_number { background: #E6E6E6; border: 1px solid #CCCCCC; display: block; text-align: center; width: 30px; line-height: 30px; float: left; }
.tableTex4 td .btnBlue { display: block; width: 60px; text-align: center; height: 30px; line-height: 30px; float: left; font-size: 12px; color: #fff; border-radius: 2px; background: #2391FF; margin: 25px 0 0 0; }
.tableTex4 td .btnBlue2 { display: block; width: 60px; text-align: center; height: 30px; line-height: 30px; float: left; font-size: 12px; color: #fff; border-radius: 2px; background: #2391FF; padding: 0 10px; margin-right: 5px; }
.tableTex4 td .btnGreen { display: block; width: 60px; text-align: center; height: 30px; line-height: 30px; float: left; font-size: 12px; color: #fff; border-radius: 2px; background: #27D07C; margin: 25px 0 0 10px; }
.tableTex4 td a.btnOrange { line-height: 130px; color: #f5962c; }
.contentAll .tableTex0 {width: 90%;float: left;margin: 5px auto;}
.tableTex0 th {background: #E6E6E6;width: auto;padding: 0 5px;border-top: 1px solid #CECECE;text-align: left;line-height: 30px;}
.tableTex0 td { text-align: left; line-height: 20px; width: auto; padding: 5px; }
.contentAll .tableTex4_table { width: 80%; float: left; margin: 0 auto; border-top: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; background: #fff; }
.tableTex4_table th { background: #E6E6E6; width: 15%; padding: 5px; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; text-align: left; line-height: 30px; }
.tableTex4_table td { text-align: left; line-height: 20px; width: 35%; padding: 5px; border-bottom: 1px solid #CCCCCC; }
.tableTex4_table td .inputText { width: 80%; font-size: 14px; color: #808080; height: 28px; line-height: 28px; background: none; border: none; text-indent: 1em; float: left; }
/*收缩 lc*/
.cerrar {background: url(../images/packUpBgd1.png) no-repeat right 5px!important;}
.settings1 {z-index: 88;width: 100%;display: block;overflow: hidden;cursor: pointer;background: url(../images/packUpBgd1.png) no-repeat right -21px;height: 30px;padding: 3px 0;border: none;line-height: 30px;}
/* 弹出框口 */
.reveal-modal-bg { position: fixed; height: 100%; width: 100%; background-color: #000; z-index: 100; display: none; top: 0; left: 0; }
.reveal-modal { visibility: hidden; top: 100px; left: 10%; border-radius: 5px; width: 80%; background: #fff; position: absolute; z-index: 101; }
.reveal-modal .close-reveal-modal { font-size: 30px; line-height: .5; position: absolute; top: 20px; right: 20px; color: #EC608D; font-weight: bold; cursor: pointer; }
.reveal-modal h2 { line-height: 60px; text-align: center; font-size: 18px; color: #333; border-bottom: 1px solid #CECECE; }
.reveal-modal .tableTex3 { width: 95.8%; padding-top: 20px; margin: 15px auto 0; padding-bottom: 15px; background: #F5F5F5; }
.reveal-modal .tableTex0 { width: 95.8%; margin: 10px auto; }
.reveal-modal .tableTex0 th { background: #F5F5F5; }
.reveal-modal .tableTex0 th, .reveal-modal .tableTex0 td { width: auto; text-align: center; padding: 10px 0; line-height: 25px; }
.reveal-modal .tableTex0 tr:hover { background: #F5F5F5; }
/* 报错页面 */
.list_error { text-align: center; margin: 50px auto; height: auto; overflow: hidden; }
.list_error h4 { color: #ec608d; font-size: 18px; font-weight: normal; }
.list_error p { text-align: center; color: #ec608d; font-size: 14px; }
.tableTex3 tr td .inputText_error { border: 1px solid #ec608d; }
.tableTex3 tr td .img_error { float: left; margin-left: 10px; position: relative; top: 5px; }
.tableTex3 tr td p.p_error { font-size: 12px; color: #ec608d; height: auto; overflow: hidden; width: 100%; line-height: 16px; }
.tableTex4 tr td .inputText_error { border: 1px solid #ec608d; }
.tableTex4 tr td .img_error { float: left; margin-left: 10px; position: relative; top: 5px; }
.tableTex4 tr td p.p_error { font-size: 12px; color: #ec608d; height: auto; overflow: hidden; width: 100%; line-height: 16px; }
/* 标书新增 9.20 */
.tableTex4 td .table_03 { width: 350px; border-collapse: collapse; margin-top: 10px; float: left; border: 1px solid #e5e5e5; }
.tableTex4 td .table_03 th { background: #FCFCFC; text-align: left; line-height: 40px; font-weight: normal; padding: 0; font-size: 14px; color: #666; }
.tableTex4 td .table_03 th img { position: relative; top: 5px; margin: 0 10px; }
.tableTex4 td .table_03 td { text-align: center; background: #fff; padding: 0 5px; font-size: 14px; color: #666; }
.tableTex4 td .table_03 td input[type="text"] { width: 100px; float: left; border: 1px solid #e5e5e5; line-height: 30px; height: 30px; text-indent: 1em; font-size: 14px; }
.tableTex4 td p.p_detail {width: 100%;font-size: 12px;}
.tableTex4 td p.p_detail a {color: #0046aa;font-size: 12px;}
/*
.tableTex4 td ul { height: auto; overflow: hidden; width: 100%; }
.tableTex4 td ul li { width: 180px; overflow: hidden; margin: 0 5px 0 0; float: left; }
.tableTex4 td ul li .img_width { width: 180px; overflow: hidden; height: 130px; }
.tableTex4 td ul li p { text-align: center; color: #29BCEF; padding: 0; text-decoration: underline; width: 100%; }
*/
.tableTex4 td a.btn { border: 1px solid #e5e5e5; color: #0046aa; padding: 8px 20px; background: #fff; }
.tableTex4 td .table_02 { width: 50%; border-collapse: collapse; margin-top: 10px; background: #fff; }
.tableTex4 td .table_02 th {background: #FCFCFC;width: auto;padding: 0 5px;border: 1px solid #e5e5e5;text-align: center;line-height: 30px;}
.tableTex4 td .table_02 td {border: 1px solid #e5e5e5;text-align: center;padding: 0 5px;}
.tableTex4 td .table_02 td a { color: #0046aa; }
.tableTex4 td .table_02 td ul li { margin: 0 5px 0 0; float: left; width: auto; }
.tableTex4 td .table_02 td ul li .img_width { width: 60px; overflow: hidden; height: 42px; }
/* 退出弹出框 */
.reveal-modal-bg1 { position: fixed; height: 100%; width: 100%; background-color: #000; z-index: 100; display: none; top: 0; left: 0; }
.reveal-modal1 { visibility: hidden; top: 100px; left: 46%; margin-left: -300px; width: 50%; background: #FFF; position: absolute; z-index: 101; }
.reveal-modal1 .close-reveal-modal1 { position: absolute; top: 18px; right: 15px; cursor: pointer; background: url(../images/closeIcon.png) no-repeat; display: block; width: 24px; height: 24px; }
.reveal-modal1 .reveal-modal_T1 { width: 100%; height: auto; overflow: hidden; background: #86cfff; line-height: 60px; }
.reveal-modal1 .reveal-modal_T1 h2 { font-size: 18px; color: #fff; padding-left: 30px; }
.reveal-modal1 .reveal-modal_T1 img { position: relative; top: 5px; margin: 0 3px 0 10px; }
.reveal-modal1 .reveal-modal_B1 div.hintBox { padding: 40px 0 0 26%; }
.reveal-modal1 .reveal-modal_B1 div h1 { width: 70%; float: left; padding-left: 20px; font-size: 16px; color: #444; margin: 20px 0; font-weight: normal; }
.reveal-modal1 .reveal-modal_B1 div img { display: block; float: left; }
.reveal-modal1 .reveal-modal_B1 p { width: 48%; margin: 0 auto; font-size: 14px; text-align: left; color: #444; padding: 30px 0 70px 0; }
.reveal-modal1 .reveal-modal_B1 div { padding-left: 30%; overflow: hidden; }
.reveal-modal1 .reveal-modal_B1 div input[name="button2"] { margin-left: 20px; margin-bottom: 20px; }
/* --- 弹出框按钮样式 --- */
.Btn1 { color: #fff; float: left; width: 130px; height: 34px; text-align: center; border: none; font-size: 14px; font-weight: normal; cursor: pointer; border-radius: 3px; margin-left: 10px; }
.submitBtn1 { background: #0046aa; }
.submitBtn1:hover { background: #0046aa; }/*提交按钮样式*/
.amendBtn1 { background: #2291ff; }
.amendBtn1:hover { background: #2291ff; }/*修改按钮样式*/
/* --- error --- */
.error { background: #f4f4f4; margin: 20px 0 0; text-align: center; padding: 0 0 40px; }
.error_div { position: relative; width: 260px; margin: 0 auto; z-index: 2; top: 190px; padding-left: 40px; }
.error_div h2 { font-size: 48px; color: #d30b12; line-height: 60px; letter-spacing: 2px; }
.error_div h4 { font-size: 20px; color: #848484; line-height: 40px; letter-spacing: 2px; }
.error_div p { text-align: center; color: #666; font-size: 14px; margin: 10px 0; line-height: 30px; letter-spacing: 1px; }
.error_div p a { text-decoration: underline; color: #d30b12; font-size: 14px; }
.error_img { position: relative; top: -80px; }
/* 评选-对比 */
.contentAll table.selection_contrast_table { width:98%; margin:10px 1%;}
.selection_contrast_table th {width:12%; font-size:14px; font-weight:normal; text-align:left; background:#F5F5F5; padding:0 10px; line-height:35px; vertical-align:top;}
.selection_contrast_table td {width:22%; vertical-align:top;font-size:14px; padding:5px 10px; text-align:center;}
.selection_contrast_table td img.img_photo { width:180px; height:120px; text-align:center;}
.selection_contrast_table td p { line-height:25px; font-size:14px; color:#666;}
.selection_contrast_table td h5 { font-size:18px; color:#C00; font-weight:normal;}
.selection_contrast_table td h4 { font-size:16px; color:#333; font-weight:normal; line-height:35px;}
/*页签链接样式----------20161213-----------*/
.menuSmall{ width:98%; padding:6px 1% 10px; overflow:hidden;}
.menuSmall a{ display:block; float:left; background:#29bcef; color:#fff; padding:10px 20px; margin-left:10px; border-radius:2px;}
.menuSmall a:hover{ background:#2291ff url(../images/row.png) no-repeat center bottom;}
.menuSmall a.msHover{ background:#2291ff url(../images/row.png) no-repeat center bottom;}
/*地图搜索样式----------20161213-----------*/
.mapBox{ width:68%; float:left; min-height:764px; margin:15px 0 10px 0;}
.searchBox{ width:38%; float:left; background:#f4f4f4; margin:10px 1%; overflow:hidden; padding:10px 0; min-height:480px;}
.searchStyle1{ width:100%; float:left; margin-left:1%; margin-bottom:6px;}
.searchStyle1 p{ width:26%; float:left; line-height:24px; }
.searchStyle1 select{ width:35%; float:left; margin-right:1%; height:24px; line-height:24px;}
.searchStyle2{ width:100%; float:left; margin-left:1%;}
.searchStyle2 p{ width:26%; float:left; line-height:30px;}
.searchStyle2 select{ width:23%; float:left; margin-right:1%; height:24px; line-height:24px;}
.searchStyle3{ width:100%; float:left; margin-left:1%;}
.searchStyle3 p{ width:26%; float:left; line-height:30px;}
.searchStyle3 input{ float:left; margin-right:1%; height:24px; line-height:24px; margin-left:8px;}
.searchStyle3 span{ float:left; height:24px; line-height:24px; display:block; margin-left:3px; }
.moreBtn{ width:40%; margin:0 auto; height:24px; line-height:24px; text-align:center; display:block; background:#29bcef; color:#fff; border-radius:2px;
margin-bottom:10px;}
.showB{ width:100%;}
.searchStyle4{ width:49%; float:left; margin-left:1%;}
.searchStyle4 p{ width:35%; float:left; line-height:30px;}
.searchStyle4 input{ width:61%; float:left; margin-right:1%; height:24px; line-height:24px;}
.searchStyle5{ width:99%; float:left; padding-left:1%; background:#ccc; margin-bottom:5px;}
.searchStyle5 p{ float:left; line-height:30px;}
.searchStyle5 input{ float:left; margin-left:1%; height:24px; line-height:24px; margin-top:5px;}
.searchStyle6{ width:49%; float:left; margin-left:1%;}
.searchStyle6 p{ width:50%; float:left; line-height:30px;}
.searchStyle6 input{ width:46.4%; float:left; margin-right:1%; height:24px; line-height:24px;}
.searchStyle7{ width:99%; float:left; margin-left:1%;}
.searchStyle7 p{ width:32%; float:left; line-height:30px;}
.searchStyle7 input{ width:56.4%; float:left; margin-right:1%; height:24px; line-height:24px;}

/*查找欧普经销商--------查询样式*/
.searchBox2{ width:25%; float:left; background:#f4f4f4; margin:15px 0 10px 0;  padding:10px 0; min-height:480px; 
border:1px solid #ccc;border-left: none;}
.titleSearch{ font-size:24px; font-weight:normal; color:#222; width:98%; padding-left:2%; margin-bottom:10px;}
.classes0{width:96%; background:#fff; padding:0 2%; border-bottom:1px solid #f0f0f0; font-size:14px; overflow:hidden;}
.classes0 p{ width:38%; float:left; padding:8px 0;}
.classes0 select{ width:35%; float:left; border:0; font-size:14px; color:#666; padding:10px 0; margin-left:1%;}
.classes0 input{ width:60%; float:left; border:0; font-size:14px; color:#666; padding:10px 0; margin-left:1%;}
.classes1{ width:96%; background:#fff; padding:10px 2%; border-bottom:1px solid #f0f0f0; font-size:14px;}
.classes1 img{ float:right;}
.classes1 .s{ width:38%; display:inline-block;}
.classes2{ width:96%; background:#fff; padding:10px 2%; border-bottom:1px solid #f0f0f0; font-size:14px; overflow:hidden;}
.classer2_01{ width:20%; display:inline-block; float:left;}
.annotation{ color:blue; float:right; width:80%; line-height:20px;}
.resultBtn{ width:92%; border-width: 0;margin:0 auto; padding:10px 0; text-align:center; background:#0146ab; color:#fff; display:block; margin-top:10px; font-size:14px;font-family: "微软雅黑"}
.annotation{ color:blue; margin-left:20px;float:right;}
.resultTitle{ width:100%; background:#d8d8d8; margin: 15px 0 5px;padding: 10px 0 10px 2%; width:98%; font-weight:normal;}



.listBox{ width:95%; border-bottom:1px solid #ccc; overflow:auto; padding:6px 0;cursor:pointer;}
.listBox:hover{background-color:white;}
.listBox .images{ width:18%; float:left;height:auto; display:block; text-align:center;margin-top: -10px;}
.listBox .images img{80%}

.numberBox{ background:#0146ab; border-radius:16px; color:#fff; display:block; width:26px; height:26px; line-height:26px; font-weight:bold; 
text-align:center; margin:12px 0 0 15%;}
.name{ width:73%; float:left; height:auto; line-height:26px;font-size:14px ;}

.promotion{width:8%; float:left; height:auto;margin-top: 2px;}
.promotion img{width: 100%;height: 100%;}
.dress{ width:73%; float:left; height:auto; line-height:16px;margin-left: 18%;font-size:14px ;}

.secondaryMenu{ position:absolute; width:0px;transition: width 0.3s; top:-89px;height: 131%; right:0; background:#fff; z-index:99;overflow: hidden;}
.secondaryMenu .classes1:hover{background: #dbd6d5;cursor: pointer;}

.secondaryMenu .submitBtn2{width:92%; margin:0 auto; padding:10px 0; text-align:center; background:#0146ab; color:#fff; 
display:block; margin-top:10px; font-size:14px;}


.secondaryMenu2{ overflow: hidden;position:absolute; width:0px;transition: width 0.3s;height: 131%;right:240px;top:-90px;  background:#fff; z-index:99;}
.secondaryMenu2 .submitBtn2{width:92%; margin:0 auto; padding:10px 0; text-align:center; background:#0146ab; color:#fff; 
display:block; margin-top:10px; font-size:14px;}
.secondaryMenu2 .classes1:hover{background: #dbd6d5;cursor: pointer;} 


.secondaryMenu4{position:absolute;overflow: hidden; width: 0;transition: width .3s; top:-90px;height: 131%;right:0; background:#fff; z-index:99;border: 0;}

.secondaryMenu4 .classes1:hover{background: #dbd6d5;cursor: pointer;}
.secondaryMenu4 .submitBtn2{width:92%; margin:0 auto; padding:10px 0; text-align:center; background:#0146ab; color:#fff; 
display:block; margin-top:10px; font-size:14px;}


input[type='button']{cursor:pointer;}



.secondaryMenu5{ position:absolute; width: 0;overflow: hidden;transition: width .3s; top:-90px;height: 131%;right:240px; background:#fff; z-index:9999;border: 0;}
.secondaryMenu5 .submitBtn2{width:92%; margin:0 auto; padding:10px 0; text-align:center; background:#0146ab; color:#fff; 
display:block; margin-top:10px; font-size:14px;}
.secondaryMenu5 .classes1:hover{background: #dbd6d5;cursor: pointer;}


.result{width:400px;height:221px; overflow:hidden;}





.expendWith{width: 100%;}
.shrinkWith{width: 0;}
.s{cursor: pointer;}
.product-type-big:hover,.product-type-big1:hover{background: #dbd6d5;cursor: pointer;}/*产品大类*/
.searchBox2{position: relative;}

.ShowInfo {z-index: 99999;position: absolute;left: 0px;top: 90px;height: 0;width: 0;overflow: hidden;transition:width 1s;transition:height 1s;}
.ShowInfo .ShowInfo-text{background-color: #636363;text-align: left;color: white; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;behavior: url(PIE.htc);padding: 10px;height: 60px;width: 240px;}
.ShowInfo .icon{text-align: center;}
.ShowInfo .icon img{height: 6px;width: 12px;}
.openInfo{height: 120px;width: 260px;}
.closeInfo{height: 0;width: 0;}

.ShowInfo1 {z-index: 999;position: absolute;left: -40px;top: 45px;height: 0;width: 0;overflow: hidden;transition:width 1s;transition:height 1s;}
.ShowInfo1 .ShowInfo-text1{background-color: #000;text-align: left;color: white; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;behavior: url(PIE.htc);padding: 10px;height: 40px;width: 255px;}
.ShowInfo1 .icon1{text-align: center;}
.ShowInfo1 .icon1 img{height: 6px;width: 12px;} 
.openInfo1{height: 120px;width: 280px;}
.closeInfo1{height: 0;width: 0;}

.ShowInfo2 {z-index: 99999;position: absolute;left: 0px;top: 30px;height: 0;width: 0;overflow: hidden;transition:width 1s;transition:height 1s;}
.ShowInfo2 .ShowInfo-text2{background-color: #636363;text-align: left;color: white; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;behavior: url(PIE.htc);padding: 10px;height: 20px;width: 240px;}
.ShowInfo2 .icon2{text-align: center;}
.ShowInfo2 .icon2 img{height: 6px;width: 12px;}
.openInfo2{height: 50px;width: 260px;}
.closeInfo2{height: 0;width: 0;}
 
::-webkit-input-placeholder { text-indent:0.1em; color: #474747;}
::-moz-placeholder { text-indent:0.1em; color: #474747;} /* firefox 19+ */
:-ms-input-placeholder { text-indent:0.1em;color: #474747; } /* ie */
input:-moz-placeholder { text-indent:0.1em;color: #474747; }

.result .mCustomScrollbar .mCustomScrollBox .mCSB_container{font-family:"微软雅黑"}